



@media (max-width: 1024px) {
	.css-class-wrapper-update-fake #idea-state .state .tip {
	  display: block;
	}
}


@media (max-width: 979px) {
	
	.aui .btn {
	  margin-top: 5px;
	  width: auto;
	}
	
	.css-class-wrapper-update-fake .sectionAttachment {
	  display: block;
	  overflow: auto;
	  width: 100%;
	}
	
	.css-class-wrapper-update-fake #cw-panelContent #checkGroup {
	  display: inline-block;
	  width: auto;
	}
	.css-class-wrapper-update-fake .coworkers-search-box {
	  vertical-align: top;
	}
	
}
	
@media (max-width: 767px) {
 	
 	.aui h2 {
	  font-size: 28.5px;
	}
	
	.css-class-wrapper-update-fake .section #imgDiv {
	  display: inline-block;
	  float: none;
	  margin: 40px auto;
	  width: 50%;
	}
	
	.css-class-wrapper-update-fake .section #generalInfoDiv {
	  display: block;
	  float: none;
	  margin-top: 40px;
	  width: auto;
	}
 }
 
@media (max-width: 480px) {
	
	.aui h2 {
	  font-size: 24.5px;
	}
	.css-class-wrapper-update-fake .section #imgDiv {
	    width: 100%;
	}
	
	.css-class-wrapper-update-fake #idea-state {
	  width: auto;
	}
	.css-class-wrapper-update-fake #idea-state .state {
	  min-width: 70px;
	  width: auto;
	}
	
	.css-class-wrapper-update-fake #idea-state .state .ico-state {
	  font-size: 20px;
	}
	
	.css-class-wrapper-update-fake #idea-state .state .tip {
	  display: block;
	  font-size: 10px;
	  width: 100%;
	}
	
	.css-class-wrapper-update-fake button.btnTop {
	  bottom: 55px;
	}
	
	#tagsSection .btn-group button.btn {
	    display: block;
	}
}