@import url(micro-portlet-core1.css);
@import url(micro-portlet-core2.css);

/* 1 Correction styles than the Main Theme Stylish */
	html.aui body[class] #main-content .need-reports-cittadino-portlet.portlet-boundary,
	html.aui body[class] #main-content .need-reports-portlet.portlet-boundary,
	html.aui body[class] #main-content .statistiche-portlet.portlet-boundary,
	html.aui body[class] #main-content .challenge-explorer-portlet.portlet-boundary,
	html.aui body[class] #main-content .idea-explorer-portlet.portlet-boundary,
	html.aui body[class] #main-content .gare-preferite-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .idee-cui-collaboro-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .le-mie-idee-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .le-mie-gare-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .idee-preferite-micro-portlet.portlet-boundary {
	  box-shadow: none;
	  margin: 8px 0;
	  padding: 0;
	}
	
	html.aui body[class] .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
	  margin: 0;
	}
	html.aui body[class] .columns-max .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
	  margin: 0;
	  padding: 0 10px 3px 0;
	}
	
	html.aui body[class] .need-reports-cittadino-portlet section.portlet,
	html.aui body[class] .need-reports-portlet section.portlet,
	html.aui body[class] .statistiche-portlet section.portlet,
	html.aui body[class] .challenge-explorer-portlet section.portlet,
	html.aui body[class] .idea-explorer-portlet section.portlet,
	html.aui body[class] .gare-preferite-micro-portlet section.portlet,
	html.aui body[class] .idee-cui-collaboro-micro-portlet section.portlet,
	html.aui body[class] .idee-preferite-micro-portlet section.portlet,
	html.aui body[class] .le-mie-idee-micro-portlet section.portlet,
	html.aui body[class] .le-mie-gare-micro-portlet section.portlet {
	  margin-top: 26px;
	}
	html.aui body[class] .need-reports-portlet .portlet-topper,
	html.aui body[class] .need-reports-cittadino-portlet .portlet-topper,
	html.aui body[class] .statistiche-portlet .portlet-topper,
	html.aui body[class] .challenge-explorer-portlet .portlet-topper,
	html.aui body[class] .idea-explorer-portlet .portlet-topper,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-topper,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-topper,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper {
	  top: -15px;
	}
	
	html.aui body[class] .need-reports-portlet .portlet-content,
	html.aui body[class] .need-reports-cittadino-portlet .portlet-content,
	html.aui body[class] .statistiche-portlet .portlet-content,
	html.aui body[class] .challenge-explorer-portlet .portlet-content,
	html.aui body[class] .idea-explorer-portlet .portlet-content,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-content,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-content,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-content,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-content,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-content {
	  box-shadow: none;
	  padding: 0;
	  margin-top: 0;
	}

/* 1 END*/
	
	
/* 2 Main Style Microportlet */
.need-reports-cittadino-portlet,
.need-reports-portlet,
.statistiche-portlet,
.challenge-explorer-portlet,
.idea-explorer-portlet,
.gare-preferite-micro-portlet,
.idee-cui-collaboro-micro-portlet,
.idee-preferite-micro-portlet,
.le-mie-idee-micro-portlet,
.le-mie-gare-micro-portlet {
		
	width: 100%;
	margin: 28px 0;
	
	.box-wrap {
		display: -webkit-box;
		display: -moz-box;
		display: box;
	
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		box-align: stretch;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
	}
	
	.box-wrap-horizontal {
	
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		box-orient: horizontal;
	}
	.box-wrap-vertical {
	
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}

	/*EXTERNAL ALIGN Horizontal*/
	
	.box-1-horizontal {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	
	.box-2-horizontal {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}
	
	
	/*INNNER VERTICAL ALIGN*/
	
	.box-1-vertical {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	
	.box-2-vertical {
		-webkit-box-flex: 4;
		-moz-box-flex: 4;
		box-flex: 4;
	
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}
	
	.box-3-vertical {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		box-ordinal-group: 3;
	}

	/* Header Bar */
	.portlet-topper {
	
	}

	.btn-group {
	  display: inline-block;
	  font-size: 0;
	  position: relative;
	  vertical-align: middle;
	  white-space: nowrap;
	  width: 33px;
	}
	.icon-cog {
	  padding: 7px 8px;
	}
	
	.portlet-title-text {
/* 	  display: none; */
	}
	.portlet-title {
/* 	  display: none; */
	}
	
	 /* IMAGE */
 	
 	.microportlet-img {
/* 	  background-color: transparent; */
/* 	  background-image: url("../img/microimgs/left-img.jpeg"); */
/* 	  background-repeat: no-repeat; */
/* 	  background-size: cover; */
	  
/* 	  background: #fcba79 url(../imgs/center-img.jpeg) top center no-repeat !important; */
	}
 	
 	.microportlet-img-vertical {
	  background-position: 50% 50%;
	  height: 10em;
/* 	  width: 100%; */
	  
		-webkit-border-bottom-left-radius: 0px !important;
		-webkit-border-bottom-right-radius: 0px !important;
		-moz-border-radius-bottomleft: 0px !important;
		-moz-border-radius-bottomright: 0px !important;
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
/* 	 	border-radius: 0 !important; */
	}
 	.microportlet-img-horizontal {
	  background-position: 10% 50%;
/* 	  height: 100%; */
	  width: 15em;
	  
		-webkit-border-top-right-radius: 0px !important;
		-webkit-border-bottom-right-radius: 0px !important;
		-moz-border-radius-topright: 0px !important;
		-moz-border-radius-bottomright: 0px !important;
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	 
	}

	
	.microportlet-wrapper{
	
	  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	  margin-top: -16px;
	  border-radius: 2px;
	  width: 100%;
	}

	.microportlet-content{
		width: 100%;
	}
	
	
	/* HEADER */
	.micro-header {
	  background-color: transparent;
	  display: inline-block;
	  padding: 10px;
	  text-align: left;
	}
	.micro-header-center {
	  width: 100%;
	}
	.micro-header-left {
	  width: 30em;
	}
	
	.micro-header h1{
		font-size: 24px;
		font-weight: 400;
	}
	
	/* CONTENT */
	.microportlet-body{
		width: 100%;
		display: block;
	}
	
	.micro-section {
	  padding: 16px;
/* 	  width: 100%; */
	}
	.lineDiv {
	  /*border-bottom: 1px solid #efefef;*/
	  margin-bottom: 10px;
	}
	
/* 	.lineDiv a { */
/* 	  	display: inline; */
/*     	float: left; */
/*     } */
	.lineDiv a {
	    display: block;
	    float: left;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 215px;
	}
									
	.lineDiv a:hover {
	  text-decoration: none;
	}
	
	.lineDiv .secondoPiano.moreInfo a {
	  cursor: pointer;
	  display: block;
	  float: right;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  width: 90%;
	}
	
	.lineDiv > hr {
	  margin: 5px 0 10px;
	}
	.lineDiv .divFeatures {
	  	display: inline-block;
/* 	  	padding: 5px 15px; */
	}
	.lineDiv .ideeXGare .divFeatures {
	  margin-top: 5px;
	  width: 100%;
	}
	.lineDiv .divFeatures > p {
	  margin-bottom: 0px;
	}
	
	.micro-footer-center {
	  width: 100%;
	}
	.micro-footer-left {
	  width: 30em;
	}
	
	.micro-footer {
	  display: flex;
	  display: -webkit-flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  justify-content: flex-end;
	  -webkit-justify-content: flex-end;
	  text-align: center;
	}
	.micro-footer-start {
	  display: flex;
	  display: -webkit-flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  justify-content: flex-start;
	  -webkit-justify-content: flex-start;
	  text-align: center;
	}
	
	.boldText {
	  /*color: #333;*/
	  font-weight: bold;
	}
	
	.sectionTitle {
	   /* color: #333;*/
	    display: inline-block;
	    text-align: center;
	    text-transform: uppercase;
	    width: 100%;
	    margin: 0 0 20px 0;
	}
	span .sectionTitle {
	  	/*color: #888;*/
	    font-size: 11px;
	   	line-height: 8px;
	   	margin-right: 4px;
	}
	
	.secondoPiano {
	    /*color: #888;*/
	    font-size: 10px;
    	line-height: 12px;
    	margin-right: 4px;
    	text-align: right;
	}
	.secondoPiano.microlabel {
	    display: inline-block;
	    min-width: 30px;
	}
	.moreInfo {
	    display: inline-block;
	    width: 100%;
	}
	
	.infoText {
	  font-style: italic;
	  padding: 5px;
	  text-align: center;
	}

/* *** Button Style *** */
	
	.button {
	 /* background: #FFFFFF; */
	 /* color: #333; */
	  float: left;
	  min-width: 64px;
	  max-width: 115px;
	  display: block;
	  margin: .5em;
	  padding: .5em 1em;
	  border: none;
	  background: none;
	  color: inherit;
	  vertical-align: middle;
	  position: relative;
	  z-index: 0;
	  -webkit-backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	}
	.button:hover,
	.button:active {
	  text-decoration: none;
	}
	.button:focus {
		outline: none;
	}
	.button > span {
		vertical-align: middle;
		text-transform: uppercase;
	}
	

/* Ujarak */
	.button--ujarak {
		-webkit-transition: color 0.4s;
		transition: color 0.4s;
	}
	.button--ujarak::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/*background: #B6BD00;*/
		z-index: -1;
		opacity: 0;
		-webkit-transform: scale3d(0.7, 1, 1);
		transform: scale3d(0.7, 1, 1);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
		transition: transform 0.4s, opacity 0.4s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	.button--ujarak,
	.button--ujarak::before {
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	.button--ujarak:hover {
		/*color: #fff;*/
	}
	
	.button--ujarak:hover::before {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	
	.actionButtons {
	  margin: 10px 0 25px;
	  text-align: center;
	}
	.actionButtons button {
	    /*background-color: #67B2E8;*/
	    background-image: none;
	    /*border: 1px solid #67b2e8;*/
	    border-radius: 50%;
	    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
	    /*color: white;*/
	    font-size: 2em;
	    font-family: roboto;
	    height: 50px;
	    margin: 0 10px;
	    text-shadow: none;
	    width: 50px;
	}
	.actionButtons button:hover {
	   /* background-color: #67B2E8;*/
	    /*background-image: none;*/
/*	    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
/*	    color: white;*/
	    text-shadow: none;
	}
	.actionButtons input.addButton {
	   /* background-color: #67B2E8;*/
/*	    background-image: none;*/
	/*    border: 1px solid #67b2e8;*/
	    border-radius: 50%;
/*	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
/*	    color: white;*/
	    font-size: 2em;
	    font-family: roboto;
	    height: 50px;
	    margin: 0 10px;
	    text-shadow: none;
	    width: 50px;
	    
	    transition: all 0.3s ease 0s;
	    transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	.actionButtons input.addButton:focus {
		outline-style: none;
	}
	.actionButtons input.addButton:hover {
	    /*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
	    
	    transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	.actionButtons input.addButton.openAddMenu {
	    transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}

}
/* 2 END */

/* EXPANDED */

	.columns-max .ideeXGare {
	 /* border-bottom: 1px solid #efefef;*/
	  margin-top: 40px;
	  padding-bottom: 20px;
	}
	
	.columns-max #contentMacro {
	  margin-top: 55px;
	}
	
	.columns-max #contentMacro form {
	  margin: -55px 0 20px;
	}
	.cardContent {
	  display: flex;
	  display: -webkit-flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  justify-content: flex-start;
	  -webkit-justify-content: flex-start;
	}
	.columns-max .lineDiv {
	 /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);*/
	  display: inline-block;
	  margin: 7px 5px;
	  min-width: 20%;
/* 	  max-width: 45%; */
	  padding: 3px 6px;
	  width: 290px;
	  vertical-align: top;
	  
/* 	  display: -webkit-box; */
/* 	  display: -moz-box; */
/* 		display: box; */
	
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		box-orient: horizontal;
	
		-webkit-box-align: center;
		-moz-box-align: center;
		box-align: center;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: start;
		-moz-box-pack: start;
		box-pack: start;
	}
	.columns-max .lineDiv .divFeatures{
		vertical-align: middle;
		line-height: 30px;
		display: inline-block;
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		box-flex: 0;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	.columns-max .cruscotto-myIdeaImg {
	  display: inline-block;
	  height: 100px;
	  margin: 10px;
	  width: 100px;
	  
	  -webkit-box-flex: 0;
		-moz-box-flex: 0;
		box-flex: 0;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	.columns-max .cruscotto-myIdeaImg {
	  margin: 10px;
	  max-height: 60px;
	  max-width: 60px;
	  min-height: 60px;
	  min-width: 60px;
	  vertical-align: top;
	}
	
	
/* 	.columns-max .actionButtons { */
/* 	  left: -1px; */
/* 	  margin: 0 auto; */
/* 	  position: fixed; */
/* 	  right: -1px; */
/* 	  top: 160px; */
/* 	} */
	.columns-max .actionButtons {
	  left: -1px;
	  margin: 0 auto;
	  position: fixed;
	  right: -1px;
	  top: 160px;
	  width: 0;
	}

	.columns-max .actionButtons .button {
	  max-width: 100%;
	  margin: 0 0.5em;
	  
	  opacity: 0;
		transition: All 1s ease;
		-webkit-transition: All .5s ease;
		-moz-transition: All .5s ease;
		-o-transition: All .5s ease;
		transform: scale(0.8) translateY(-30px);
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
	}

/* 	.columns-max .actionButtons > span { */
/* 	  display: inline-block; */
/* 	  height: 60px; */
/* 	  left: 0; */
/* 	  position: fixed; */
/* 	  right: 0; */
/* 	  width: 100%; */
/* 	  z-index: 100; */
/* 	} */
	.columns-max .actionButtons > span {
	  display: inline-block;
	  height: 60px;
	  left: 50%;
	  position: fixed;
	  width: 0px;
	  z-index: 100;
	  margin-left: -25px;
	  width: auto;
	}
	
	.columns-max .actionButtons ul {
		list-style: outside none none;
		margin: 0 20px;
		width: auto;
		transition: all 0.3s ease 0s;
		
		display: -webkit-box;
		display: -moz-box;
		display: box;
	
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	
		-webkit-box-align: start;
		-moz-box-align: start;
		box-align: start;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: start;
		-moz-box-pack: start;
		box-pack: start;
		
		transition: All .5s ease;
		-webkit-transition: All .5s ease;
		-moz-transition: All .5s ease;
		-o-transition: All .5s ease;
		transform: translateY(5px) translateX(-10px);
		-webkit-transform: translateY(5px) translateX(-10px);
		-moz-transform: translateY(5px) translateX(-10px);
		-o-transform: translateY(5px) translateX(-10px);
		-ms-transform: translateY(5px) translateX(-10px);

	}
	
	.columns-max .actionButtons ul.openAddMenu{
	
		transform: translateY(60px) translateX(-10px);
		-webkit-transform: translateY(60px) translateX(-10px);
		-moz-transform: translateY(60px) translateX(-10px);
		-o-transform: translateY(60px) translateX(-10px);
		-ms-transform: translateY(60px) translateX(-10px);

	}

	
	.columns-max .actionButtons ul li{
	
		margin-left: -40px;
	
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		box-flex: 0;
	
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	
	.columns-max .actionButtons ul.openAddMenu li a.button{
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);

	}
	.columns-max .actionButtons .itemMenu{
  		/*text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);*/
  		
		display: -webkit-box;
		display: -moz-box;
		display: box;
	
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		box-orient: horizontal;
	
		-webkit-box-align: start;
		-moz-box-align: start;
		box-align: start;
	
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		box-direction: normal;
	
		-webkit-box-pack: start;
		-moz-box-pack: start;
		box-pack: start;
	
		width: auto;
		min-width: 164px;
	}
	.columns-max .actionButtons .itemMenu:hover{
/*		background-color: #fff;*/
  /*		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);*/
	}
	.columns-max .actionButtons .itemMenu:hover .btn_icon{
/*  		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
	}
	
	.columns-max .actionButtons .idea_icon::before {
		content: "\f0eb"; /*icon lightbulb*/
		font-family: "fontawesome-alloy";
	}
	.columns-max .actionButtons .challenge_icon::before {
		content: "\f091"; /*icon trophy*/
		font-family: "fontawesome-alloy";
	}

	.columns-max .actionButtons ul li .btn_icon{
	 /* background-color: #71C5FF;*/
	  border-radius: 50%;
/*	  color: #efefef;*/
	  display: inline-block;
	  font-size: 24px;
	  height: 40px;
	  line-height: 40px;
	  margin: 0 10px 0 0;
	  width: 40px;
	  text-shadow: none;
	/*  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
	}
	.columns-max .actionButtons ul li .btn_icon:hover{
		text-shadow: none;
	}

	.columns-max .actionButtons ul li .btn_text{
	    opacity: 0;
		display: inline-block;
		line-height: 40px;
		
		transition: all 1s ease 0s;
		-webkit-transition: All 1s ease 0s;
		-moz-transition: All 1s ease 0s;
		-o-transition: All 1s ease 0s;
	}
	.columns-max .actionButtons ul li .itemMenu:hover .btn_text {
		 /* color: #71c5ff;*/
		  font-weight: bold;
		  opacity: 1;
		  text-shadow: -1px 5px 9px rgba(0, 0, 0, 0.6);
	}
	
	.columns-max .actionButtons #singleActionBtn .btn_text {
	  display: inline-block;
	  line-height: 50px;
	  opacity: 0;
	  text-transform: uppercase;
	  transition: all 1s ease 0s;
	}
	
	.columns-max .actionButtons #singleActionBtn:hover .btn_text {
	  /*color: #71c5ff;*/
	  font-weight: bold;
	  line-height: 50px;
	  opacity: 1;
	  text-shadow: -1px 5px 9px rgba(0, 0, 0, 0.6);
	}
	
	.columns-max .actionButtons #singleActionBtn .btn_icon {
/*	  background-color: #71c5ff;*/
	  border-radius: 50%;
	 /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
/*	  color: #efefef;*/
	  display: inline-block;
	  font-size: 24px;
	  height: 50px;
	  line-height: 50px;
	  margin: 0 10px 0 0;
	  text-shadow: none;
	  width: 50px;
	}
	.columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
	 /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
	}

/*EXPANDED BTN GROUP*/
	.lineDiv .btn-group.lfr-icon-menu,
	.ideeXGare .lineDiv .btn-group.lfr-icon-menu {
	  float: right;
	  height: 40px;
	  margin: 20px;
	  padding: 0;
	  width: 40px;
	}
	.lineDiv .btn-group .dropdown-toggle.btn,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
	/*  background-color: #cac8c8;*/
	  background-image: none;
	  border: 0 none;
	  border-radius: 100%;
	/*  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);*/
	  height: 40px;
	  margin: 0;
	  padding: 0;
	  width: 40px;
	}
	.lineDiv .btn-group .dropdown-toggle.btn:hover,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
	 /*   background-color: #cac8c8;
	    background-image: none;
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	    color: white;*/
	    text-shadow: none;
	}
	.lineDiv .btn-group .dropdown-toggle img,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle img {
	  margin: 11px;
	}


/*EXPANDED BTN MANAGER*/	
	.lineDiv .divBtnManager {
	 /* border-top: 1px solid #efefef;*/
	  margin: 0;
	  padding-top: 10px;
	  text-align: center;
	  width: 100%;
	}
	.lineDiv .divBtnManager .form {
	  display: inline-block;
	  margin: 3px auto 5px;
	}
	.lineDiv .divBtnManager form .btn.btn-primary {
	  width: 200px;
	}


/*FLEX BOX*/

/* .box-horizontal-start-center { */
/* 	display: -webkit-box; */
/* 	display: -moz-box; */
/* 	display: box; */

/* 	-webkit-box-orient: horizontal; */
/* 	-moz-box-orient: horizontal; */
/* 	box-orient: horizontal; */

/* 	-webkit-box-align: start; */
/* 	-moz-box-align: start; */
/* 	box-align: start; */

/* 	-webkit-box-direction: normal; */
/* 	-moz-box-direction: normal; */
/* 	box-direction: normal; */

/* 	-webkit-box-pack: center; */
/* 	-moz-box-pack: center; */
/* 	box-pack: center; */
/* } */
/* .childbox-horizontal-start-center { */
/* 	-webkit-box-flex: 0; */
/* 	-moz-box-flex: 0; */
/* 	box-flex: 0; */

/* 	-webkit-box-ordinal-group: 1; */
/* 	-moz-box-ordinal-group: 1; */
/* 	box-ordinal-group: 1; */
/* } */

@media (max-width: 480px) {
	

}


/*IMPORTS*/
@import url(statistiche-portlet.css);
@import url(idea-explorer-portlet.css);
@import url(challenge-explorer-portlet.css);
@import url(le-mie-idee-micro.css);
@import url(le-mie-gare-micro.css);
@import url(idee-preferite-micro.css);
@import url(idee-cui-collaboro-micro.css);
@import url(gare-preferite-micro.css);
@import url(need-reports-cittadino-portlet.css);
@import url(need-reports-portlet.css);

