
.projects-class-wrapper .inline-block{
	display:inline-block;
}

.projects-class-wrapper .pj_vSection{
	width:30%;
	margin:10px;
	vertical-align:top;
}

.projects-class-wrapper img#bestMockup{
	width:100%;
	margin-bottom:10px;
	box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
}

.projects-class-wrapper .VMEprojectsLists{
	vertical-align:top;
	list-style: circle;
    max-width: 400px;
    margin:0;
}

.projects-class-wrapper .VMEprojectsLists > li{
	overflow:hidden;
	text-overflow:ellipsis;
}

@media (max-device-width: 1024px) {
	
		
	.panel.projects-class-wrapper div:first-of-type {
	  text-align: center;
	}
  
	.projects-class-wrapper #p_list{
		display:none;
	}
	
	.projects-class-wrapper .pj_vSection{
		width:50%;
		margin:0 auto;
	}


}
