
<portlet:defineObjects />

<!-- toc-wraper left -->
<!-- <div class="row toc-wrapper"> -->
	 <!-- Image -->
	 <div class="image center left-column-image">
	 	<img src="<%=urlImg%>" alt="" class="responsive-img materialboxed">
	 	<div class="sampleText"><liferay-ui:message key="ims.sample-image"/></div>
	 </div>
	<div class="top-margin"></div>
	
	 <!-- Table of Contents -->
	<div class="section toc hide-on-med-and-down">
		  
		    <div class="col m3 l12">
		      <ul class="section table-of-contents">
		        <li><a href="#introduction"><liferay-ui:message key="ims.introduction"/></a></li> 
 
		  <% if(isGaraWithPoi ){%>  
		         <li><a href="#sezgmaps"><liferay-ui:message key="ims.points-of-interest"/></a></li>
		 <%} %>
		   
		 <%if(files.size() > 0){ %>
		         <li><a href="#sezallegati"><liferay-ui:message key="ims.attached-documents"/></a></li>
		 <%} %>
		 
				<li><a href="#sezproposedideas"><liferay-ui:message key="ims.ideas-proposed"/></a></li>
	
		<c:if test="<%= ChallengesUtils.isChallengeLinkedWithManyNeeds(challengeId)  %>">
	
				<li><a href="#sezLinkedNeeds"><liferay-ui:message key="ims.challenge-based-on-need-reports"/></a></li>
	  	</c:if>
 		        <li><a href="#sezcommenti"><liferay-ui:message key="comments"/></a></li> 
		      </ul>
		    </div>
		  
	 </div>
	 
<!-- </div>fine toc-wraper left -->




<script>
$(window).on('load', function(){
	if($(".left-column-image img[src*='-portlet/img/']").length > 0) {
		$('.sampleText').css('display','block');
	}
})

</script>