<%@page import="it.eng.rspa.ideas.utils.MyConstants"%>
<%@ taglib uri="http://java.sun.com/portlet_2_0" prefix="portlet" %>
<%@ taglib uri="http://liferay.com/tld/ui" prefix="liferay-ui" %>
<portlet:defineObjects />

<!-- I contenuti di questa pagina non vengono mai mostrati direttamente
la struttura viene clonata e riempita con Ajax
 -->

	
<!-- PRIMA CARD		 -->
        <div class="col s12 m6 l4 schedaIdea" style="display:none">
        	
			<!-- CARD -->
			<div class="card  cardlink">
          		
				<!-- Card Header -->
				<%@ include file="header-card.jsp" %>
				
				<!-- Card Content -->
				<div class="card-content">
				
						<!-- Titolo e autore -->
				    	<div class="bottom-margin">
	 						<p class="card-multi-title">
	 							Titolo dell'idea

	 						</p><!-- 60 char -->
	 						<a class="titoloIdea tooltipped viewIdea" data-position="bottom" data-delay="50" data-tooltip='<liferay-ui:message key="ims.view-idea"/>' href="#" >
	 							<i class='material-icons fa-fw'>find_in_page</i>
	 						</a>
	  						<p class="grey-text text-darken-2 ">
	  						  	<label class="grey-text text-darken-2"><liferay-ui:message key="ims.submitted-by"/></label>
					         	<span  class="autoreIdea">Massimiliano Ugonotti</span>
					      	</p>
						</div>
						
						<div class="divider"></div>
						
						<!-- SubCategories -->
						<div class="section">
							<span class="paddingAll truncate">
							
							<%if (!reducedLifecycle){ %>	
								<i class="material-icons icon-asterisk tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="subcategories"/>"></i> 
							<%}else{ %>	
							<i class="material-icons icon-asterisk tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.categories"/>"></i> 
								
							<%} %>	
								
								<span class="categorieIdea">
									<small>Parks</small>,&nbsp;<small>Pollution</small>,&nbsp; <small>Public green</small>,&nbsp; 
									<small>Public orange</small>,&nbsp; <small>Secret green</small>,&nbsp; <small>Governement violet</small>
								</span>
							</span>
						</div>
						
						<div class="divider bottom-margin"></div>
						
						<!-- Date e Rating -->
					    <div class="row">
					      	<div class="col s6 center">
					      		<h6 class="weight-5"><liferay-ui:message key="ims.creation-date"/></h6>
					      		<span class="dataCreazioneIdea">20/01/2016</span>
					      	</div>
					      	<div class="col s6 center">
					      		<h6 class="weight-5"><liferay-ui:message key="ratings"/></h6>
					      		
					      		<span class="votoMedio">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-empty"></i>
								</span>
					      	</div>
					      	
					    <%if (!reducedLifecycle){ %>
						    <div class="col s12 top-margin">
								<h6 class="valign-wrapper">
									<i class="material-icons small tooltipped iconAuthority" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="organization"/>">business_center</i>
									&nbsp; <span class="enteIdea">Trento</span>
								</h6>
				            </div>
				        <%} %>	
					     </div>
				     	<div class="divider"></div>
				     	
						<!-- Immagine edescrizione -->
						<div class="section row">
						   	<div class="col s8 offset-s2 m4 l4 center-align image-card">   
						   		<img src="" alt="" class="responsive-img imgRappresentativa top-margin">
						   		<div class="sampleText flow-text weight-5"></div>
						   	</div>
						   	<div class="col s12 m8 l8">
								<div class="multi-truncate descrizioneIdea top-margin">
									<p class="descrLink">
										<!-- 
										<a href="" class="moreDescr tooltipped viewIdea" data-position="top" data-delay="50" data-tooltip='<liferay-ui:message key="ims.view-idea"/>'>
										descrizione 
										</a>
										 -->
									</p>
									<!-- 
									<a href="" class="readmore tooltipped viewIdea" data-position="bottom" data-delay="50" data-tooltip='<liferay-ui:message key="ims.view-idea"/>'>
									&nbsp;<i class="material-icons fa-fw fa-lg">more</i></a>
									 -->
								</div>
							</div>
						</div>
						<div class="divider"></div>
						
						<!-- Associazione Gara -->
						<div class="section row-last">
							<div class="col-fake">
								<h6 class="weight-5 forTheLinked"><liferay-ui:message key="ims.for-the-challenge"/></h6> 
								<span><a href="#" class="urlGara" target="_blank"><span class="titoloGara truncate">Gara di riferimento dell'idea</span>&nbsp;<i class="icon-external-link"></i></a></span>
							</div>
						</div>
				</div><!-- fine Card-content -->
				
			   <!-- Card Footer -->
			   <div class="footer-card center-align grey darken-2 white-text ideasFlow">

				<!-- elaboration -->
	              	  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_ELABORATION%> icon-lightbulb grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.elaboration-phase"/>"></span>
					  &nbsp;
<% if (!reducedLifecycle) {%>				  
					  	<span class="small iconaStato icon-angle-right"></span>&nbsp;
				<!-- evaluation -->
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_EVALUATION%> grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.evaluation-phase"/>">gavel</span>
					  &nbsp;
					  
					  	<span class="small iconaStato icon-angle-right"></span>&nbsp;
				<!-- selected -->
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_SELECTED%> grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.selected-phase"/>">check_circle</span>
					  &nbsp;
<%} %>					  
					  	<span class="small iconaStato icon-angle-right"></span>&nbsp;
				<!-- refinement -->
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_REFINEMENT%> icon-retweet grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.refinement-phase"/>"></span>
					  &nbsp;
<% if (!reducedLifecycle) {%>					  
					  	<span class="small iconaStato icon-angle-right "></span>&nbsp;
				<!-- implementation -->
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_IMPLEMENTATION%> icon-cogs grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.implementation-phase"/>"></span>
					  &nbsp;
					  
					  	<span class="small iconaStato icon-angle-right"></span>&nbsp;
				<!-- monitoring -->
				
				
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_MONITORING%> icon-desktop grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.monitoring-phase"/>"></span>
					  &nbsp;
<%}else{ %>		     
						<span class="small iconaStato icon-angle-right"></span>&nbsp;
				<!-- completed -->
					  <span class="material-icons  iconaStato <%=MyConstants.IDEA_STATE_COMPLETED%>  icon-ok-sign grey-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.completed-phase"/>"></span>
					  &nbsp;  
<%}%>					  
			    </div><!-- fine Card Footer -->
			    
			    <!-- for the Reject I change the full div -->
			    <div class="footer-card center-align grey darken-2 white-text rejectFlow" style="display:none">

						<!-- reject -->
					  <span class="material-icons iconaStato <%=MyConstants.IDEA_STATE_REJECT%>  white-text tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.reject"/>">pan_tool</span>
					  <span class="statoIdea <%=MyConstants.IDEA_STATE_REJECT%> white-text"><%=MyConstants.IDEA_STATE_REJECT%></span>&nbsp;
	              	
			    </div>
			    
				<!-- Card Back side -->
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			      <div class="divider"></div>
			      <p>Here is some more information about this product that is only revealed once clicked on.</p>
			    </div><!-- fine Card Back side -->
			    
			</div><!-- Fine CARD -->
			
		</div><!-- Fine Col Idea -->
		
<!-- 	Fine PRIMA CARD -->
