<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<%@page import="javax.portlet.ActionRequest"%>
<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>
<%@page import="java.util.Locale"%>
<%@page import="javax.portlet.PortletURL"%>
<%@page import="java.util.Set"%>
<%@page import="java.util.HashSet"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSCoworker"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSCoworkerLocalServiceUtil"%>
<%@page import="com.liferay.portal.kernel.json.JSONObject"%>
<%@page import="com.liferay.portal.kernel.json.JSONFactoryUtil"%>
<%@page import="com.liferay.portal.kernel.json.JSONArray"%>
<%@page import="com.liferay.portal.kernel.dao.orm.QueryUtil"%>
<%@page import="java.util.List"%>
<%@page import="com.liferay.portal.util.PortalUtil"%>
<%@page import="it.eng.rspa.ideas.utils.MyUtils"%>
<%@page import="com.liferay.portal.service.UserLocalServiceUtil"%>
<%@page import="com.liferay.portal.model.User"%>
<%@page import="java.util.ArrayList"%>
<%@page import="com.liferay.util.portlet.PortletProps"%>
<%@page import="com.liferay.portal.kernel.util.HtmlUtil" %>

<link href="<%=request.getContextPath()%>/css/addCollaboratorsScroll.css" rel="stylesheet"/>

<%
	/** Re-mapping con le variabili della pagina includente **/
	User curr = currentUser;
	long iid = ideaId;
	String ajaxURL = resourceURL;
	Locale loc = locale;
	
	/** Business Logic **/
	Set<User> coworkersUsers = new HashSet<User>();
	if(iid!=-1){
		List<CLSCoworker> coworkersList = CLSCoworkerLocalServiceUtil.getCoworkersByIdeaId(iid);
		for(CLSCoworker coworker: coworkersList){
			try{ 
				User u = UserLocalServiceUtil.getUser(coworker.getUserId());
				coworkersUsers.add(u);		
			}
			catch(Exception e){ e.printStackTrace(); }
		}
	}

	List<User> userList = new ArrayList<User>();
	if (isAuthor){
		List<User> userListI = UserLocalServiceUtil.getUsers(QueryUtil.ALL_POS, QueryUtil.ALL_POS);
		userList = MyUtils.getListaUtentiIMSSimpleconPilotUguali(curr, userListI);//filtro su pilot e ruolo, elimino pure utente corrente elimino gli inattivi
	
	}
	List<User> SOuserList = UserLocalServiceUtil.getSocialUsers(curr.getUserId(),  com.liferay.portlet.social.model.SocialRelationConstants.TYPE_BI_CONNECTION, 
														  QueryUtil.ALL_POS, QueryUtil.ALL_POS, null);
	
	if (isTakenUp && isEnteRiferimento )
 		userList = UpdateIdeaUtils.getListUsersOfMyCompanyNoAuthorIdea(curr, idea);
	
	JSONObject cwList = JSONFactoryUtil.createJSONObject(); 
	for(User u:userList){
		JSONObject json = JSONFactoryUtil.createJSONObject();
		
		json.put("fullname", u.getFullName());
		json.put("screenname", u.getScreenName());
		json.put("userid", u.getUserId());
		json.put("avatarUrl", HtmlUtil.escape(u.getPortraitURL(themeDisplay)).replace("amp;",""));//The replace is a workaround to error on GA3
		
		boolean isDeveloper =  MyUtils.isDeveloper(u);
		json.put("isDeveloper", isDeveloper);
		
		boolean isCompanyEmployee =  UpdateIdeaUtils.isUserOfCompanyLeaderByUserId( idea.getMunicipalityId()  , u.getUserId());
		json.put("isCompanyEmployee", isCompanyEmployee);
		
		boolean isFriend = SOuserList.contains(u);
		json.put("isFriend", isFriend);
		
		if(iid!=-1 && coworkersUsers.contains(u)){ json.put("selected", true); }
		else{ json.put("selected", false); }
		
		cwList.put(String.valueOf(u.getUserId()), json);
		
	}
%>

<div class="materialize">

	<script> var coworkers = <%=cwList.toString()%>;</script>

	<div class="row">
		<!-- Filtro di ricerca -->
	  	<div class="col s12 m12 l4 controls input-field">
				<i class="material-icons prefix">search</i>
				<input type="text" name="coworkers-terms" id="coworkers-terms">
				<label for="coworkers-terms"><span class="truncate"><liferay-ui:message key="ims.search-collaborators" /></span></label>
	  	</div>
	  	
	  	<div id="" class="col s12 m8 l6 input-field center">
			<span class="btn-container">
				<a id="uncheck-all" class="waves-effect btn core-color color-2 "><liferay-ui:message key="clear-all"/></a>
			</span>
			<%if (IdeaManagementSystemProperties.getEnabledProperty("deEnabled") && !isEnteRiferimento){%>

				<span class="btn-container">
				  	<a id="recommendation_switch-button" class="waves-effect btn core-color color-2" onclick="suggestCollaborators(this)">
				  		<liferay-ui:message key="ims.suggest-collaborator"/>
				  	</a>
			  		<liferay-ui:icon-help message="ims.tip-suggest-collaborators"/>
			  	</span>

			<% }%>
		</div>	
		
		<% if (!isEnteRiferimento){//only if it isTakenUp%>
			
		<div id="" class="col s12 m4 l2 input-field">	
			<div class="switch centerSwitch">
				<label for="onlySO" id="onlySO-label">
					<liferay-ui:message key="ims.all" />
				  <input type="checkbox" id="onlySO" />
				  <span id="onlySO_switch-button" class="lever"></span>
				  	<liferay-ui:message key="friends" /> <liferay-ui:icon-help message="ims.tip-coworkers-friends"/>
				</label>
			</div>
	  	</div>
	  	
	  	<% }%>
	  	
	  		  	
  	</div>
  	
  	<div class="row cw-list">
  		<div class="col template"> 
	  		<div class="card-panel white lighten-3 z-depth-1 hoverable "> 
	  			<div class="card-content">
	  				<div class=""> 
	  					<div class="avatar-container">
	  						<span class="ico-collab dev-logo tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="developer" />"><i class="material-icons center-align">code</i></span>
	  						<span class="ico-collab company-logo tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.company-member" />"><i class="material-icons center-align">business_center</i></span>
	  						<div class="profile-img center-align"></div>
	  					</div> 
	  				</div> 
	  				<div class="center-align"> 
	  					<span class="recommended-logo">
	  						<i class="material-icons core-color-text text-color-1-light center-align  tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="recommended" />">star_rate</i>
	  					</span>
	  					<div class="">
							<p class="truncate black-text fullname"></p>
							<p class="truncate black-text username"></p>
							
						</div> 
					</div> 
				</div>
			</div>
		</div>
    </div>
    <div id="noResult">
    	<liferay-ui:message key="there-are-no-results" />
    
     </div>
    
    
    <%
	PortletURL addCoworkers = renderResponse.createActionURL();
    addCoworkers.setParameter("ideaId", Long.toString(iid));
    addCoworkers.setParameter(ActionRequest.ACTION_NAME,"addCoworkers");
	%>
    
    
    <aui:form name="fmCoworker" method="POST" action="<%= addCoworkers.toString() %>" >
   		 <input type="hidden" id="coworkersjson" name="<portlet:namespace/>coworkersjson" />
	</aui:form>
	<div class="row">
	<div class="col s12 center">
			<button id="backCollab" class="waves-effect btn core-color color-2 "><liferay-ui:message key="close" /></button>
			<button id="saveCollab" class="waves-effect btn core-color color-2 "><liferay-ui:message key="save" /></button>
		</div>
		
	</div>
	
	
<script>

	$("#saveCollab").on('click',function(){
		
		$('#coworkersjson').val(JSON.stringify(coworkers));
		$("#<portlet:namespace />fmCoworker").submit();
		
	})
	
	$("#backCollab").on('click',function(){
		/* Hide section Authors/Collaborators */
		$("#structure").show();
		/* Show section Add Collaborators */
		$("#addCollaborators").hide();
		
	})
	
	
	
</script>


	<!-- EVENT HANDLERS -->
  	<script>
  		jQuery(document).ready(function(){
  			initializeCoworkersList();
  		});
  		
  		jQuery(document).on('click', '.cw-list .card-panel', function(){
  			var item = $(this);
  			toggleCoworkerSelection(item);
  			return false;
  		});
  		
  		jQuery(document).on('click', '#uncheck-all', function(){
  			if(jQuery('#onlySO_switch-button').closest('label').hasClass("is-checked")){
  				jQuery('#onlySO_switch-button').click();
  			}
  			
  			jQuery('#coworkers-terms').val("");
  			jQuery.each(coworkers, function(i, e){
  				e.selected = false;
  			});
  			cleanList();
  			initializeCoworkersList();
  		});
  		
  		jQuery(document).on('change', '#onlySO', function(){
  			cleanList();
  			if($(this).prop("checked")){ 
  				jQuery.each(coworkers, function(i, obj){
	  				if(obj.isFriend){
	  					var terms = jQuery('#coworkers-terms').val();
	  					if(terms.length > 2 && !matchKeyword(obj, terms)){
	  						return true;
	  					}
	  					appendCoworker(obj);
	  				}
	  			});
  			}
  			else{ initializeCoworkersList(); }
  		});
  		
  		jQuery(document).on('keyup', '#coworkers-terms', function(){
  			var terms = $(this).val();
  			
  			if(terms.length==0){
  				if(jQuery('#onlySO').prop("checked")){
  					jQuery('#onlySO').change();
  				}
  				else{
  					cleanList();
  					initializeCoworkersList();
  				}
  			}
  			else if(terms.length<=2){
  				return;
  			}
  			else{
  				
	  			cleanList();
	  			var isempty = true;
	  			jQuery.each(coworkers, function(i, obj){
	  				if(matchKeyword(obj, terms)){
	  					if(jQuery('#onlySO').prop("checked") && !obj.isFriend) 
	  						 return true;
	  					appendCoworker(obj);
	  					isempty = false;
	  				}
	  			});
	  			
	  			if(isempty){
	  				$("#noResult").show();
	  			}
  			}
  		});
  		

  	</script>
  	
  	<!-- FUNCTIONS -->
  	<script>
  	
  		function matchKeyword(obj, terms){
  			return (obj.screenname.toLowerCase().indexOf(terms.toLowerCase()) != -1 || obj.fullname.toLowerCase().indexOf(terms.toLowerCase()) != -1);
  		}
  	
  		function cleanList(){
  			$("#noResult").hide();
  			
  			var list = jQuery('.cw-list');
  			list.find('.col').not('.template').remove();
  		}
  	
  		function appendCoworker(obj){
  			var list = jQuery('.cw-list');
  			var cwtemplate = list.find('.template').first();
  			
  			var wrapper = cwtemplate.clone();
  			wrapper.removeClass('template');
  			
  			var cwitem = wrapper.find('.card-panel');
  			
  			var image = cwitem.find('.profile-img');
  			image.first().css('background-image', "url('"+obj.avatarUrl+"')");
  			
  			var username = cwitem.find('.username');
  			username.first().text(obj.screenname);
  			
  			var fullname = cwitem.find('.fullname');
  			fullname.first().text(obj.fullname);
  			
  			if(obj.isDeveloper){
  				cwitem.find('.dev-logo i').css("display","inline-block");
  			}
  			
  			if(obj.isCompanyEmployee){
  				cwitem.find('.company-logo i').css("display","inline-block");
  			}else{
  				
  				cwitem.find('.company-logo i').hide();
  			}
  				
  			
  			cwitem.attr('data-uid', obj.userid);
  			
  			setStyle(cwitem, obj);
  			
  			cwitem.find('.tooltipped').tooltip({delay: 50});
  			
  			list.append(wrapper); 
  		}
  		

  	
  		function initializeCoworkersList(){
  			
  			$("#noResult").hide();
  			
  			if (typeof coworkers === 'undefined' || Object.keys(coworkers).length == 0){
  				$("#noResult").show();
  			}
  			else{
		  			jQuery.each(coworkers, function(i, obj){
		  				appendCoworker(obj);
		  			});
  			}
  		}
  	
  		function setStyle(cwitem, cwmodel){
  			if(cwmodel.selected){
  					cwitem.removeClass('white').addClass('core-color');
  					cwitem.removeClass('lighten-3').addClass('color-2');;
			}
			else{
				cwitem.removeClass('core-color').addClass('white');
				cwitem.removeClass('color-2').addClass('lighten-3');
			}
  		}
  	
  		function toggleCoworkerSelection(item){
  			var uid = item.attr('data-uid'); 
  			var modelObj = coworkers[uid];
  			var selected = modelObj.selected;
  			
  			if(selected){ modelObj.selected = false; }
  			else{ modelObj.selected = true; }
  			
  			setStyle(item, modelObj);
  			
  		}
  		
  		function suggestCollaborators(e){
  			
  			var categories = [<%=IdeasListUtils.getCategoriesCommasForArrayJSByIdeaId(iid, loc)%>];
			var tags = [<%=IdeasListUtils.getTagsCommasForArrayJSByIdeaId(iid)%>];
			
			jQuery.post('<%=ajaxURL.toString()%>',
						{<portlet:namespace/>param:'suggestCollaborator',
					   <portlet:namespace />categories: JSON.stringify(categories),	 
					   <portlet:namespace />tags: JSON.stringify(tags),
					   <portlet:namespace />lingua: '<%=loc.getLanguage()%>'
						})
			.done(function(resp){
				var res = JSON.parse(resp);
				
				var ids = res.value;
				
				if (ids.length==0) 
				    alert('<liferay-ui:message key="ims.no-coworker-to-suggest"/>');
				
				jQuery('#uncheck-all').click();
				
				jQuery.each(ids, function(i, e){
					var tmp = jQuery('.cw-list .card-panel[data-uid=' + e + ']');
					if(tmp.length>0){
						var badge = jQuery(tmp[0]).closest('.col');
						
						badge.detach();
						badge.find('.recommended-logo i').show();
						badge.prependTo('.cw-list');
					}
					
				});
			});
  		}
  		
  		
  	</script>
</div>