<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSIdeaPoiLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSIdeaPoi"%>
<%

 	List<CLSIdeaPoi> poisList2 = CLSIdeaPoiLocalServiceUtil.getIdeaPOIByIdeaId(idea.getIdeaID());%>

		<!-- Google maps -->
				<% 
				boolean googleMapsAPIKeyEnabled = IdeaManagementSystemProperties.getEnabledProperty("googleMapsAPIKeyEnabled");
				String googleMapsAPIKey = IdeaManagementSystemProperties.getProperty("googleMapsAPIKey");
				
				if (googleMapsAPIKeyEnabled){%>	
					<script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsAPIKey %>&v=3.30&libraries=places"></script>
				<% }else{%>	
					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
				<% }%>	
	
	 	<script type="text/javascript">
	       var map;
	       var mapOptions;
	       
	       var infowindow = new google.maps.InfoWindow({
				content: ""
			});
	       
	      function initialize() {
	    	  <%
	     	  IdeaManagementSystemProperties imsp = new IdeaManagementSystemProperties();
	    	  String latitude = imsp.getMapCenterLatitude();
	    	  String longitude = imsp.getMapCenterLongitude();
	    	  %>
	            var centroMappa = new google.maps.LatLng(<%=latitude%>,<%=longitude%>);
	
	            mapOptions = {
	              zoom: 8,
	              center: centroMappa,
	              scrollwheel: false,
	              draggable: false,
	              scrollwheel: false
	            };
	               
	            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
	            
	            var oldPois=[
	            <%
	    		
	    		Iterator<CLSIdeaPoi> poisListIt2 = poisList2.iterator();
	    		while(poisListIt2.hasNext()){
	    			CLSIdeaPoi poi = poisListIt2.next();
	    			%>
	    			{title:"<%=poi.getTitle()%>",description:"<%=poi.getDescription()%>",latitude:"<%=poi.getLatitude()%>",longitude:"<%=poi.getLongitude()%>"},
	    			<%
	    		}
	    		%>
	    		]; 
	            
	            for (index = 0; index < oldPois.length; ++index) {
	            	console.log("oldPois " + index);
	            	console.log(oldPois[index]);
	                
	            	var poi = oldPois[index];
	                
	            	var latlng = new google.maps.LatLng(poi.latitude, poi.longitude);
	        		
	            	var marker = new google.maps.Marker({
	        			position: latlng,
	        			map: map, 
	                    title: poi.title,
	                    html: ""
	                });
			
					var infoWindowContent = '<b><liferay-ui:message key="ims.title"/></b><br>'+
											poi.title+
											'<br><b><liferay-ui:message key="ims.description"/></b><br>'+
											poi.description;
											
					marker.html = infoWindowContent;
					
					google.maps.event.addListener(marker, 'click', function() {
						infowindow.setContent(this.html);
						infowindow.open(map,this);
					});
					
					//setto il centro all'ultimo poi elaborato
					map.setCenter(latlng);
	            }
	      }

	      google.maps.event.addDomListener(window, 'load', initialize);  
	      
	      function toggleLock() {
	           // alert("drag "+mapOptions.draggable);
	            if(mapOptions.draggable==false) {
		             map.setOptions({scrollwheel: true, draggable: true});
		             mapOptions.draggable=true;
		             mapOptions.scrollwheel=true;
		             $("#btnLock").attr('value','<liferay-ui:message key="ims.lock-map"/>');
	            }
	            else {
		             map.setOptions({scrollwheel: false, draggable: false});
		             mapOptions.draggable=false;
		             mapOptions.scrollwheel=false;
		             $("#btnLock").attr('value','<liferay-ui:message key="ims.unlock-map"/>');
	            }
// 	          $("#btnLock").toggleClass("openLock");
	            $("#iconLocker").toggleClass("icon-unlock");
	            $("#iconLocker").toggleClass("icon-lock");
	          
	  		}
		</script >
		<%if (poisList2.size() > 0){%>
			<section id="googleMaps" class="panel">
				<span id="iconLocker" class="icon-lock">
					<input id="btnLock" type="button" alt="<liferay-ui:message key='ims.unlock-map'/>" title="<liferay-ui:message key='ims.unlock-map'/>" value="<liferay-ui:message key="ims.unlock-map"/>" onclick="javascript:toggleLock();" class="btn-flat">
				</span>
				<div id="map_canvas" style="height:500px"></div>
			</section>
		<%}%>
		
