@import "compass";
@import "mixins";


.aui .core-4 .materialize{
	
	#section1{
		background-color: #ffffff;
	}
	#section2{
		background-color: #8aa4a4;
	}	
	#section3{
		background-color: #8aa4a4;
	}
	#section4{
		background-color: #8aa4a4;
	}
	#section5{
		background-color: #8aa4a4;
	}
				
	.sec_idea #subSection6a {
	    background-color: #8aa4a4;
	}
	
	 .carousel.carousel-slider .carousel-item .card.linked {
		border-color: #f79646;
		border-style: solid;
	}
}




