@import "compass";
@import "mixins";


.aui .core-5 .materialize{
	
	#section1{
		background-color: #ffffff;
	}
	#section2{
		background-color: #7ec4d1;
	}	
	#section3{
		background-color: #7ec4d1;
	}
	#section4{
		background-color: #7ec4d1;
	}
	#section5{
		background-color: #7ec4d1;
	}
					
	.sec_idea #subSection6a {
	    background-color: #7ec4d1;
	}
	
	 .carousel.carousel-slider .carousel-item .card.linked {
		border-color: #d7715e;
		border-style: solid;
	}
}

