@import "compass";
@import "mixins";


.aui .core-3 .materialize{
	
	#section1{
		background-color: #FFFFFF;
	}
	#section2{
		background-color: #90CAF9;
	}	
	#section3{
		background-color: #90CAF9;
	}
	#section4{
		background-color: #90CAF9;
	}
	#section5{
		background-color: #90CAF9;
	}
			
	.sec_idea #subSection6a {
	    background-color: #90CAF9;
	}
	
	.carousel.carousel-slider .carousel-item .card.linked{
		border-color: #FFD600;
    	border-style: solid;
	}
}

