@import "compass";
@import "mixins";


.aui .core-2 .materialize{
	
	#section1{
		background-color: #FFFFFF;
	}
	#section2{
		background-color: #6FAFDA;
	}	
	#section3{
		background-color: #BDBE0B;
	}
	#section4{
		background-color: #E34540;
	}
	#section5{
		background-color: #6FAFDA;
	}
		
	.sec_idea #subSection6a {
	    background-color: #BDBE0B;
	}
	
	.carousel.carousel-slider .carousel-item .card.linked{
		border-color: #bdbe0b;
    	border-style: solid;
	}
}

