@import "compass";
@import "mixins";


.aui .core-1 .materialize{
	
	#section1{
		background-color: #ffffff;
	}
	#section2{
		background-color: #B3B980;
	}	
	#section3{
		background-color: #B3B980;
	}
	#section4{
		background-color: #B3B980;
	}
	#section5{
		background-color: #B3B980;
	}
		
	.sec_idea #subSection6a {
	    background-color: #B3B980;
	}
	
	.carousel.carousel-slider .carousel-item .card.linked {
		border-color: #82933B;
		border-style: solid;
	}

}




