	/*INIT*/
	 div#scroller{
	 	opacity: 0;
	 }
	
	/*TEXT STYLES*/
	
	.questions .question_text {
/* 	  font-size: 2.92rem; */
	  line-height: 110%;
	  margin: 1.46rem 0 1.168rem;
	}	


	/* Style for our header texts --------------------------------------- */
	.animatedObj {
 	  opacity: 0; 
	}
	
	.animatedObj.animated.fadeInDownBig {
	  animation-delay: 0s;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  
	  -webkit-animation-delay: 0s;
	  -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count: 1;
	}
	

	.scrollBtnTool-width div {
	  display: block;
	  margin: 0px;
	}

	#scroll-body {
	  margin-top: 10px;
	}
	
	/* Backgrounds will cover all the section --------------------------------------- */
	#fullpage .section-fsp{
		background-size: cover;
		margin-bottom: 6px;
		border-radius: 0px;
	}


	/* Defining each section background and styles --------------------------------------- */
	#fullpage [id^=section]{
		margin: 0;
      	padding: 0;
		
		animation-delay: 1s;
		animation-duration: 1s;
		
		-webkit-animation-delay: 1s;
		-webkit-animation-duration: 1s;
	}
	
	#section1{
		background-color: #6FAFDA;
	}
	#section2{
		background-color: #6FAFDA;
	}	
	#section3{
		background-color: #BDBE0B;
	}
	#section4{
		background-color: #E34540;
	}
	#section5{
		background-color: #6FAFDA;
	}
	/*
	#section1 {
	  background-image: url("../../img/homeOIA/sections/OIA-evolution-bkg.png");
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  margin: 0;
	  padding: 0;
	}
	*/
	.aui .materialize .row .centerBackgroundDesktop{
		width: 100%;
		max-width: 1200px;
	}
	.aui .materialize .row .centerBackgroundDesktop div.rowImages{
		height:65%;
	}
	.aui .materialize .row .centerBackgroundMobile {
		margin-left: 0px;
	}

	#part1,#part2,#part3 {
	    margin: 0 auto;
	    padding: 0;
	    display: block;
	}

	img.sectionImg {
	    display: block;
	    height: 100%;
	    width: auto;
	    margin: 0 auto;
	}
	
	#partTablet {
	    background-position: center 20%;
	    background-repeat: no-repeat;
	    background-size: contain;
	    margin: 0;
	    padding: 0;
/* 	    height: 40vh; */
		width: 100%;
		height: 100%;
	}
		
	#partMobile{
/* 		background-image: url("../../img/homeOIA/sections/idea_evolutions_v3-04.png"); */
	    margin: 0 auto;
	    padding: 0;
	    height: 100%;
		width: 100%;
	}
	#partMobile img{
		margin: auto;
	}
	#partMobile img.wide,
	#partTablet img.wide {
	    max-width: 100%;
	    max-height: 100%;
	    height: auto;
	}
	#partMobile img.tall,
	#partTablet img.tall {
	    max-height: 100%;
	    max-width: 100%;
	    width: auto;
	}


	.centerBackgroundTablet {
	    display: flex ;
	    display: -webkit-flex;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    justify-content: space-around;
	    -webkit-justify-content: space-around;
	}

	
	img.middleImage {
	    max-height: 100%;
/* 	    max-width: 100vh; */
	    margin: 0 auto;
	}
	.btnRow {
	    margin-top: 80px;
	}

	#section1 .slideContent{
	  max-height: 400px;
	  opacity: 0.94;
	}

	#section1 .slideButtons {
	  margin-bottom: 30px;
/* 	  position: fixed; */
	  text-align: center;
/* 	  width: 33%; */
	}
	#section1 .slideRight .slideButtons {
/* 	  right: 0; */
	}
	#section1 .slideLeft .slideButtons {
/* 	  left: 0; */
	}
	#section1 .slideButtons .nextStep {
	  display: inline-block;
	  margin: 10px;
	}

	
	#section1 .fp-tableCell {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: center;
	    
	    display: -webkit-flex;
	    -webkit-flex-wrap: nowrap;
	    -webkit-justify-content: center;
	}
	
	#section1 i{
		
	  animation-delay: 2s;
	  animation-duration: 10s;
	  animation-iteration-count: infinite;
	  
	  -webkit-animation-delay: 2s;
	  -webkit-animation-duration: 10s;
	  -webkit-animation-iteration-count: infinite;
	}
	
	@media only screen and (min-width: 1115px) {
		#section1 .ActionsBtns a.btn {
		    margin: 0px 8px;
		}
	}
	
	@media only screen and (min-width: 600px) and (max-width: 1114px) {
	
		#section1 .ActionsBtns a.btn {
/* 		    margin: -50px 8px 70px; */
			margin: 0px 8px 15px;
		}
	}
	
	@media only screen and (max-width: 600px) {
	
		.aui .core-1,
		.aui .core-5  {
			.materialize .fixed-action-btn ul.btn-floating-text {
			    left: -180px;
			}
			
			.materialize .btn-floating.btn-floating-text{
			   	min-width: 210px;
				border-radius: 2px !important;
	/* 			width: auto; */
				padding: 0 15px;
			}
			
			.materialize .fixed-action-btn.vertical.click-to-toggle {
			    right: 5px;
			}
		
		}

	}
	
	
		
	.subSectionIntro {
	  align-self: stretch;
	  -webkit-align-self: stretch;
	  flex-grow: 2;
	  -webkit-flex-grow: 2;
	  margin-bottom: 10px;
	}
	
	.subSection{
		opacity: 0;
		text-align: center;
		height: 100%;
	}
	.subSection > img {
	  height: auto;
	  width: 100%;
	  max-width: 1800px
	}	
		
	[id^="subSection"]{
		animation-delay: .5s;
	  	animation-duration: 2s;
	  	animation-iteration-count: 1;
	  	
	  	-webkit-animation-delay: .5s;
	  	-webkit-animation-duration: 2s;
	  	-webkit-animation-iteration-count: 1;
	}

	[id^="subSection"].animated.fadeInUpBig,
	[id^="subSection"].animated.fadeInDownBig{	
	  animation-delay: .5s;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  
	  -webkit-animation-delay: .5s;
	  -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count: 1;
	}
	[id^="subSection5a"].animated.bounceIn{	
	  animation-delay: .5s;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  
	  -webkit-animation-delay: .5s;
	  -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count: 1;
	}
	[id^="subSection5b"].animated.bounceIn{	
	  animation-delay: .8s;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  
	  -webkit-animation-delay: .8s;
	  -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count: 1;
	}
	.animated.lightSpeedIn{	
	  animation-delay: 1s;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  
	  -webkit-animation-delay: 1s;
	  -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count: 1;
	}
	
	#idea_page,
	#need_page{
		display: none;
	}
	
	#sectionContent-idea,
	#sectionContent-need {
	  left: 50%;
	  position: fixed;
/* 	  top: 50%; */
/* 	  top: calc(50% - 100px); */
	  width: 90%;
	  z-index: 999;
	  
	  transform: translate(-50%, 25%);
	  -webkit-transform: translate(-50%, 25%);
      -ms-transform: translate(-50%, 25%);
	}
		

	#windowContent-idea, 
	#windowContent-need {
		height: 100%;
		max-height: 280px;
		opacity: 0.90;
		overflow: unset;
	}
	
	#sectionContent-idea.lastSection,
	#sectionContent-need.lastSection {
	  bottom: 0%;
	  left: 50%;
	  position: fixed;
	  right: 50%;
	  top: auto;
	  width: 90%;
	  z-index: 999;
	  
	  transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
	}
		
	.lastSection #windowContent-idea,
	.lastSection #windowContent-need {
	  box-shadow: none;
	  margin: 0;
	  max-height: 100%;
	  opacity: 0.90;
	  overflow: hidden;
	  width: 100%;
	}
	.lastSection #windowContent-idea .questions, 
	.lastSection #windowContent-need .questions,
	.lastSection #windowContent-idea .responses, 
	.lastSection #windowContent-need .responses {
		box-shadow: none;
	}

 	/*Adding background for the slides */
 	.halfSection {
	  display: -webkit-inline-flex; /* Safari */
	  display: inline-flex;
	  -webkit-flex-direction: column; /* Safari */
	  flex-direction:         column;
	  -webkit-align-content: center; /* Safari */
	  align-content:         center;
	  flex-grow: 1;
	  -webkit-flex-grow: 1;
	  text-align: center;
	  border: 0px;
	  padding: 0px;
	  height: 90%;
	  margin: 10px;
	}
		
	.halfSection .tipText{
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 2px;
		color: white;
		padding: 10px;
	}

	.leftHalf {
	}
	.centerHalf{
	/*
		background-image: url(../../img/homeOIA/sections/OIAhomeFlow_user.png);
		background-position: center 80%;
    	background-repeat: no-repeat;
    	background-size: 50% auto;
    	*/
	}
	.rightHalf {
/* 	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow.png"); 
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: contain;
	  */
	}
	/*
	.rightHalf.flow_en_GB{
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_en_GB-legend.png");
	}
	.rightHalf.flow_fi_FI {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_fi_FI-legend.png");
	}
	.rightHalf.flow_it_IT {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_it_IT-legend.png");
	}
	.rightHalf.flow_sr_RS {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_sr_RS-legend.png");
	}
	.rightHalf.flow_sr_RS_latin {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_sr_RS_latin-legend.png");
	}
	.rightHalf.flow_es_ES {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_es_ES-legend.png");
	}
	*/
	
	#modalZoomImage{
		max-height: 90%;
    	width: 90%;
	}
	
	[id^="subSection"]{
	  background-position: center center;
	  background-repeat: repeat-x;
	  background-size: contain;
	}
	
	#subSection1C {
	  background-repeat: no-repeat;
	  margin: 0 -0.75rem;
	  opacity: 1;
	}
	#subSection1C.overlap-idea-none {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-idea.png");
	}
	#subSection1C.overlap-idea-ente {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-idea-ente.png");
	}
	#subSection1C.overlap-need-none {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-need.png");
	}
	#subSection1C.overlap-need-ente {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-need-ente.png");
	}
	#subSection1C.overlap-challenge-none {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-challenge.png");
	}
	#subSection1C.overlap-challenge-ente {
	  background-image: url("../../img/homeOIA/sections/OIAhomeFlow_OVERLAP-legend-challenge-ente.png");
	}
	
	.sec_idea #subSection2a {
/* 	  background-image: url("../../img/homeOIA/sections/lampadine_accese.png");*/
	  background-image: url("../../img/homeOIA/sections/idea_description_mono.png");
	  background-repeat: repeat;
	}
	.sec_need #subSection2a {
/* 	  background-image: url("../../img/homeOIA/sections/need_description.png"); */
	  background-image: url("../../img/homeOIA/sections/need_description_mono.png");
	  background-repeat: repeat;
	}
	.sec_idea #subSection3a {
/* 	  background-image: url("../../img/homeOIA/sections/lampadine_appese_pen.png"); */
	  background-image: url("../../img/homeOIA/sections/idea_title_mono.png");
	  background-position: top center;
	  background-repeat: no-repeat;
	}
	.sec_idea #subSection3b {
/* 	  background-image: url("../../img/homeOIA/sections/lampadine_appese_luce.png"); */
/* 	  background-position: center 60px; */
	}
	.sec_need #subSection3a {
/* 	  background-image: url("../../img/homeOIA/sections/need_title_pen.png"); */
	  background-image: url("../../img/homeOIA/sections/need_title_mono.png");
	  background-position: top center;
	  background-repeat: no-repeat;
	}
	.sec_need #subSection3b {
/* 	  background-image: url("../../img/homeOIA/sections/need_title_ombre.png"); */
/* 	  background-position: center 60px; */
	}
	#subSection4a {
	  background-image: url("../../img/homeOIA/sections/categorie_left_mono.png");
	  background-position: 0 0px;
      background-repeat: repeat;
	}
	#subSection4b {
	  background-image: url("../../img/homeOIA/sections/categorie_right_mono.png");
	  background-position: 0 10px;
      background-repeat: repeat;
	}
	#subSection5a {
	  background-image: url("../../img/homeOIA/sections/tags_left_mono.png");
	  background-repeat: repeat;
	}
	#subSection5b {
	  background-image: url("../../img/homeOIA/sections/tags_right_mono.png");
	  background-repeat: repeat;
	}
	.sec_idea #subSection6a {
	  background-image: url("../../img/homeOIA/sections/conclusion_idea_mono.png");
	  background-repeat: no-repeat;
	  background-position: center top;
	}
	.sec_need #subSection6a {
	  background-image: url("../../img/homeOIA/sections/conclusion_need_mono.png");
	  background-repeat: no-repeat;
	  background-position: center top;
	}
	#subSection6b {
	}
	
	.conclusionMessage {
	  bottom: 10%;
	  height: 30%;
	  left: 0;
	  position: absolute;
	  right: 0;
	}
	.lastSection .conclusionMessage {
	  bottom: auto;
	  height: auto;
	  position: relative;
	  text-align: center;
	}

	.conclusionMessage #conclusionBtn-idea,
	.conclusionMessage #conclusionBtn-need {
	  margin: 40px 10px;
	}
	.conclusionMessage #conclusionBtn-idea .btn,
	.conclusionMessage #conclusionBtn-need .btn {
	  margin: 5px;
	}

	
	/* Scroll btn Toolbar*/
	#scrollBtnToolPrev,
	#scrollBtnToolNext {
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: 9999;
	  display: none;
	}
	#scrollBtnToolPrev {
	  top: 5px;
	}
	#scrollBtnToolNext {
	  bottom: 3em;
	}
	.scrollBtnTool-width {
	  margin: auto;
	  max-width: 1400px;
/* 	  padding: 0 0 3%; */
	  text-align: left;
/* 	  width: 94%; */
	  width: auto;
	}

	
	.questions,
	.responses {
/* 	  padding: 10px 10px 20px !important; */
	  display: block;
	  width: 100%;
	}

	.responses .categoryGroup .contentCategory {
	    display: block;
	    overflow-y: auto;
	    max-height: 140px;
	}

	[id^="question"], [id^="response"]{
		display: none;
	}
	
	.question_text span {
		font-size: 1rem;
	}

	.questions #question_last-idea,
	.questions #question_last-need {
	  text-align: center;
	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

		
	/* Flexty */
	#section1 .slideLeft,
	#section1 .slideRight {
	  align-content: space-around;
	  align-items: stretch;
	  display: flex;
	  display: -webkit-flex;
	  flex-direction: column;
	  justify-content: center;
	  -webkit-flex-direction: column;
	  -webkit-justify-content: center;
	  width: 100%
	}
	#section1 .slideTitle {
	  flex-grow: 2;
	  -webkit-flex-grow: 2;
	}
	#section1 .slideContent {
	  flex-grow: 0;
	  flex-shrink: 0;
	  -webkit-flex-grow: 0;
	  -webkit-flex-shrink: 0;
	  max-width: 90%;
	}
	#section1 .slideButtons {
	  flex-grow: 1;
	  -webkit-flex-grow: 1;
	}
	
	/*Fix bug of Category Section with Google Chrome on Windows*/
	.aui .materialize .contentCategory [type="checkbox"]:not(:checked), 
	.aui .materialize .contentCategory [type="checkbox"]:checked {
 	    position: static !important; 
	}


/* overwrite FULLPAGE PlugIn*/ 
	
	#fp-nav.right{
		right: 40px;
		z-index: 1000;
	}
	#fp-nav ul li .fp-tooltip {
    	color: #232222;
	}
	#fp-nav ul li:last-of-type { /*cancella l'ultima voce del navigator*/
	  display: none;
	}
	


/* RESPONSIVE */

	@media only screen and (max-width: 992px) {
		.questions .question_text {
		  font-size: 2rem;
		  line-height: 110%;
		  margin: 1.46rem 0 1.168rem;
		}
				
		.collapsible .collapsible-body .btn {
		  width: auto;
		}
	}
	
	@media only screen and (max-width: 600px) {
	
		.aui .materialize .slide .slideRight div,
		.aui .materialize .slide .slideLeft div {
		    margin-bottom: 0;
		}
		
		#sectionContent-idea, #sectionContent-need {
		  left: 50%;
		  position: fixed;
/* 		  top: 40%; */
		  transform: translate(-50%, -15%);
		  -webkit-transform: translate(-50%, -15%);
      	  -ms-transform: translate(-50%, -15%);
		  width: 80%;
		  z-index: 999;
		}
	
    	.questions .question_text {
		  font-size: 1.2rem;
		  line-height: 110%;
		  margin: 0.82rem 0 0.656rem 0; 
		}
		
		.responses {
		  max-height: 150px;
    	  overflow-y: scroll;
		}
		.responses #response4-need .input-field,
		.responses #response4-idea .input-field {
		    margin-top: 8px;
		}
		.responses #response5-need,
		.responses #response5-idea {
		    overflow: scroll;
		    height: 120px;
		}
		.responses #response5-need div#nwaddedTags,
		.responses #response5-idea div#nwaddedTags {
		    margin-bottom: 0;
		}
		.responses #response_last-need .conclusionMessage #conclusionBtn-need, 
		.responses #response_last-idea .conclusionMessage #conclusionBtn-idea {
		    margin: 0px 10px;
		}
		
		#fp-nav.right {
		  right: 2px;
		}

		#section1 .slideContent {
		   max-width: 98%;
		  
		}
		
		#scrollBtnToolNext {
		  bottom: 1em;
		}

		/*Fix bug of Category Section with Google Chrome on Windows*/
		.aui .materialize .contentCategory [type="checkbox"]:not(:checked), 
		.aui .materialize .contentCategory [type="checkbox"]:checked {
	 	    position: absolute !important; 
		}


    }
    


/* Manage Lock Screen on rotate display in Landscape mode*/   
.aui .materialize{
	.locker {
	    display: block;
	    background-color: rgba(0,0,0,.5);
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: 999;
	    left: 0;
	    text-align: center;
		color: #fff;
	}
	.locker h4.locker_text {
		color: white;
		margin: 50px auto;
	}
		
}   
