@import url(jquery.fullPage.css);
@import url(animate.min.css);
@import url(fullpage_custom.css);

@import url(color-schema-core1.css);
@import url(color-schema-core2.css);
@import url(color-schema-core3.css);
@import url(color-schema-core4.css);
@import url(color-schema-core5.css);

	
#wait-overlay {
  opacity: 0.6;
  background-color: white;
  margin: 0 auto;
  z-index: 999999;
}
#wait-overlay-spin{
	top: 50%; 
	position: absolute; 
	left: 50%; 
	margin: 0px -33px;
}

.aui form {
  	margin: 0;
}

.aui .materialize{

/* overwrite MATERIALIZE PlugIn*/

	.preloader-wrapper.active {
	  display: block;
	  margin: 10% auto;
	}

	.form {
	  margin: 0;
	}

	.row .col {
		min-height: 0px !important;
	}
	
	.modal {
	  max-height: 100%;
	}
	
	.section-row{
		margin: 1rem 0;
	}
	
	.tabs .tab.disabled a {
	  color: #CAC9C9;
	  cursor: default;
	}
	.tabs .tab a {
    	font-weight: 500;
	}
	.tabs .tab a {
	  font-weight: 500;
	  line-height: normal;
	  padding-top: 15px;
	}
	
	.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, 
	.btn-large:disabled, .btn-large:disabled, .btn-floating:disabled, 
	.btn[disabled], .btn-large[disabled], .btn-large[disabled], .btn-floating[disabled] {
	  opacity: 1;
	}
	.btn-floating.disabled i {
	  color: #9f9f9f !important
	}
	
/*CAROUSEL*/
	
	.carousel.carousel-slider {
	  margin-bottom: 0;
	}
	
	.carousel.carousel-slider {
	  min-height: 160px;
	  left: 0;
	  top: 0;
	}
	
	.carousel.carousel-slider .carousel-item {
	  min-height: 240px;
	  background-color: #fafafa !important;
	}
	.carousel.carousel-slider .carousel-item .card {
	  margin: 10px auto;
/* 	  margin: 15% auto; */
	  max-width: 70%;
	}
	.carousel.carousel-slider .carousel-item .card.linked{
		border-color: #bdbe0b;
    	border-style: solid;
/*     	border-width: 5px; */
	}
	.carousel.carousel-slider .carousel-item .card .linked-image{
		
	}
	.carousel.carousel-slider .carousel-item .card-image {
	/*   background-position: center top; */
	  background-position: center center;
	  background-repeat: no-repeat;
	/*   background-size: 100% auto; */
	  background-size: cover;
	  border-bottom: 1px solid #f2f2f2;
	}
	.carousel.carousel-slider .carousel-item .card-image::before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	}
	.carousel.carousel-slider .carousel-item .card-image img {
  		height: auto;
  		width: auto;
  		margin: 0 auto;
	}
	.carousel.carousel-slider .carousel-item .card-reveal p.multi-truncate {
	  line-height: normal;
	}
	
	.carousel.carousel-slider .carousel-fixed-item.with-indicators {
	  bottom: 50% !important;
	  left: auto;
	  right: auto;
	}
	.carousel.carousel-slider .carousel-fixed-item.right.with-indicators {
	  right: -20px;
	}
	.carousel.carousel-slider .carousel-fixed-item.left.with-indicators {
	  left: -20px;
	}
	
	.carousel.carousel-slider .carousel-fixed-item.with-indicators a i {
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 50%;
	  margin: 0 5px;
	}
	
	.carousel .indicators {
	  background-color: rgba(255,255,255, 0); /*#fafafa*/
	  display: none;
	  
	}
	.carousel .indicators .indicator-item {
	  background-color: rgba(0, 0, 0, 0.5);
	}
	.carousel .indicators .indicator-item.active {
	  background-color: rgba(0, 0, 0, 0.9);
	}
	

/*COLLECTION Section*/

	.collectionSection {
	  margin: auto;
	  width: 90%;
	}
	
	.collectionSection ul.collapsible {
	  background-color: rgba(255, 255, 255, 0.6);
	  width: 100%;
	}
	.collectionSection ul.collapsible .collapsible-header {
	  background-color: rgba(255, 255, 255, 1);
	  justify-content: space-between;
	}
	.collectionSection ul.collapsible li .collapsible-header img{
/* 	  height: auto; */
/* 	  width: auto; */
/* 	  max-width: 50%; */
	}
	.collectionSection ul.collapsible li .collapsible-header-text.flow-text {
	  display: inline-block;
	  width: auto;
	}
	
	.collectionSection ul.collapsible li .collapsible-body {
	  text-align: center;
	}

	.hide-on-med-and-down .collectionSection ul.collapsible {
	  min-width: 285px;
	}
	/*	
	.hide-on-large-only.centerMobileMenu {
	    display: flex;
	    display: -webkit-flex;
	    align-items: center;
	    -webkit-align-items: center;
	    width:100%;
	}
	*/
	

/* OTHERS Styles */

	.slideContent .question_slide,
	.slideContent .response_slide_idea {
	  padding: 0 10px;
	}
	
	.contentCategory > div {
	  margin-bottom: 15px;
	}
	.contentCategory label {
	  margin: 10px;
	  width: auto;
	  position: relative;
	}
	.bulletIcon { 
	  float: left;
	  font-size: 16px;
	  line-height: 32px;
	  margin-right: 8px;
	}
	
	#rememberAssociatedItem {
		margin-top: 20px;
	  	z-index: 1;
	}
	#rememberAssociatedItem .material-icons {
	  	cursor: pointer;
	}
	
	
}/*fine materialize*/




	
	/* RESPONSIVE */
	
	@media only screen and (max-width: 992px) {
		.aui .materialize {
		
		}
	}
	
	@media only screen and (max-width: 600px) {
		.aui .materialize {
		
			.modal .modal-content {
			  padding: 12px;
			}
		}

	}