<%@page import="java.util.List"%>
<%@page import="com.liferay.portlet.asset.service.AssetVocabularyLocalServiceUtil"%>
<%@page import="com.liferay.portlet.asset.model.AssetVocabulary"%>
<%@page import="com.liferay.portlet.asset.model.AssetCategory"%>
<%@page import="com.liferay.portlet.asset.service.AssetCategoryLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSCategoriesSet"%>
<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>




<div id="categorySection" class="divSection">
					<div class="categoryGroup">
						<span id="messaggioNoCategory" style="display: none;"> <liferay-ui:message key="there-are-no-categories"/></span>
						<span  id="suggestionCatWithoutChallenge">
								<liferay-ui:icon-help message="ims.tip-categories-need-material"/>
							</span>
												
							<!-- Materialize -->
								
							  <div class="input-field col s12 m6">
							    <select id="selectVocabulary"  onchange="updateCategoriesAjax()"  >
							      <option value="" disabled selected><liferay-ui:message key="ims.choose-a-category"/></option>
							      
									<%	     
									IdeaManagementSystemProperties imsp = new IdeaManagementSystemProperties();
									List<CLSCategoriesSet> clsCategoriesSets = imsp.getCategoriesSetIMS();
									
									
									for (CLSCategoriesSet clsCategoriesSet:clsCategoriesSets){ 
													AssetVocabulary  assetVocabulary = AssetVocabularyLocalServiceUtil.fetchAssetVocabulary(clsCategoriesSet.getCategoriesSetID());
													String vocTitle = assetVocabulary.getTitle(locale);  
													Long vocId = assetVocabulary.getVocabularyId();
													
													String selected = "";
													if (vocId == modifyVocabularyId)
														selected="selected";
													
									%>
							     	 <option value="<%=vocId%>" <%=selected%> ><%=vocTitle%>    </option>
							      
						 			<%	}%>
							      
							    </select>
							    <label><liferay-ui:message key="ims.categories"/>&nbsp;*</label>
							  </div>
							  
							  <div class="input-field col s12 m6">
							     
								    <select multiple id="selectCategories" name="<portlet:namespace/>needSelectCategories"  >
								      <option value="" disabled ><liferay-ui:message key="ims.choose-one-or-more-subcategories"/></option>
								      
								      
								    </select>
							    
							    
							    <label><liferay-ui:message key="subcategories"/>&nbsp;*</label>
							  </div>
						
					</div>
</div>
				