.aui .core-2 .materialize #section1 {
  background-color: #FFFFFF; }
.aui .core-2 .materialize #section2 {
  background-color: #6FAFDA; }
.aui .core-2 .materialize #section3 {
  background-color: #BDBE0B; }
.aui .core-2 .materialize #section4 {
  background-color: #E34540; }
.aui .core-2 .materialize #section5 {
  background-color: #6FAFDA; }
.aui .core-2 .materialize .sec_idea #subSection6a {
  background-color: #BDBE0B; }
.aui .core-2 .materialize .carousel.carousel-slider .carousel-item .card.linked {
  border-color: #bdbe0b;
  border-style: solid; }

