.aui .core-4 .materialize #section1 {
  background-color: #ffffff; }
.aui .core-4 .materialize #section2 {
  background-color: #8aa4a4; }
.aui .core-4 .materialize #section3 {
  background-color: #8aa4a4; }
.aui .core-4 .materialize #section4 {
  background-color: #8aa4a4; }
.aui .core-4 .materialize #section5 {
  background-color: #8aa4a4; }
.aui .core-4 .materialize .sec_idea #subSection6a {
  background-color: #8aa4a4; }
.aui .core-4 .materialize .carousel.carousel-slider .carousel-item .card.linked {
  border-color: #f79646;
  border-style: solid; }

