.aui .core-1 .materialize #section1 {
  background-color: #ffffff; }
.aui .core-1 .materialize #section2 {
  background-color: #B3B980; }
.aui .core-1 .materialize #section3 {
  background-color: #B3B980; }
.aui .core-1 .materialize #section4 {
  background-color: #B3B980; }
.aui .core-1 .materialize #section5 {
  background-color: #B3B980; }
.aui .core-1 .materialize .sec_idea #subSection6a {
  background-color: #B3B980; }
.aui .core-1 .materialize .carousel.carousel-slider .carousel-item .card.linked {
  border-color: #82933B;
  border-style: solid; }

