.aui .core-3 .materialize #section1 {
  background-color: #FFFFFF; }
.aui .core-3 .materialize #section2 {
  background-color: #90CAF9; }
.aui .core-3 .materialize #section3 {
  background-color: #90CAF9; }
.aui .core-3 .materialize #section4 {
  background-color: #90CAF9; }
.aui .core-3 .materialize #section5 {
  background-color: #90CAF9; }
.aui .core-3 .materialize .sec_idea #subSection6a {
  background-color: #90CAF9; }
.aui .core-3 .materialize .carousel.carousel-slider .carousel-item .card.linked {
  border-color: #FFD600;
  border-style: solid; }

