.aui .core-5 .materialize #section1 {
  background-color: #ffffff; }
.aui .core-5 .materialize #section2 {
  background-color: #7ec4d1; }
.aui .core-5 .materialize #section3 {
  background-color: #7ec4d1; }
.aui .core-5 .materialize #section4 {
  background-color: #7ec4d1; }
.aui .core-5 .materialize #section5 {
  background-color: #7ec4d1; }
.aui .core-5 .materialize .sec_idea #subSection6a {
  background-color: #7ec4d1; }
.aui .core-5 .materialize .carousel.carousel-slider .carousel-item .card.linked {
  border-color: #d7715e;
  border-style: solid; }

