#addCollaborators {
  display: none; }

.hideSection {
  display: none; }

.showSection {
  display: block; }

.aui .materialize .card #addCollaborators .card-content {
  padding: 0px; }

#addCollaborators .row.cw-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -webkit-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -moz-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  padding: 0;
  overflow-x: auto; }

#addCollaborators .row.cw-list .col {
  min-width: 221px; }

#addCollaborators .cw-list .card-panel {
  width: 200px;
  cursor: pointer; }

#addCollaborators .cw-list .username {
  font-size: 0.7em; }

#addCollaborators .template {
  display: none; }

#addCollaborators .btn-container {
  margin: 0 5px 0 0; }

#addCollaborators .centerSwitch {
  min-height: 50px; }

#addCollaborators .input-field .centerSwitch label {
  left: 0;
  right: 0;
  text-align: center; }

#addCollaborators .avatar-container {
  position: relative; }

#addCollaborators .profile-img {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff; }

#addCollaborators .ico-collab {
  display: inline-block;
  /* width: 25px; */
  height: 16px; }

#addCollaborators .ico-collab i {
  display: none;
  margin: 0 auto; }

#addCollaborators .recommended-logo {
  height: 24px;
  display: block;
  text-align: center;
  padding: 2px; }

#addCollaborators .recommended-logo i {
  display: none;
  margin: 0 auto; }

#addCollaborators .ico-collab i,
.recommended-logo i {
  vertical-align: middle; }

