.css-class-wrapper-update-fake #overlay {
  display: none;
  /* ensures it's invisible until it's called */
  position: absolute;
  /*makes the div go into a position that's absolute to the browser viewing area*/
  left: 10%;
  /*positions the div half way horizontally*/
  top: 60%;
  /*positions the div half way vertically*/
  padding: 25px;
  border: 2px solid black;
  background-color: #ffffff;
  width: 80%;
  height: 500px;
  /*50%;*/
  z-index: 100;
  /*makes the div the top layer, so it'll lay on top of the other content*/ }

.css-class-wrapper-update-fake #fade {
  display: none;
  /* ensures it's invisible until it's called */
  position: absolute;
  /* makes the div go into a position that's absolute to the browser viewing area */
  left: 0%;
  /* makes the div span all the way across the viewing area */
  top: 0%;
  /* makes the div span all the way across the viewing area */
  background-color: black;
  -moz-opacity: 0.7;
  /* makes the div transparent, so you have a cool overlay effect */
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
  /* makes the div the second most top layer, so it'll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */ }

.css-class-wrapper-update-fake .inline {
  display: inline; }

.css-class-wrapper-update-fake .inline-block {
  display: inline-block; }

.css-class-wrapper-update-fake .block {
  display: block; }

.css-class-wrapper-update-fake .left {
  float: left; }

.css-class-wrapper-update-fake .right {
  float: right; }

.css-class-wrapper-update-fake #parentRef {
  min-width: 100px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px; }

.css-class-wrapper-update-fake #parentRef > h3 {
  margin-bottom: 0px; }

.css-class-wrapper-update-fake #parentRef > img {
  max-height: 100px;
  width: auto;
  margin: 0 auto; }

.css-class-wrapper-update-fake .panel .accordion-heading {
  /*background:#eee !important;*/
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 2px;
  font-size: 1.6em; }

.css-class-wrapper-update-fake section.section {
  overflow: hidden; }

.css-class-wrapper-update-fake .section #imgDiv {
  width: 20%;
  max-height: 100%;
  margin-top: 20px;
  min-width: 82px;
  position: relative;
  cursor: pointer;
  text-align: center; }

.css-class-wrapper-update-fake .section.newCreation #imgDiv {
  margin-top: 40px; }

.css-class-wrapper-update-fake #imgDiv span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  color: #3f3f3f;
  text-align: center;
  opacity: .8; }

.css-class-wrapper-update-fake #imgDiv span .infoImg {
  display: block;
  margin: 45% 0; }

.css-class-wrapper-update-fake #imgDiv span .infoImg {
  display: block;
  font-size: 1.5em;
  line-height: 100%;
  margin: 45% 0;
  text-shadow: 0 0 0 #000, -3px 2px 1px #fff, 3px -2px 1px #fff; }

.css-class-wrapper-update-fake #imgDiv div {
  /*border: 1px solid #ddd;*/
  cursor: pointer; }

.css-class-wrapper-update-fake #generalInfoDiv {
  /*
  display:inline-block;
  width:78%;
  padding:0px 1%;
  */ }

.css-class-wrapper-update-fake .assetInfo {
  width: 100%; }

.css-class-wrapper-update-fake .general-info {
  width: 100%; }

.css-class-wrapper-update-fake #titleDiv {
  padding-bottom: 10px; }

.css-class-wrapper-update-fake #titleDiv > input {
  border-color: #ddd;
  border-style: none none solid;
  border-width: 0 0 1px;
  padding: 8px 3px 10px; }

.css-class-wrapper-update-fake .next-button-wrapper {
  width: 100%;
  overflow: auto;
  padding-top: 5px; }

.css-class-wrapper-update-fake .category-item {
  margin-left: 10px !important; }

.css-class-wrapper-update-fake .category-item:first-child {
  margin-left: 0px !important; }

.css-class-wrapper-update-fake .row.cw-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -webkit-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -moz-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  padding: 0;
  overflow-x: auto; }

.css-class-wrapper-update-fake .row.cw-list .col {
  min-width: 221px; }

.css-class-wrapper-update-fake .cw-list .card-panel {
  width: 200px;
  cursor: pointer; }

.css-class-wrapper-update-fake .cw-list .username {
  font-size: 0.7em; }

.css-class-wrapper-update-fake .template {
  display: none; }

.css-class-wrapper-update-fake .btn-container {
  margin: 0 5px 0 0; }

.css-class-wrapper-update-fake .centerSwitch {
  min-height: 50px; }

.css-class-wrapper-update-fake .input-field .centerSwitch label {
  left: 0;
  right: 0;
  text-align: center; }

.css-class-wrapper-update-fake .avatar-container {
  position: relative; }

.css-class-wrapper-update-fake .profile-img {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff; }

.css-class-wrapper-update-fake .ico-collab {
  display: inline-block;
  /* width: 25px; */
  height: 16px; }

.css-class-wrapper-update-fake .ico-collab i {
  display: none;
  margin: 0 auto; }

.css-class-wrapper-update-fake .recommended-logo {
  height: 24px;
  display: block;
  text-align: center;
  padding: 2px; }

.css-class-wrapper-update-fake .recommended-logo i {
  display: none;
  margin: 0 auto; }

.css-class-wrapper-update-fake .ico-collab i, .recommended-logo i {
  vertical-align: middle;
  display: none; }

/*Generic Enablers Section*/
.css-class-wrapper-update-fake .row.ge-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  box-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -webkit-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -moz-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  padding: 0;
  overflow-x: auto; }

.css-class-wrapper-update-fake .row.ge-list .col.templateGE {
  display: block;
  min-width: 221px; }

.css-class-wrapper-update-fake .row.ge-list .col.templateGE .card-content {
  margin: 14px 0; }

.css-class-wrapper-update-fake .row.ge-list .col.templateGE .favourite {
  padding: 5px; }

.css-class-wrapper-update-fake .row.ge-list .col.templateGE.selectedGE {
  background-color: #7ec4d1; }

.css-class-wrapper-update-fake .ge-list .card-panel {
  width: 200px;
  cursor: pointer;
  padding: 0; }

.css-class-wrapper-update-fake .avatar-container {
  position: relative;
  padding-bottom: 14px; }

.css-class-wrapper-update-fake .ge-list .genenabler-img {
  width: auto;
  height: 60px;
  background-color: #ccc; }

.css-class-wrapper-update-fake .ge-list .style-green {
  background-color: #8dec74; }

.css-class-wrapper-update-fake .ge-list .style-grey {
  background-color: #ababab; }

.css-class-wrapper-update-fake .ge-list .style-yellow {
  background-color: #fad266; }

.css-class-wrapper-update-fake .ge-list .genenabler-img img {
  width: auto;
  max-height: 60px;
  margin: 0 auto;
  padding: 10px 0; }

.css-class-wrapper-update-fake .ge-list .text-container {
  padding: 5px 5px 10px;
  overflow: hidden;
  height: 130px; }

.css-class-wrapper-update-fake .ge-list .text-container .fullname {
  max-height: 40px;
  min-height: 40px;
  line-height: 20px;
  display: block;
  overflow: hidden; }

.css-class-wrapper-update-fake .ge-list .text-container .username {
  font-size: 0.7em;
  max-height: 100px;
  overflow: hidden;
  line-height: 20px; }

.css-class-wrapper-update-fake .ge-list .field-items .efficency-label {
  height: 20px;
  margin: auto 5px; }

.css-class-wrapper-update-fake .ge-list .field-items .efficency-label.efficency-label-A::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A.svg); }

.css-class-wrapper-update-fake .ge-list .field-items .efficency-label.efficency-label-A1::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A+.svg); }

.css-class-wrapper-update-fake .ge-list .field-items .efficency-label.efficency-label-A2::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A++.svg); }

.css-class-wrapper-update-fake .ge-list .field-items .efficency-label.efficency-label-A3::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A+++.svg); }

.css-class-wrapper-update-fake .ge-list .taxonomy-container {
  padding: 5px 5px; }

.css-class-wrapper-update-fake .ge-list .taxonomy-container .field-name-field-rank,
.css-class-wrapper-update-fake .ge-list .taxonomy-container .field-name-field-api-chapter {
  font-size: 10px;
  padding: 4px;
  margin: 0 0 4px; }

.css-class-wrapper-update-fake .ge-list .ge_details {
  padding: 5px 5px 15px; }

/*override di main.css@welcomeTheme*/
.css-class-wrapper-update-fake .panel .toggler-content-expanded {
  border: none !important; }

/*override di uploadfile.css*/
.css-class-wrapper-update-fake .ajax-file-upload-statusbar,
.css-class-wrapper-update-fake .uploadedFiles {
  width: auto;
  min-width: 140px;
  display: inline-block;
  padding-top: 70px;
  background-image: url("@base_url@/css/../img/paper.png");
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: auto 40%;
  font-size: 0.8em;
  text-align: center;
  max-width: 240px; }

.css-class-wrapper-update-fake .ajax-file-upload {
  font-weight: inherit; }

/*
.css-class-wrapper-update-fake .ajax-file-upload:hover, 
.css-class-wrapper-update-fake .ajax-file-upload:focus, 
.css-class-wrapper-update-fake .ajax-file-upload:active, 
.css-class-wrapper-update-fake .ajax-file-upload.active, 
.css-class-wrapper-update-fake .ajax-file-upload.disabled, 
.css-class-wrapper-update-fake .ajax-file-upload[disabled] {
  background-color: transparent !important;
  background-position: 0 -15px;
  color: #232222 !important;
  text-decoration: none;
  transition: background-position 0.1s linear 0s;
}
*/
.css-class-wrapper-update-fake .ajax-file-upload-filename {
  width: auto;
  padding: 10px; }

.css-class-wrapper-update-fake .ajax-upload-dragdrop > span {
  text-align: right; }

.css-class-wrapper-update-fake .ajax-file-upload-statusbar > div,
.css-class-wrapper-update-fake .uploadedFiles > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto !important; }

.css-class-wrapper-update-fake .uploadedFiles > div {
  margin: 0 auto !important;
  padding: 5px 5px 10px;
  text-align: center;
  width: 90%; }

#attach-panelContent .uploadedFiles .taglib-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/***GOOGLE***/
.css-class-wrapper-update-fake #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  margin-top: 5px;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 200px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.css-class-wrapper-update-fake #pac-input:focus {
  border-color: #4d90fe; }

.css-class-wrapper-update-fake #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

.css-class-wrapper-update-fake #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

/* ------- Generale ------- */
.css-class-wrapper-update-fake .material-design-restyle {
  /*   margin: 40px 0; */ }

/* ------- Sezione Introduttiva --------*/
.css-class-wrapper-update-fake .ideaToPropose > span#questionToPropose {
  display: block;
  margin: 10px 0; }

.css-class-wrapper-update-fake #questionToPropose .icon-asterisk {
  margin-right: 5px; }

.css-class-wrapper-update-fake .control-group.form-inline {
  display: inline-block;
  margin: 10px; }

.css-class-wrapper-update-fake .challengeMunicType {
  display: block;
  text-align: center; }

.css-class-wrapper-update-fake .challengeMunicType label {
  margin: 10px; }

.css-class-wrapper-update-fake .divSelectsPropose {
  text-align: center; }

.css-class-wrapper-update-fake .divSelectsPropose > div#challengeSelectionIdSpan,
.css-class-wrapper-update-fake .divSelectsPropose > div#municipalityIdSpan {
  margin: 20px 0 30px; }

.css-class-wrapper-update-fake #challengeSelectionIdSpan .control-group,
.css-class-wrapper-update-fake #municipalityIdSpan .control-group {
  display: inline-block; }

.css-class-wrapper-update-fake #challengeSelectionIdSpan > span,
.css-class-wrapper-update-fake #municipalityIdSpan > span {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 5px;
  vertical-align: middle; }

.css-class-wrapper-update-fake .profile-image {
  padding: 5px; }

.css-class-wrapper-update-fake .openCloseDate .control-group .clearfix {
  display: inline-flex; }

.css-class-wrapper-update-fake .openCloseDate .control-group .clearfix span {
  padding: 0 6px;
  text-align: center; }

.css-class-wrapper-update-fake .openCloseDate .clearfix input {
  padding: 0;
  text-align: center; }

/* ------- Categories e Tags ------- */
.css-class-wrapper-update-fake #cat-tag-panel .lblSection {
  border-bottom: 1px dotted #ddd;
  /*   font-weight: bold; */
  margin: 20px 0;
  text-align: left; }

.css-class-wrapper-update-fake .lblSection span {
  margin: 0 5px; }

.css-class-wrapper-update-fake .divSection {
  margin: 5px 0 40px; }

.css-class-wrapper-update-fake #tagsSection.divSection {
  margin-bottom: 10px; }

.css-class-wrapper-update-fake #tagsSection #tags #addedTags .chip .bulletIcon {
  float: left;
  font-size: 16px;
  line-height: 32px;
  margin-right: 8px; }

.css-class-wrapper-update-fake .contentCategory div label {
  margin: 10px;
  width: auto; }

.css-class-wrapper-update-fake .categoryRow {
  min-height: 50px; }

/* ------- Attachment ------- */
.css-class-wrapper-update-fake .sectionAttachment {
  	/*
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    */
  overflow: auto;
  width: 100%; }

.css-class-wrapper-update-fake .contentFlexSpace {
  margin: 20px 10px; }

/*
.css-class-wrapper-update-fake .contentUpload {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.css-class-wrapper-update-fake .contentMap {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
*/
/* ------- Collaborators ------- */
.css-class-wrapper-update-fake .coworkers-search-box {
  display: inline-block;
  margin: 20px 20px 10px 0;
  vertical-align: baseline; }

.css-class-wrapper-update-fake #cw-panelContent #checkGroup {
  display: inline-flex;
  display: -webkit-inline-flex;
  /*   width: auto; */ }

.css-class-wrapper-update-fake #checkGroup label {
  margin: 10px 20px 10px 40px;
  width: auto; }

.css-class-wrapper-update-fake .nowrapspace {
  white-space: nowrap; }

.css-class-wrapper-update-fake .toggleMatch {
  display: none; }

/* ------- Switch ------- */
/* ------- CKEditor ------- */
.css-class-wrapper-update-fake #descriptionDiv #cke_ideaDesc,
.css-class-wrapper-update-fake #descriptionDiv #cke_challengeDesc,
.css-class-wrapper-update-fake #rewardDiv #cke_challengeRew {
  border-bottom: 1px solid #ddd;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_editor_planSust {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_top {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  padding: 6px 8px 2px;
  white-space: normal; }

.css-class-wrapper-update-fake .cke_toolgroup {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 2px; }

.css-class-wrapper-update-fake a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
  background: #efefef none repeat scroll 0 0;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_button_on {
  background: #efefef none repeat scroll 0 0;
  box-shadow: none; }

.css-class-wrapper-update-fake a.cke_button_on:hover, a.cke_button_on:focus, a.cke_button_on:active {
  box-shadow: none; }

@media (max-width: 1024px) {
  .css-class-wrapper-update-fake #idea-state .state .tip {
    display: block; } }
@media (max-width: 979px) {
  .aui .btn {
    margin-top: 5px;
    width: auto; }

  .css-class-wrapper-update-fake .sectionAttachment {
    display: block;
    overflow: auto;
    width: 100%; }

  .css-class-wrapper-update-fake #cw-panelContent #checkGroup {
    display: inline-block;
    width: auto; }

  .css-class-wrapper-update-fake .coworkers-search-box {
    vertical-align: top; } }
@media (max-width: 767px) {
  .aui h2 {
    font-size: 28.5px; }

  .css-class-wrapper-update-fake .section #imgDiv {
    display: inline-block;
    float: none;
    margin: 40px auto;
    width: 50%; }

  .css-class-wrapper-update-fake .section #generalInfoDiv {
    display: block;
    float: none;
    margin-top: 40px;
    width: auto; } }
@media (max-width: 480px) {
  .aui h2 {
    font-size: 24.5px; }

  .css-class-wrapper-update-fake .section #imgDiv {
    width: 100%; }

  .css-class-wrapper-update-fake #idea-state {
    width: auto; }

  .css-class-wrapper-update-fake #idea-state .state {
    min-width: 70px;
    width: auto; }

  .css-class-wrapper-update-fake #idea-state .state .ico-state {
    font-size: 20px; }

  .css-class-wrapper-update-fake #idea-state .state .tip {
    display: block;
    font-size: 10px;
    width: 100%; }

  .css-class-wrapper-update-fake button.btnTop {
    bottom: 55px; }

  #tagsSection .btn-group button.btn {
    display: block; } }
/*mantenere quest'ultimo alla fine*/

