/* ------- Generale ------- */
.css-class-wrapper-update-fake .material-design-restyle {
  /*   margin: 40px 0; */ }

/* ------- Sezione Introduttiva --------*/
.css-class-wrapper-update-fake .ideaToPropose > span#questionToPropose {
  display: block;
  margin: 10px 0; }

.css-class-wrapper-update-fake #questionToPropose .icon-asterisk {
  margin-right: 5px; }

.css-class-wrapper-update-fake .control-group.form-inline {
  display: inline-block;
  margin: 10px; }

.css-class-wrapper-update-fake .challengeMunicType {
  display: block;
  text-align: center; }

.css-class-wrapper-update-fake .challengeMunicType label {
  margin: 10px; }

.css-class-wrapper-update-fake .divSelectsPropose {
  text-align: center; }

.css-class-wrapper-update-fake .divSelectsPropose > div#challengeSelectionIdSpan,
.css-class-wrapper-update-fake .divSelectsPropose > div#municipalityIdSpan {
  margin: 20px 0 30px; }

.css-class-wrapper-update-fake #challengeSelectionIdSpan .control-group,
.css-class-wrapper-update-fake #municipalityIdSpan .control-group {
  display: inline-block; }

.css-class-wrapper-update-fake #challengeSelectionIdSpan > span,
.css-class-wrapper-update-fake #municipalityIdSpan > span {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 5px;
  vertical-align: middle; }

.css-class-wrapper-update-fake .profile-image {
  padding: 5px; }

.css-class-wrapper-update-fake .openCloseDate .control-group .clearfix {
  display: inline-flex; }

.css-class-wrapper-update-fake .openCloseDate .control-group .clearfix span {
  padding: 0 6px;
  text-align: center; }

.css-class-wrapper-update-fake .openCloseDate .clearfix input {
  padding: 0;
  text-align: center; }

/* ------- Categories e Tags ------- */
.css-class-wrapper-update-fake #cat-tag-panel .lblSection {
  border-bottom: 1px dotted #ddd;
  /*   font-weight: bold; */
  margin: 20px 0;
  text-align: left; }

.css-class-wrapper-update-fake .lblSection span {
  margin: 0 5px; }

.css-class-wrapper-update-fake .divSection {
  margin: 5px 0 40px; }

.css-class-wrapper-update-fake #tagsSection.divSection {
  margin-bottom: 10px; }

.css-class-wrapper-update-fake #tagsSection #tags #addedTags .chip .bulletIcon {
  float: left;
  font-size: 16px;
  line-height: 32px;
  margin-right: 8px; }

.css-class-wrapper-update-fake .contentCategory div label {
  margin: 10px;
  width: auto; }

.css-class-wrapper-update-fake .categoryRow {
  min-height: 50px; }

/* ------- Attachment ------- */
.css-class-wrapper-update-fake .sectionAttachment {
  	/*
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    */
  overflow: auto;
  width: 100%; }

.css-class-wrapper-update-fake .contentFlexSpace {
  margin: 20px 10px; }

/*
.css-class-wrapper-update-fake .contentUpload {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.css-class-wrapper-update-fake .contentMap {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
*/
/* ------- Collaborators ------- */
.css-class-wrapper-update-fake .coworkers-search-box {
  display: inline-block;
  margin: 20px 20px 10px 0;
  vertical-align: baseline; }

.css-class-wrapper-update-fake #cw-panelContent #checkGroup {
  display: inline-flex;
  display: -webkit-inline-flex;
  /*   width: auto; */ }

.css-class-wrapper-update-fake #checkGroup label {
  margin: 10px 20px 10px 40px;
  width: auto; }

.css-class-wrapper-update-fake .nowrapspace {
  white-space: nowrap; }

.css-class-wrapper-update-fake .toggleMatch {
  display: none; }

/* ------- Switch ------- */
/* ------- CKEditor ------- */
.css-class-wrapper-update-fake #descriptionDiv #cke_ideaDesc,
.css-class-wrapper-update-fake #descriptionDiv #cke_challengeDesc,
.css-class-wrapper-update-fake #rewardDiv #cke_challengeRew {
  border-bottom: 1px solid #ddd;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_editor_planSust {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_top {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  padding: 6px 8px 2px;
  white-space: normal; }

.css-class-wrapper-update-fake .cke_toolgroup {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 2px; }

.css-class-wrapper-update-fake a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
  background: #efefef none repeat scroll 0 0;
  box-shadow: none; }

.css-class-wrapper-update-fake .cke_button_on {
  background: #efefef none repeat scroll 0 0;
  box-shadow: none; }

.css-class-wrapper-update-fake a.cke_button_on:hover, a.cke_button_on:focus, a.cke_button_on:active {
  box-shadow: none; }

