.aui .materialize {
  /*Responsive table customs*/
  /*
  table.responsive-table th, 
  table.responsive-table td {
      min-height: 4.6em !important;
  }
  */
  /*fine*/
  /*EDIT*/
  /*Tables*/
  /*MOD Materialize*/
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* valid color */
  /* invalid color */
  /* icon prefix focus color */
  /*enlarge modal width*/
  /* Checkbox Switch*/ }
  .aui .materialize table.responsive-table thead {
    min-width: 45%;
    max-width: 45%; }
  .aui .materialize tr.openDetails,
  .aui .materialize tr.openDetails td {
    cursor: pointer; }
  .aui .materialize table.detailsTable td,
  .aui .materialize table.detailsTable th {
    padding: 15px 15px;
    border-radius: 0px; }
  .aui .materialize .colspanTable {
    margin: 0px; }
  .aui .materialize .colspanTable .row {
    border-bottom: 1px solid #d0d0d0; }
  .aui .materialize .colspanTable .col {
    /* 	  min-height: 50px; */
    padding: 15px;
    /* 	  line-height: 28px; */ }
  .aui .materialize .colspanTable .col.td * {
    margin: 0; }
  .aui .materialize .colspanTable.compactRow .row {
    align-items: center;
    margin: 0 !important; }
  .aui .materialize .colspanTable.compactRow .selectionCol {
    padding: 15px 0 0; }
  .aui .materialize .colspanTable.compactRow .selResult {
    border: 0 none; }
  .aui .materialize .colspanTable.compactRow .selResult .col {
    padding: 0; }
  .aui .materialize .switch_edit {
    min-width: 150px; }
  .aui .materialize .text_edit {
    min-width: 45%; }
  .aui .materialize table tr td input.validate {
    text-align: center; }
  .aui .materialize tr td.openDetailsEval:hover,
  .aui .materialize tr td.openIdeaDetails:hover,
  .aui .materialize tr td.openDetails:hover {
    background-color: rgba(111, 175, 218, 0.3);
    cursor: pointer; }
  .aui .materialize .input-field label {
    color: #232222; }
  .aui .materialize .input-field input[type=text]:focus + label {
    color: #232222; }
  .aui .materialize .input-field input[type=text]:focus {
    border-bottom: 1px solid #232222;
    box-shadow: 0 1px 0 0 #232222; }
  .aui .materialize .input-field input[type=text].valid {
    border-bottom: 1px solid #232222;
    box-shadow: 0 1px 0 0 #232222; }
  .aui .materialize .input-field input[type=text].invalid {
    border-bottom: 1px solid #232222;
    box-shadow: 0 1px 0 0 #232222; }
  .aui .materialize .input-field .prefix.active {
    color: #232222; }
  .aui .materialize .modal#modalReport {
    width: 90%; }
  .aui .materialize .switch {
    min-width: 110px; }

@media only screen and (max-width: 992px) {
  .aui .materialize table.responsive-table th,
  .aui .materialize table.responsive-table td {
    min-height: 4.6em !important; }
  .aui .materialize #modalEvaluationEdit table.responsive-table th,
  .aui .materialize #modalEvaluationEdit table.responsive-table td {
    height: 7em; }
  .aui .materialize .colspanTable .col {
    min-height: 40px; }
  .aui .materialize .colspanTable.compactRow .selResult .col {
    /* 		  margin-left: calc(100% - 60%); */
    margin-left: calc(45%);
    padding: 0;
    text-align: left; } }
@media only screen and (min-width: 993px) {
  .aui .materialize .container {
    width: 80%; } }
/* DOCUMENTATION */
.aui .materialize .iconsDiv-3x48 {
  height: 48px; }
.aui .materialize .justCenter {
  justify-content: center; }
.aui .materialize .justEnd {
  justify-content: end; }
.aui .materialize .rightArrowWidth {
  min-width: 3em !important; }
.aui .materialize .singleIconWidth {
  min-width: 3.8em !important; }
.aui .materialize .section ul.custom-list,
.aui .materialize .section ul.custom-list li {
  list-style-type: square; }
.aui .materialize .section ul.custom-list li ul,
.aui .materialize .section ul.custom-list li ul li {
  list-style-type: circle; }

@media only screen and (max-width: 992px) {
  .aui .materialize .med-and-down-AlignCenter {
    display: flex;
    justify-content: center; } }

