/* 2 Main Style Microportlet */
.gare-preferite-micro-portlet {
  /* IMAGE */ }
  .gare-preferite-micro-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("../img/microimgs/garepreferite.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .gare-preferite-micro-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .gare-preferite-micro-portlet .cruscotto-myIdeaImg,
  .gare-preferite-micro-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }

/* 2 END */

