.ims-portlet .ideaTable {
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 2px 0 1px;
  margin: 0 0 25px;
  overflow: auto; }

/*
.ideaTableTitleDiv{
	max-width: 10%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
*/
/*
.ideaTableTh {
    max-width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/
.ims-portlet .ideaTableTdText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ims-portlet .ideaTable .progress {
  margin-bottom: 0; }

.ims-portlet .ideaTable .btn {
  margin: 0;
  padding: 4px 12px; }

/* tables */
.ims-portlet table.tablesorter {
  /*font-family:arial;*/
  background-color: #CDCDCD;
  margin: 10px 0pt 15px;
  /*font-size: 8pt;*/
  width: 100%;
  text-align: left;
  /*aggiunto*/
  table-layout: fixed; }

.ims-portlet table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #EFEFEF;
  border: 1px solid #FFF;
  /*font-size: 8pt;*/
  padding: 4px; }

.ims-portlet table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer; }

.ims-portlet table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: middle;
  text-align: center; }

.ims-portlet table.tablesorter tbody tr.odd td {
  background-color: #F0F0F6; }

.ims-portlet table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif); }

.ims-portlet table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif); }

.ims-portlet table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8; }

