/* 2 Main Style Microportlet */
/* IMAGE */
.idea-explorer-portlet {
  /*	
  	.microportlet-img-vertical {
  		  background-position: 50% 50%;
  		  height: 0em !important;
  
  	}
   	.microportlet-img-horizontal {
  	  background-position: 10% 50%;
  	  width: 0em !important;
  	 
  	}
  	
  */ }
  .idea-explorer-portlet .microportlet-img {
    background-color: transparent;
    /* 	    background-image: none;  */
    background-image: url("../img/microimgs/ideasexplorer.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .idea-explorer-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .idea-explorer-portlet .cruscotto-myIdeaImg,
  .idea-explorer-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }
  .idea-explorer-portlet .microportlet-wrapper {
    margin-top: -16px !important; }

/* 2 END */

