/*General*/
.ims-portlet hr {
  margin: 5px 0 25px; }

.ims-portlet b.boldText {
  font-weight: bold; }

.ims-portlet b.sectionTitle {
  font-size: 16px;
  font-weight: bold; }

.ims-portlet div.control-group {
  display: inline;
  margin-bottom: 20px; }

.ims-portlet label.lblSection,
.ims-portlet label.control-label {
  background-color: #EFEFEF;
  color: #555555;
  /*font-family: 'asapbold';*/
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 10px;
  padding: 2px 6px; }

.ims-portlet fieldset {
  border: 0 none;
  margin: 10px 0px;
  padding: 10px 0px; }

.ims-portlet legend {
  font-size: 1.2em;
  margin-bottom: 5px;
  line-height: 26px; }

.ims-portlet #addToFavourite.btn {
  margin: 20px 0; }

.ims-portlet .fieldset div[id^="statsGraph"] {
  color: #FFFFFF; }

.ims-portlet .taglib-discussion form {
  display: block; }

.ims-portlet p.infoText {
  font-style: italic;
  margin: 10px; }

.ims-portlet p.infoText.bottomSpace {
  font-style: italic;
  margin: 0 10px 50px; }

/*rating*/
.ims-portlet .taglib-ratings.thumbs {
  display: inline-block;
  margin: 0;
  float: none; }

.ims-portlet .taglib-ratings .rating-content {
  display: inline-block; }

.ims-portlet .helper-clearfix.rating-content.thumbrating-content {
  display: inline-flex;
  display: -webkit-inline-flex; }

.ims-portlet .rating-thumb-up.icon-thumbs-up {
  margin: 3px 5px; }

.ims-portlet .rating-thumb-up.icon-thumbs-up:hover {
  margin: 3px 5px;
  text-decoration: none !important; }

.ims-portlet .rating-thumb-down.icon-thumbs-down {
  margin: 6px 5px; }

.ims-portlet .rating-thumb-down.icon-thumbs-down:hover {
  margin: 6px 5px;
  text-decoration: none !important; }

.ims-portlet .taglib-flags {
  display: inline-block;
  margin: 0 20px; }

.ims-portlet .taglib-ratings.stars .liferay-rating-vote,
.ims-portlet .taglib-ratings.stars .liferay-rating-score {
  float: left; }

.ims-portlet .fieldset div#rating-element-group {
  margin: 10px; }

/*Category Group*/
.ims-portlet .categoryGroup {
  display: block;
  width: auto; }

.ims-portlet .categoryRow {
  border-bottom: 1px dotted #DDDDDD;
  display: block; }

.ims-portlet .categoryVacabolary {
  display: inline-block;
  margin: 13px;
  text-align: right; }

.ims-portlet .categoryChoiceType {
  display: inline-block;
  vertical-align: middle; }

.ims-portlet .categoryVacabolary label.checkbox {
  padding: 0 0 0 30px; }

.ims-portlet .categoryChoiceType label.radio {
  margin: 10px; }

.ims-portlet .taglib-asset-categories-summary {
  display: block;
  /*font-family: 'asapbold';*/
  font-weight: bold;
  margin: 0 20px; }

.ims-portlet .taglib-asset-categories-summary span.asset-category {
  font-weight: normal; }

/*Collaboratori*/
.ims-portlet .taglib-user-display {
  display: inline-block;
  padding: 0.5em; }

/*Update*/
.ims-portlet .profile-image {
  margin: 5px;
  padding: 10px; }

.ims-portlet .availableRepresentativeImg {
  margin: 5px;
  padding: 10px; }

.ims-portlet .categoryGroup .content {
  margin: 20px; }

.ims-portlet .categoryGroup .content > div {
  margin: 0 20px; }

.ims-portlet .fileAllegato {
  margin: 20px 30px; }

.ims-portlet .btn[id^="cancellafile_"] {
  margin: 0px 10px; }

.ims-portlet .coworkersGroup {
  margin: 10px 20px; }

.ims-portlet .hiddenForm {
  margin: -22px; }

.ims-portlet .hiddenForm .form {
  display: none;
  margin: 0;
  padding: 0; }

/*Cruscotto*/
.ims-portlet #stats > div#statsGraph {
  margin: 0;
  text-align: center; }

.ims-portlet #statsGraph svg {
  margin: 30px 10px 10px; }

.ims-portlet .statsDivs {
  color: #FFFFFF;
  /*height: 28px;*/
  overflow: auto;
  height: 100%;
  /* For IE6 */
  padding: 6px 0 0 5px; }

.ims-portlet .content.tabs {
  margin: 15px 0; }

.ims-portlet .cruscotto-myIdeaImg {
  float: left;
  margin: 8px; }

.ims-portlet .divFeatures {
  display: inline-block;
  margin: 0 0 0 10px; }

.ims-portlet form {
  display: block;
  /* estende la lunghezza per tutta la pagina */
  margin: 0 5px 20px;
  padding: 10px 0; }

.ims-portlet .lineDiv {
  border-bottom: 1px inset #AAAAAA;
  margin: 10px 0 20px;
  padding: 0 0 10px; }

.ims-portlet .lineDiv form {
  display: inline-block; }

/*Esplora*/
.ims-portlet .control-group-inline input.field {
  margin: 0; }

.ims-portlet .actionIdeaDiv {
  border-bottom: 1px inset #DDDDDD;
  display: block;
  margin-bottom: 15px;
  text-align: center; }

.ims-portlet .actionIdeaDiv > a {
  margin: 6px 10px; }

.ims-portlet .actionIdeaDiv .form {
  display: inline; }

.ims-portlet .actionIdeaDiv #addToFavourite.btn {
  margin: 10px; }

.ims-portlet .actionIdeaDiv .btn.btn-cancel {
  display: block;
  margin-bottom: 20px;
  margin-top: -40px; }

/*View*/
.ims-portlet #divGaraChiusa {
  background-color: #efefef;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center; }

.ims-portlet #divGaraChiusa b.boldText {
  color: #B22222;
  font-weight: bold; }

/*Tutte le Gare - Dettaglio*/
.ims-portlet .fieldset.add-comment {
  border-bottom: 1px solid #DDDDDD; }

.ims-portlet .fieldset form#iscrizione {
  border-bottom: 1px dotted #DDDDDD; }

/*Tutte la Idee - Dettaglio*/
.ims-portlet .fieldset b {
  /*font-family: asapbold;*/
  font-weight: bold; }

/*Piu votate*/
.ims-portlet .boxDiv {
  border: 1px solid #DDDDDD;
  display: inline-table;
  margin: 10px 5px;
  padding: 10px;
  width: 250px; }

.ims-portlet .pTitle {
  background-color: #efefef;
  padding: 2px 5px; }

.ims-portlet .centerDiv {
  text-align: center; }

.ims-portlet .divFeaturesBox > p#pDescription {
  margin: 5px 0;
  min-height: 120px; }

.ims-portlet .pLeft {
  text-align: left; }

.ims-portlet .pRight {
  text-align: right; }

.ims-portlet .pCenterEvid {
  font-size: 1.2em;
  text-align: center; }

/*Ricerca Idee*/
.ims-portlet #search.btn {
  margin: 0 0 6px; }

.ims-portlet div#tableIdeas {
  text-align: center; }

.ims-portlet div#tableIdeas > div,
.ims-portlet div#tableIdeas div.lineDiv {
  border: 1px solid #DDDDDD;
  display: inline-table;
  margin: 5px;
  width: 250px;
  padding: 10px; }

.ims-portlet div#tableIdeas .divFeatures {
  display: block;
  margin: 0;
  text-align: left; }

.ims-portlet div#tableIdeas div.lineDiv > a {
  display: block;
  text-align: right; }

.ims-portlet div#tableIdeas .cruscotto-myIdeaImg {
  float: none;
  margin: 5px; }

/*Correzione Bug visibilita delle frecce per il cambio mese nel Datepicker Alloy*/
.yui3-skin-sam .yui3-calendarnav-prevmonth,
.yui3-skin-sam .yui3-calendarnav-nextmonth {
  /*   background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKNJREFUeNpiYCAeSAPxUiiWZqAi4ATiaiD+DMT/ofgzVIyTUsMDgfghksHo+CFUDcnAAIgP4DEYHR+A6iEIhIB4GgkGo+NpUDMwADMQFwHxBwoMh+EPULOYYYZ7APFVKhiMjkFmejBBLWFjoD5gQ+dQO4iwOloUiOdQYPgcqBkDl0zRQRQRGS2KGkVFHRB/QzL4G1SMk5qpQg6psJMjVhNAgAEAH+qPqeiPEUsAAAAASUVORK5CYII=) !important;  */ }

.yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
.yui3-skin-sam .yui3-calendarnav-nextmonth:hover {
  /*   background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPpJREFUeNpi/P//PwMxQD9jszSQ6oJyyy7O8H1KjD5GQhYADeYEUkVAXAHEPFDhL0DcAcR9QIu+k20B0PBAIDUBiOVwKHkExAVAS9aTZAHQYAOowfYMxIGDUIsu4LUAaLAQkGoB4kwG8sB0IK4BWvQOxQKgwcxAdj4Q1wExPwNl4CMQNwHxRKBFfxn10jd5ADm9QKzFQF1wDYiLmaAcNgbqA7CZTEBv7ADS2iDboN5joEIQgczSBpmNHsmiQKodiJPJNHwuEFcCDX49MMkUi0VRUB/hy2ggFy+jtKgohRYVnFDh79CiopuiogLNIjmobxigrn5EjD6AAAMAok9vhfHG8wQAAAAASUVORK5CYII=) !important; */ }

.yui3-skin-sam .yui3-calendarnav-month-disabled,
.yui3-skin-sam .yui3-calendarnav-month-disabled:hover {
  /*   background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQhJREFUeNqs0yGLAlEUhuHrKoIgCFbBJghb3F+g0WrVarEqLIhBEEFYWKNNMBktU4z6C5RNkwyCyWQSTPuOfCOCrHNnxwMPyOGe73DAiTmOYywrhy/9/sTBZujN4k0KPbioi6teKuqCmsKGSN/10+q5ehN6QQkrLJB/Mp/Xm5VmAhdkMcEGZWNfZc1MlPGwII42dmiZ/1dLGW1lXhdU8YNvZEz0yijLy6z6FyTN6yvpX7DEOzo4vSD4pCwvc+lfcMEYBUwjhE+VMVbmw7/oiCY+sA4RvNZMUxmB38EWFTSwfxK815uKZkJ/yXMU0cf5rn9Wr6g3f1bC4nwvbIAZRup1Ay671a8AAwC3OzOqxK+rkwAAAABJRU5ErkJggg==) !important;  */ }

.yui3-skin-sam .yui3-calendarnav-prevmonth,
.yui3-skin-sam .yui3-calendarnav-prevmonth:hover {
  background-position: 0px 0px !important;
  margin-left: -12px !important; }

.yui3-skin-sam .yui3-calendarnav-nextmonth,
.yui3-skin-sam .yui3-calendarnav-nextmonth:hover {
  background-position: -12px 0px !important;
  margin-right: -12px !important; }

@media (max-width: 978px) {
  .ims-portlet .actionIdeaDiv .btn.btn-cancel {
    display: block;
    margin-bottom: 20px;
    margin-top: -54px; } }
@media (max-width: 768px) {
  .ims-portlet .actionIdeaDiv .btn.btn-cancel {
    display: block;
    margin-bottom: 20px;
    margin-top: -54px; }

  .ims-portlet .actionIdeaDiv #addToFavourite.btn {
    display: inline-block;
    margin: 20px 0; }

  .ims-portlet .actionIdeaDiv .btn.btn-cancel {
    display: inline-block;
    margin: 0; }

  .ims-portlet .actionIdeaDiv > a {
    display: inline-block;
    margin: 18px 10px 0; } }
.associateChallenge {
  background: transparent;
  border: transparent; }

