/* 2 Main Style Microportlet */
/* IMAGE */
.idee-preferite-micro-portlet .microportlet-img {
  background-color: transparent;
  background-image: url("../img/microimgs/ideepreferite.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }
.idee-preferite-micro-portlet .allinea {
  float: left;
  padding-right: 4px; }
.idee-preferite-micro-portlet .cruscotto-myIdeaImg,
.idee-preferite-micro-portlet .columns-max .cruscotto-myIdeaImg {
  max-height: 60px;
  max-width: 60px;
  min-height: 60px;
  min-width: 60px;
  margin: 10px;
  vertical-align: top; }

/* 2 END */

