.core-2 {
  /* 1 Correction styles than the Main Theme Stylish */
  /* 1 END*/
  /* 2 Main Style Microportlet */
  /* 2 END */
  /* EXPANDED */
  /*EXPANDED BTN GROUP*/
  /*EXPANDED BTN MANAGER*/ }
  .core-2 .need-reports-cittadino-portlet,
  .core-2 .need-reports-portlet,
  .core-2 .statistiche-portlet,
  .core-2 .challenge-explorer-portlet,
  .core-2 .idea-explorer-portlet,
  .core-2 .gare-preferite-micro-portlet,
  .core-2 .idee-cui-collaboro-micro-portlet,
  .core-2 .idee-preferite-micro-portlet,
  .core-2 .le-mie-idee-micro-portlet,
  .core-2 .le-mie-gare-micro-portlet {
    /*EXTERNAL ALIGN Horizontal*/
    /*INNNER VERTICAL ALIGN*/
    /* Header Bar */
    /* IMAGE */
    /* HEADER */
    /* CONTENT */
    /* 	.lineDiv a { */
    /* 	  	display: inline; */
    /*     	float: left; */
    /*     } */
    /* *** Button Style *** */
    /* Ujarak */ }
    .core-2 .need-reports-cittadino-portlet .portlet-title-text,
    .core-2 .need-reports-portlet .portlet-title-text,
    .core-2 .statistiche-portlet .portlet-title-text,
    .core-2 .challenge-explorer-portlet .portlet-title-text,
    .core-2 .idea-explorer-portlet .portlet-title-text,
    .core-2 .gare-preferite-micro-portlet .portlet-title-text,
    .core-2 .idee-cui-collaboro-micro-portlet .portlet-title-text,
    .core-2 .idee-preferite-micro-portlet .portlet-title-text,
    .core-2 .le-mie-idee-micro-portlet .portlet-title-text,
    .core-2 .le-mie-gare-micro-portlet .portlet-title-text {
      /* 	  display: none; */ }
    .core-2 .need-reports-cittadino-portlet .portlet-title,
    .core-2 .need-reports-portlet .portlet-title,
    .core-2 .statistiche-portlet .portlet-title,
    .core-2 .challenge-explorer-portlet .portlet-title,
    .core-2 .idea-explorer-portlet .portlet-title,
    .core-2 .gare-preferite-micro-portlet .portlet-title,
    .core-2 .idee-cui-collaboro-micro-portlet .portlet-title,
    .core-2 .idee-preferite-micro-portlet .portlet-title,
    .core-2 .le-mie-idee-micro-portlet .portlet-title,
    .core-2 .le-mie-gare-micro-portlet .portlet-title {
      /* 	  display: none; */ }
    .core-2 .need-reports-cittadino-portlet .microportlet-img,
    .core-2 .need-reports-portlet .microportlet-img,
    .core-2 .statistiche-portlet .microportlet-img,
    .core-2 .challenge-explorer-portlet .microportlet-img,
    .core-2 .idea-explorer-portlet .microportlet-img,
    .core-2 .gare-preferite-micro-portlet .microportlet-img,
    .core-2 .idee-cui-collaboro-micro-portlet .microportlet-img,
    .core-2 .idee-preferite-micro-portlet .microportlet-img,
    .core-2 .le-mie-idee-micro-portlet .microportlet-img,
    .core-2 .le-mie-gare-micro-portlet .microportlet-img {
      /* 	  background-color: transparent; */
      /* 	  background-image: url("../img/microimgs/left-img.jpeg"); */
      /* 	  background-repeat: no-repeat; */
      /* 	  background-size: cover; */
      /* 	  background: #fcba79 url(../imgs/center-img.jpeg) top center no-repeat !important; */ }
    .core-2 .need-reports-cittadino-portlet .micro-header,
    .core-2 .need-reports-portlet .micro-header,
    .core-2 .statistiche-portlet .micro-header,
    .core-2 .challenge-explorer-portlet .micro-header,
    .core-2 .idea-explorer-portlet .micro-header,
    .core-2 .gare-preferite-micro-portlet .micro-header,
    .core-2 .idee-cui-collaboro-micro-portlet .micro-header,
    .core-2 .idee-preferite-micro-portlet .micro-header,
    .core-2 .le-mie-idee-micro-portlet .micro-header,
    .core-2 .le-mie-gare-micro-portlet .micro-header {
      background-color: transparent; }
    .core-2 .need-reports-cittadino-portlet .lineDiv,
    .core-2 .need-reports-portlet .lineDiv,
    .core-2 .statistiche-portlet .lineDiv,
    .core-2 .challenge-explorer-portlet .lineDiv,
    .core-2 .idea-explorer-portlet .lineDiv,
    .core-2 .gare-preferite-micro-portlet .lineDiv,
    .core-2 .idee-cui-collaboro-micro-portlet .lineDiv,
    .core-2 .idee-preferite-micro-portlet .lineDiv,
    .core-2 .le-mie-idee-micro-portlet .lineDiv,
    .core-2 .le-mie-gare-micro-portlet .lineDiv {
      border-bottom: 1px solid #efefef; }
    .core-2 .need-reports-cittadino-portlet .boldText,
    .core-2 .need-reports-portlet .boldText,
    .core-2 .statistiche-portlet .boldText,
    .core-2 .challenge-explorer-portlet .boldText,
    .core-2 .idea-explorer-portlet .boldText,
    .core-2 .gare-preferite-micro-portlet .boldText,
    .core-2 .idee-cui-collaboro-micro-portlet .boldText,
    .core-2 .idee-preferite-micro-portlet .boldText,
    .core-2 .le-mie-idee-micro-portlet .boldText,
    .core-2 .le-mie-gare-micro-portlet .boldText {
      color: #333; }
    .core-2 .need-reports-cittadino-portlet .sectionTitle,
    .core-2 .need-reports-portlet .sectionTitle,
    .core-2 .statistiche-portlet .sectionTitle,
    .core-2 .challenge-explorer-portlet .sectionTitle,
    .core-2 .idea-explorer-portlet .sectionTitle,
    .core-2 .gare-preferite-micro-portlet .sectionTitle,
    .core-2 .idee-cui-collaboro-micro-portlet .sectionTitle,
    .core-2 .idee-preferite-micro-portlet .sectionTitle,
    .core-2 .le-mie-idee-micro-portlet .sectionTitle,
    .core-2 .le-mie-gare-micro-portlet .sectionTitle {
      color: #333; }
    .core-2 .need-reports-cittadino-portlet span .sectionTitle,
    .core-2 .need-reports-portlet span .sectionTitle,
    .core-2 .statistiche-portlet span .sectionTitle,
    .core-2 .challenge-explorer-portlet span .sectionTitle,
    .core-2 .idea-explorer-portlet span .sectionTitle,
    .core-2 .gare-preferite-micro-portlet span .sectionTitle,
    .core-2 .idee-cui-collaboro-micro-portlet span .sectionTitle,
    .core-2 .idee-preferite-micro-portlet span .sectionTitle,
    .core-2 .le-mie-idee-micro-portlet span .sectionTitle,
    .core-2 .le-mie-gare-micro-portlet span .sectionTitle {
      color: #888; }
    .core-2 .need-reports-cittadino-portlet .secondoPiano,
    .core-2 .need-reports-portlet .secondoPiano,
    .core-2 .statistiche-portlet .secondoPiano,
    .core-2 .challenge-explorer-portlet .secondoPiano,
    .core-2 .idea-explorer-portlet .secondoPiano,
    .core-2 .gare-preferite-micro-portlet .secondoPiano,
    .core-2 .idee-cui-collaboro-micro-portlet .secondoPiano,
    .core-2 .idee-preferite-micro-portlet .secondoPiano,
    .core-2 .le-mie-idee-micro-portlet .secondoPiano,
    .core-2 .le-mie-gare-micro-portlet .secondoPiano {
      color: #888; }
    .core-2 .need-reports-cittadino-portlet .button,
    .core-2 .need-reports-portlet .button,
    .core-2 .statistiche-portlet .button,
    .core-2 .challenge-explorer-portlet .button,
    .core-2 .idea-explorer-portlet .button,
    .core-2 .gare-preferite-micro-portlet .button,
    .core-2 .idee-cui-collaboro-micro-portlet .button,
    .core-2 .idee-preferite-micro-portlet .button,
    .core-2 .le-mie-idee-micro-portlet .button,
    .core-2 .le-mie-gare-micro-portlet .button {
      background: transparent;
      color: #333; }
    .core-2 .need-reports-cittadino-portlet .button--ujarak::before,
    .core-2 .need-reports-portlet .button--ujarak::before,
    .core-2 .statistiche-portlet .button--ujarak::before,
    .core-2 .challenge-explorer-portlet .button--ujarak::before,
    .core-2 .idea-explorer-portlet .button--ujarak::before,
    .core-2 .gare-preferite-micro-portlet .button--ujarak::before,
    .core-2 .idee-cui-collaboro-micro-portlet .button--ujarak::before,
    .core-2 .idee-preferite-micro-portlet .button--ujarak::before,
    .core-2 .le-mie-idee-micro-portlet .button--ujarak::before,
    .core-2 .le-mie-gare-micro-portlet .button--ujarak::before {
      background: #B6BD00; }
    .core-2 .need-reports-cittadino-portlet .button--ujarak:hover,
    .core-2 .need-reports-portlet .button--ujarak:hover,
    .core-2 .statistiche-portlet .button--ujarak:hover,
    .core-2 .challenge-explorer-portlet .button--ujarak:hover,
    .core-2 .idea-explorer-portlet .button--ujarak:hover,
    .core-2 .gare-preferite-micro-portlet .button--ujarak:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .button--ujarak:hover,
    .core-2 .idee-preferite-micro-portlet .button--ujarak:hover,
    .core-2 .le-mie-idee-micro-portlet .button--ujarak:hover,
    .core-2 .le-mie-gare-micro-portlet .button--ujarak:hover {
      color: #fff; }
    .core-2 .need-reports-cittadino-portlet .actionButtons button,
    .core-2 .need-reports-portlet .actionButtons button,
    .core-2 .statistiche-portlet .actionButtons button,
    .core-2 .challenge-explorer-portlet .actionButtons button,
    .core-2 .idea-explorer-portlet .actionButtons button,
    .core-2 .gare-preferite-micro-portlet .actionButtons button,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons button,
    .core-2 .idee-preferite-micro-portlet .actionButtons button,
    .core-2 .le-mie-idee-micro-portlet .actionButtons button,
    .core-2 .le-mie-gare-micro-portlet .actionButtons button {
      background-color: #67B2E8;
      border: 1px solid #67b2e8;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-2 .need-reports-cittadino-portlet .actionButtons button:hover,
    .core-2 .need-reports-portlet .actionButtons button:hover,
    .core-2 .statistiche-portlet .actionButtons button:hover,
    .core-2 .challenge-explorer-portlet .actionButtons button:hover,
    .core-2 .idea-explorer-portlet .actionButtons button:hover,
    .core-2 .gare-preferite-micro-portlet .actionButtons button:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons button:hover,
    .core-2 .idee-preferite-micro-portlet .actionButtons button:hover,
    .core-2 .le-mie-idee-micro-portlet .actionButtons button:hover,
    .core-2 .le-mie-gare-micro-portlet .actionButtons button:hover {
      background-color: #67B2E8;
      background-image: none;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      color: white;
      text-shadow: none; }
    .core-2 .need-reports-cittadino-portlet .actionButtons input.addButton,
    .core-2 .need-reports-portlet .actionButtons input.addButton,
    .core-2 .statistiche-portlet .actionButtons input.addButton,
    .core-2 .challenge-explorer-portlet .actionButtons input.addButton,
    .core-2 .idea-explorer-portlet .actionButtons input.addButton,
    .core-2 .gare-preferite-micro-portlet .actionButtons input.addButton,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton,
    .core-2 .idee-preferite-micro-portlet .actionButtons input.addButton,
    .core-2 .le-mie-idee-micro-portlet .actionButtons input.addButton,
    .core-2 .le-mie-gare-micro-portlet .actionButtons input.addButton {
      background-color: #67B2E8;
      background-image: none;
      border: 1px solid #67b2e8;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-2 .need-reports-cittadino-portlet .actionButtons input.addButton:hover,
    .core-2 .need-reports-portlet .actionButtons input.addButton:hover,
    .core-2 .statistiche-portlet .actionButtons input.addButton:hover,
    .core-2 .challenge-explorer-portlet .actionButtons input.addButton:hover,
    .core-2 .idea-explorer-portlet .actionButtons input.addButton:hover,
    .core-2 .gare-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .idee-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .le-mie-idee-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .le-mie-gare-micro-portlet .actionButtons input.addButton:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .columns-max .ideeXGare {
    border-bottom: 1px solid #efefef; }
  .core-2 .columns-max .lineDiv {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
  .core-2 .columns-max .actionButtons .itemMenu {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
  .core-2 .columns-max .actionButtons .itemMenu:hover {
    background-color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4); }
  .core-2 .columns-max .actionButtons .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .columns-max .actionButtons .idea_icon::before {
    content: "\f0eb";
    /*icon lightbulb*/
    font-family: "fontawesome-alloy"; }
  .core-2 .columns-max .actionButtons .challenge_icon::before {
    content: "\f091";
    /*icon trophy*/
    font-family: "fontawesome-alloy"; }
  .core-2 .columns-max .actionButtons ul li .btn_icon {
    background-color: #71C5FF;
    color: #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .core-2 .columns-max .actionButtons ul li .itemMenu:hover .btn_text {
    color: #71c5ff; }
  .core-2 .columns-max .actionButtons #singleActionBtn:hover .btn_text {
    color: #71c5ff; }
  .core-2 .columns-max .actionButtons #singleActionBtn .btn_icon {
    background-color: #71c5ff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #efefef; }
  .core-2 .columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .lineDiv .btn-group .dropdown-toggle.btn,
  .core-2 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
    background-color: #fefefe;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); }
  .core-2 .lineDiv .btn-group .dropdown-toggle.btn:hover,
  .core-2 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .core-2 .lineDiv .divBtnManager {
    border-top: 1px solid #efefef; }

/*fine core-2*/

