.core-1 {
  /* 1 Correction styles than the Main Theme Stylish */
  /* 1 END*/
  /* 2 Main Style Microportlet */
  /* 2 END */
  /* EXPANDED */
  /*EXPANDED BTN GROUP*/
  /*EXPANDED BTN MANAGER*/ }
  .core-1 .need-reports-cittadino-portlet,
  .core-1 .need-reports-portlet,
  .core-1 .statistiche-portlet,
  .core-1 .challenge-explorer-portlet,
  .core-1 .idea-explorer-portlet,
  .core-1 .gare-preferite-micro-portlet,
  .core-1 .idee-cui-collaboro-micro-portlet,
  .core-1 .idee-preferite-micro-portlet,
  .core-1 .le-mie-idee-micro-portlet,
  .core-1 .le-mie-gare-micro-portlet {
    /*EXTERNAL ALIGN Horizontal*/
    /*INNNER VERTICAL ALIGN*/
    /* Header Bar */
    /* IMAGE */
    /* HEADER */
    /* CONTENT */
    /* 	.lineDiv a { */
    /* 	  	display: inline; */
    /*     	float: left; */
    /*     } */
    /* *** Button Style *** */
    /* Ujarak */ }
    .core-1 .need-reports-cittadino-portlet .portlet-title-text,
    .core-1 .need-reports-portlet .portlet-title-text,
    .core-1 .statistiche-portlet .portlet-title-text,
    .core-1 .challenge-explorer-portlet .portlet-title-text,
    .core-1 .idea-explorer-portlet .portlet-title-text,
    .core-1 .gare-preferite-micro-portlet .portlet-title-text,
    .core-1 .idee-cui-collaboro-micro-portlet .portlet-title-text,
    .core-1 .idee-preferite-micro-portlet .portlet-title-text,
    .core-1 .le-mie-idee-micro-portlet .portlet-title-text,
    .core-1 .le-mie-gare-micro-portlet .portlet-title-text {
      /* 	  display: none; */ }
    .core-1 .need-reports-cittadino-portlet .portlet-title,
    .core-1 .need-reports-portlet .portlet-title,
    .core-1 .statistiche-portlet .portlet-title,
    .core-1 .challenge-explorer-portlet .portlet-title,
    .core-1 .idea-explorer-portlet .portlet-title,
    .core-1 .gare-preferite-micro-portlet .portlet-title,
    .core-1 .idee-cui-collaboro-micro-portlet .portlet-title,
    .core-1 .idee-preferite-micro-portlet .portlet-title,
    .core-1 .le-mie-idee-micro-portlet .portlet-title,
    .core-1 .le-mie-gare-micro-portlet .portlet-title {
      /* 	  display: none; */ }
    .core-1 .need-reports-cittadino-portlet .microportlet-img,
    .core-1 .need-reports-portlet .microportlet-img,
    .core-1 .statistiche-portlet .microportlet-img,
    .core-1 .challenge-explorer-portlet .microportlet-img,
    .core-1 .idea-explorer-portlet .microportlet-img,
    .core-1 .gare-preferite-micro-portlet .microportlet-img,
    .core-1 .idee-cui-collaboro-micro-portlet .microportlet-img,
    .core-1 .idee-preferite-micro-portlet .microportlet-img,
    .core-1 .le-mie-idee-micro-portlet .microportlet-img,
    .core-1 .le-mie-gare-micro-portlet .microportlet-img {
      /* 	  background-color: transparent; */
      /* 	  background-image: url("@base_url@/css/../img/microimgs/left-img.jpeg"); */
      /* 	  background-repeat: no-repeat; */
      /* 	  background-size: cover; */
      /* 	  background: #fcba79 url(@base_url@/css/../imgs/center-img.jpeg) top center no-repeat !important; */ }
    .core-1 .need-reports-cittadino-portlet .micro-header,
    .core-1 .need-reports-portlet .micro-header,
    .core-1 .statistiche-portlet .micro-header,
    .core-1 .challenge-explorer-portlet .micro-header,
    .core-1 .idea-explorer-portlet .micro-header,
    .core-1 .gare-preferite-micro-portlet .micro-header,
    .core-1 .idee-cui-collaboro-micro-portlet .micro-header,
    .core-1 .idee-preferite-micro-portlet .micro-header,
    .core-1 .le-mie-idee-micro-portlet .micro-header,
    .core-1 .le-mie-gare-micro-portlet .micro-header {
      background-color: transparent; }
    .core-1 .need-reports-cittadino-portlet .lineDiv,
    .core-1 .need-reports-portlet .lineDiv,
    .core-1 .statistiche-portlet .lineDiv,
    .core-1 .challenge-explorer-portlet .lineDiv,
    .core-1 .idea-explorer-portlet .lineDiv,
    .core-1 .gare-preferite-micro-portlet .lineDiv,
    .core-1 .idee-cui-collaboro-micro-portlet .lineDiv,
    .core-1 .idee-preferite-micro-portlet .lineDiv,
    .core-1 .le-mie-idee-micro-portlet .lineDiv,
    .core-1 .le-mie-gare-micro-portlet .lineDiv {
      border-bottom: 1px solid #efefef; }
    .core-1 .need-reports-cittadino-portlet .boldText,
    .core-1 .need-reports-portlet .boldText,
    .core-1 .statistiche-portlet .boldText,
    .core-1 .challenge-explorer-portlet .boldText,
    .core-1 .idea-explorer-portlet .boldText,
    .core-1 .gare-preferite-micro-portlet .boldText,
    .core-1 .idee-cui-collaboro-micro-portlet .boldText,
    .core-1 .idee-preferite-micro-portlet .boldText,
    .core-1 .le-mie-idee-micro-portlet .boldText,
    .core-1 .le-mie-gare-micro-portlet .boldText {
      color: #333; }
    .core-1 .need-reports-cittadino-portlet .sectionTitle,
    .core-1 .need-reports-portlet .sectionTitle,
    .core-1 .statistiche-portlet .sectionTitle,
    .core-1 .challenge-explorer-portlet .sectionTitle,
    .core-1 .idea-explorer-portlet .sectionTitle,
    .core-1 .gare-preferite-micro-portlet .sectionTitle,
    .core-1 .idee-cui-collaboro-micro-portlet .sectionTitle,
    .core-1 .idee-preferite-micro-portlet .sectionTitle,
    .core-1 .le-mie-idee-micro-portlet .sectionTitle,
    .core-1 .le-mie-gare-micro-portlet .sectionTitle {
      color: #333; }
    .core-1 .need-reports-cittadino-portlet span .sectionTitle,
    .core-1 .need-reports-portlet span .sectionTitle,
    .core-1 .statistiche-portlet span .sectionTitle,
    .core-1 .challenge-explorer-portlet span .sectionTitle,
    .core-1 .idea-explorer-portlet span .sectionTitle,
    .core-1 .gare-preferite-micro-portlet span .sectionTitle,
    .core-1 .idee-cui-collaboro-micro-portlet span .sectionTitle,
    .core-1 .idee-preferite-micro-portlet span .sectionTitle,
    .core-1 .le-mie-idee-micro-portlet span .sectionTitle,
    .core-1 .le-mie-gare-micro-portlet span .sectionTitle {
      color: #888; }
    .core-1 .need-reports-cittadino-portlet .secondoPiano,
    .core-1 .need-reports-portlet .secondoPiano,
    .core-1 .statistiche-portlet .secondoPiano,
    .core-1 .challenge-explorer-portlet .secondoPiano,
    .core-1 .idea-explorer-portlet .secondoPiano,
    .core-1 .gare-preferite-micro-portlet .secondoPiano,
    .core-1 .idee-cui-collaboro-micro-portlet .secondoPiano,
    .core-1 .idee-preferite-micro-portlet .secondoPiano,
    .core-1 .le-mie-idee-micro-portlet .secondoPiano,
    .core-1 .le-mie-gare-micro-portlet .secondoPiano {
      color: #888; }
    .core-1 .need-reports-cittadino-portlet .button,
    .core-1 .need-reports-portlet .button,
    .core-1 .statistiche-portlet .button,
    .core-1 .challenge-explorer-portlet .button,
    .core-1 .idea-explorer-portlet .button,
    .core-1 .gare-preferite-micro-portlet .button,
    .core-1 .idee-cui-collaboro-micro-portlet .button,
    .core-1 .idee-preferite-micro-portlet .button,
    .core-1 .le-mie-idee-micro-portlet .button,
    .core-1 .le-mie-gare-micro-portlet .button {
      background: transparent;
      color: #333; }
    .core-1 .need-reports-cittadino-portlet .button--ujarak::before,
    .core-1 .need-reports-portlet .button--ujarak::before,
    .core-1 .statistiche-portlet .button--ujarak::before,
    .core-1 .challenge-explorer-portlet .button--ujarak::before,
    .core-1 .idea-explorer-portlet .button--ujarak::before,
    .core-1 .gare-preferite-micro-portlet .button--ujarak::before,
    .core-1 .idee-cui-collaboro-micro-portlet .button--ujarak::before,
    .core-1 .idee-preferite-micro-portlet .button--ujarak::before,
    .core-1 .le-mie-idee-micro-portlet .button--ujarak::before,
    .core-1 .le-mie-gare-micro-portlet .button--ujarak::before {
      background: #38adc7; }
    .core-1 .need-reports-cittadino-portlet .button--ujarak:hover,
    .core-1 .need-reports-portlet .button--ujarak:hover,
    .core-1 .statistiche-portlet .button--ujarak:hover,
    .core-1 .challenge-explorer-portlet .button--ujarak:hover,
    .core-1 .idea-explorer-portlet .button--ujarak:hover,
    .core-1 .gare-preferite-micro-portlet .button--ujarak:hover,
    .core-1 .idee-cui-collaboro-micro-portlet .button--ujarak:hover,
    .core-1 .idee-preferite-micro-portlet .button--ujarak:hover,
    .core-1 .le-mie-idee-micro-portlet .button--ujarak:hover,
    .core-1 .le-mie-gare-micro-portlet .button--ujarak:hover {
      color: #fff; }
    .core-1 .need-reports-cittadino-portlet .actionButtons button,
    .core-1 .need-reports-portlet .actionButtons button,
    .core-1 .statistiche-portlet .actionButtons button,
    .core-1 .challenge-explorer-portlet .actionButtons button,
    .core-1 .idea-explorer-portlet .actionButtons button,
    .core-1 .gare-preferite-micro-portlet .actionButtons button,
    .core-1 .idee-cui-collaboro-micro-portlet .actionButtons button,
    .core-1 .idee-preferite-micro-portlet .actionButtons button,
    .core-1 .le-mie-idee-micro-portlet .actionButtons button,
    .core-1 .le-mie-gare-micro-portlet .actionButtons button {
      background-color: #008AA9;
      border: 1px solid #008AA9;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-1 .need-reports-cittadino-portlet .actionButtons button:hover,
    .core-1 .need-reports-portlet .actionButtons button:hover,
    .core-1 .statistiche-portlet .actionButtons button:hover,
    .core-1 .challenge-explorer-portlet .actionButtons button:hover,
    .core-1 .idea-explorer-portlet .actionButtons button:hover,
    .core-1 .gare-preferite-micro-portlet .actionButtons button:hover,
    .core-1 .idee-cui-collaboro-micro-portlet .actionButtons button:hover,
    .core-1 .idee-preferite-micro-portlet .actionButtons button:hover,
    .core-1 .le-mie-idee-micro-portlet .actionButtons button:hover,
    .core-1 .le-mie-gare-micro-portlet .actionButtons button:hover {
      background-color: #008AA9;
      background-image: none;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      color: white;
      text-shadow: none; }
    .core-1 .need-reports-cittadino-portlet .actionButtons input.addButton,
    .core-1 .need-reports-portlet .actionButtons input.addButton,
    .core-1 .statistiche-portlet .actionButtons input.addButton,
    .core-1 .challenge-explorer-portlet .actionButtons input.addButton,
    .core-1 .idea-explorer-portlet .actionButtons input.addButton,
    .core-1 .gare-preferite-micro-portlet .actionButtons input.addButton,
    .core-1 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton,
    .core-1 .idee-preferite-micro-portlet .actionButtons input.addButton,
    .core-1 .le-mie-idee-micro-portlet .actionButtons input.addButton,
    .core-1 .le-mie-gare-micro-portlet .actionButtons input.addButton {
      background-color: #008AA9;
      background-image: none;
      border: 1px solid #008AA9;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-1 .need-reports-cittadino-portlet .actionButtons input.addButton:hover,
    .core-1 .need-reports-portlet .actionButtons input.addButton:hover,
    .core-1 .statistiche-portlet .actionButtons input.addButton:hover,
    .core-1 .challenge-explorer-portlet .actionButtons input.addButton:hover,
    .core-1 .idea-explorer-portlet .actionButtons input.addButton:hover,
    .core-1 .gare-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-1 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton:hover,
    .core-1 .idee-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-1 .le-mie-idee-micro-portlet .actionButtons input.addButton:hover,
    .core-1 .le-mie-gare-micro-portlet .actionButtons input.addButton:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-1 .columns-max .ideeXGare {
    border-bottom: 1px solid #efefef; }
  .core-1 .columns-max .lineDiv {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
  .core-1 .columns-max .actionButtons .itemMenu {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
  .core-1 .columns-max .actionButtons .itemMenu:hover {
    background-color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4); }
  .core-1 .columns-max .actionButtons .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-1 .columns-max .actionButtons .idea_icon::before {
    content: "\f0eb";
    /*icon lightbulb*/
    font-family: "fontawesome-alloy"; }
  .core-1 .columns-max .actionButtons .challenge_icon::before {
    content: "\f091";
    /*icon trophy*/
    font-family: "fontawesome-alloy"; }
  .core-1 .columns-max .actionButtons ul li .btn_icon {
    background-color: #38ADC7;
    color: #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .core-1 .columns-max .actionButtons ul li .itemMenu:hover .btn_text {
    color: #38ADC7; }
  .core-1 .columns-max .actionButtons #singleActionBtn:hover .btn_text {
    color: #38ADC7; }
  .core-1 .columns-max .actionButtons #singleActionBtn .btn_icon {
    background-color: #38ADC7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #efefef; }
  .core-1 .columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-1 .lineDiv .btn-group .dropdown-toggle.btn,
  .core-1 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
    background-color: #fefefe;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); }
  .core-1 .lineDiv .btn-group .dropdown-toggle.btn:hover,
  .core-1 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .core-1 .lineDiv .divBtnManager {
    border-top: 1px solid #efefef; }

/*fine core-1*/
.core-2 {
  /* 1 Correction styles than the Main Theme Stylish */
  /* 1 END*/
  /* 2 Main Style Microportlet */
  /* 2 END */
  /* EXPANDED */
  /*EXPANDED BTN GROUP*/
  /*EXPANDED BTN MANAGER*/ }
  .core-2 .need-reports-cittadino-portlet,
  .core-2 .need-reports-portlet,
  .core-2 .statistiche-portlet,
  .core-2 .challenge-explorer-portlet,
  .core-2 .idea-explorer-portlet,
  .core-2 .gare-preferite-micro-portlet,
  .core-2 .idee-cui-collaboro-micro-portlet,
  .core-2 .idee-preferite-micro-portlet,
  .core-2 .le-mie-idee-micro-portlet,
  .core-2 .le-mie-gare-micro-portlet {
    /*EXTERNAL ALIGN Horizontal*/
    /*INNNER VERTICAL ALIGN*/
    /* Header Bar */
    /* IMAGE */
    /* HEADER */
    /* CONTENT */
    /* 	.lineDiv a { */
    /* 	  	display: inline; */
    /*     	float: left; */
    /*     } */
    /* *** Button Style *** */
    /* Ujarak */ }
    .core-2 .need-reports-cittadino-portlet .portlet-title-text,
    .core-2 .need-reports-portlet .portlet-title-text,
    .core-2 .statistiche-portlet .portlet-title-text,
    .core-2 .challenge-explorer-portlet .portlet-title-text,
    .core-2 .idea-explorer-portlet .portlet-title-text,
    .core-2 .gare-preferite-micro-portlet .portlet-title-text,
    .core-2 .idee-cui-collaboro-micro-portlet .portlet-title-text,
    .core-2 .idee-preferite-micro-portlet .portlet-title-text,
    .core-2 .le-mie-idee-micro-portlet .portlet-title-text,
    .core-2 .le-mie-gare-micro-portlet .portlet-title-text {
      /* 	  display: none; */ }
    .core-2 .need-reports-cittadino-portlet .portlet-title,
    .core-2 .need-reports-portlet .portlet-title,
    .core-2 .statistiche-portlet .portlet-title,
    .core-2 .challenge-explorer-portlet .portlet-title,
    .core-2 .idea-explorer-portlet .portlet-title,
    .core-2 .gare-preferite-micro-portlet .portlet-title,
    .core-2 .idee-cui-collaboro-micro-portlet .portlet-title,
    .core-2 .idee-preferite-micro-portlet .portlet-title,
    .core-2 .le-mie-idee-micro-portlet .portlet-title,
    .core-2 .le-mie-gare-micro-portlet .portlet-title {
      /* 	  display: none; */ }
    .core-2 .need-reports-cittadino-portlet .microportlet-img,
    .core-2 .need-reports-portlet .microportlet-img,
    .core-2 .statistiche-portlet .microportlet-img,
    .core-2 .challenge-explorer-portlet .microportlet-img,
    .core-2 .idea-explorer-portlet .microportlet-img,
    .core-2 .gare-preferite-micro-portlet .microportlet-img,
    .core-2 .idee-cui-collaboro-micro-portlet .microportlet-img,
    .core-2 .idee-preferite-micro-portlet .microportlet-img,
    .core-2 .le-mie-idee-micro-portlet .microportlet-img,
    .core-2 .le-mie-gare-micro-portlet .microportlet-img {
      /* 	  background-color: transparent; */
      /* 	  background-image: url("@base_url@/css/../img/microimgs/left-img.jpeg"); */
      /* 	  background-repeat: no-repeat; */
      /* 	  background-size: cover; */
      /* 	  background: #fcba79 url(@base_url@/css/../imgs/center-img.jpeg) top center no-repeat !important; */ }
    .core-2 .need-reports-cittadino-portlet .micro-header,
    .core-2 .need-reports-portlet .micro-header,
    .core-2 .statistiche-portlet .micro-header,
    .core-2 .challenge-explorer-portlet .micro-header,
    .core-2 .idea-explorer-portlet .micro-header,
    .core-2 .gare-preferite-micro-portlet .micro-header,
    .core-2 .idee-cui-collaboro-micro-portlet .micro-header,
    .core-2 .idee-preferite-micro-portlet .micro-header,
    .core-2 .le-mie-idee-micro-portlet .micro-header,
    .core-2 .le-mie-gare-micro-portlet .micro-header {
      background-color: transparent; }
    .core-2 .need-reports-cittadino-portlet .lineDiv,
    .core-2 .need-reports-portlet .lineDiv,
    .core-2 .statistiche-portlet .lineDiv,
    .core-2 .challenge-explorer-portlet .lineDiv,
    .core-2 .idea-explorer-portlet .lineDiv,
    .core-2 .gare-preferite-micro-portlet .lineDiv,
    .core-2 .idee-cui-collaboro-micro-portlet .lineDiv,
    .core-2 .idee-preferite-micro-portlet .lineDiv,
    .core-2 .le-mie-idee-micro-portlet .lineDiv,
    .core-2 .le-mie-gare-micro-portlet .lineDiv {
      border-bottom: 1px solid #efefef; }
    .core-2 .need-reports-cittadino-portlet .boldText,
    .core-2 .need-reports-portlet .boldText,
    .core-2 .statistiche-portlet .boldText,
    .core-2 .challenge-explorer-portlet .boldText,
    .core-2 .idea-explorer-portlet .boldText,
    .core-2 .gare-preferite-micro-portlet .boldText,
    .core-2 .idee-cui-collaboro-micro-portlet .boldText,
    .core-2 .idee-preferite-micro-portlet .boldText,
    .core-2 .le-mie-idee-micro-portlet .boldText,
    .core-2 .le-mie-gare-micro-portlet .boldText {
      color: #333; }
    .core-2 .need-reports-cittadino-portlet .sectionTitle,
    .core-2 .need-reports-portlet .sectionTitle,
    .core-2 .statistiche-portlet .sectionTitle,
    .core-2 .challenge-explorer-portlet .sectionTitle,
    .core-2 .idea-explorer-portlet .sectionTitle,
    .core-2 .gare-preferite-micro-portlet .sectionTitle,
    .core-2 .idee-cui-collaboro-micro-portlet .sectionTitle,
    .core-2 .idee-preferite-micro-portlet .sectionTitle,
    .core-2 .le-mie-idee-micro-portlet .sectionTitle,
    .core-2 .le-mie-gare-micro-portlet .sectionTitle {
      color: #333; }
    .core-2 .need-reports-cittadino-portlet span .sectionTitle,
    .core-2 .need-reports-portlet span .sectionTitle,
    .core-2 .statistiche-portlet span .sectionTitle,
    .core-2 .challenge-explorer-portlet span .sectionTitle,
    .core-2 .idea-explorer-portlet span .sectionTitle,
    .core-2 .gare-preferite-micro-portlet span .sectionTitle,
    .core-2 .idee-cui-collaboro-micro-portlet span .sectionTitle,
    .core-2 .idee-preferite-micro-portlet span .sectionTitle,
    .core-2 .le-mie-idee-micro-portlet span .sectionTitle,
    .core-2 .le-mie-gare-micro-portlet span .sectionTitle {
      color: #888; }
    .core-2 .need-reports-cittadino-portlet .secondoPiano,
    .core-2 .need-reports-portlet .secondoPiano,
    .core-2 .statistiche-portlet .secondoPiano,
    .core-2 .challenge-explorer-portlet .secondoPiano,
    .core-2 .idea-explorer-portlet .secondoPiano,
    .core-2 .gare-preferite-micro-portlet .secondoPiano,
    .core-2 .idee-cui-collaboro-micro-portlet .secondoPiano,
    .core-2 .idee-preferite-micro-portlet .secondoPiano,
    .core-2 .le-mie-idee-micro-portlet .secondoPiano,
    .core-2 .le-mie-gare-micro-portlet .secondoPiano {
      color: #888; }
    .core-2 .need-reports-cittadino-portlet .button,
    .core-2 .need-reports-portlet .button,
    .core-2 .statistiche-portlet .button,
    .core-2 .challenge-explorer-portlet .button,
    .core-2 .idea-explorer-portlet .button,
    .core-2 .gare-preferite-micro-portlet .button,
    .core-2 .idee-cui-collaboro-micro-portlet .button,
    .core-2 .idee-preferite-micro-portlet .button,
    .core-2 .le-mie-idee-micro-portlet .button,
    .core-2 .le-mie-gare-micro-portlet .button {
      background: transparent;
      color: #333; }
    .core-2 .need-reports-cittadino-portlet .button--ujarak::before,
    .core-2 .need-reports-portlet .button--ujarak::before,
    .core-2 .statistiche-portlet .button--ujarak::before,
    .core-2 .challenge-explorer-portlet .button--ujarak::before,
    .core-2 .idea-explorer-portlet .button--ujarak::before,
    .core-2 .gare-preferite-micro-portlet .button--ujarak::before,
    .core-2 .idee-cui-collaboro-micro-portlet .button--ujarak::before,
    .core-2 .idee-preferite-micro-portlet .button--ujarak::before,
    .core-2 .le-mie-idee-micro-portlet .button--ujarak::before,
    .core-2 .le-mie-gare-micro-portlet .button--ujarak::before {
      background: #B6BD00; }
    .core-2 .need-reports-cittadino-portlet .button--ujarak:hover,
    .core-2 .need-reports-portlet .button--ujarak:hover,
    .core-2 .statistiche-portlet .button--ujarak:hover,
    .core-2 .challenge-explorer-portlet .button--ujarak:hover,
    .core-2 .idea-explorer-portlet .button--ujarak:hover,
    .core-2 .gare-preferite-micro-portlet .button--ujarak:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .button--ujarak:hover,
    .core-2 .idee-preferite-micro-portlet .button--ujarak:hover,
    .core-2 .le-mie-idee-micro-portlet .button--ujarak:hover,
    .core-2 .le-mie-gare-micro-portlet .button--ujarak:hover {
      color: #fff; }
    .core-2 .need-reports-cittadino-portlet .actionButtons button,
    .core-2 .need-reports-portlet .actionButtons button,
    .core-2 .statistiche-portlet .actionButtons button,
    .core-2 .challenge-explorer-portlet .actionButtons button,
    .core-2 .idea-explorer-portlet .actionButtons button,
    .core-2 .gare-preferite-micro-portlet .actionButtons button,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons button,
    .core-2 .idee-preferite-micro-portlet .actionButtons button,
    .core-2 .le-mie-idee-micro-portlet .actionButtons button,
    .core-2 .le-mie-gare-micro-portlet .actionButtons button {
      background-color: #67B2E8;
      border: 1px solid #67b2e8;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-2 .need-reports-cittadino-portlet .actionButtons button:hover,
    .core-2 .need-reports-portlet .actionButtons button:hover,
    .core-2 .statistiche-portlet .actionButtons button:hover,
    .core-2 .challenge-explorer-portlet .actionButtons button:hover,
    .core-2 .idea-explorer-portlet .actionButtons button:hover,
    .core-2 .gare-preferite-micro-portlet .actionButtons button:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons button:hover,
    .core-2 .idee-preferite-micro-portlet .actionButtons button:hover,
    .core-2 .le-mie-idee-micro-portlet .actionButtons button:hover,
    .core-2 .le-mie-gare-micro-portlet .actionButtons button:hover {
      background-color: #67B2E8;
      background-image: none;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      color: white;
      text-shadow: none; }
    .core-2 .need-reports-cittadino-portlet .actionButtons input.addButton,
    .core-2 .need-reports-portlet .actionButtons input.addButton,
    .core-2 .statistiche-portlet .actionButtons input.addButton,
    .core-2 .challenge-explorer-portlet .actionButtons input.addButton,
    .core-2 .idea-explorer-portlet .actionButtons input.addButton,
    .core-2 .gare-preferite-micro-portlet .actionButtons input.addButton,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton,
    .core-2 .idee-preferite-micro-portlet .actionButtons input.addButton,
    .core-2 .le-mie-idee-micro-portlet .actionButtons input.addButton,
    .core-2 .le-mie-gare-micro-portlet .actionButtons input.addButton {
      background-color: #67B2E8;
      background-image: none;
      border: 1px solid #67b2e8;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: white; }
    .core-2 .need-reports-cittadino-portlet .actionButtons input.addButton:hover,
    .core-2 .need-reports-portlet .actionButtons input.addButton:hover,
    .core-2 .statistiche-portlet .actionButtons input.addButton:hover,
    .core-2 .challenge-explorer-portlet .actionButtons input.addButton:hover,
    .core-2 .idea-explorer-portlet .actionButtons input.addButton:hover,
    .core-2 .gare-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .idee-cui-collaboro-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .idee-preferite-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .le-mie-idee-micro-portlet .actionButtons input.addButton:hover,
    .core-2 .le-mie-gare-micro-portlet .actionButtons input.addButton:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .columns-max .ideeXGare {
    border-bottom: 1px solid #efefef; }
  .core-2 .columns-max .lineDiv {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
  .core-2 .columns-max .actionButtons .itemMenu {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
  .core-2 .columns-max .actionButtons .itemMenu:hover {
    background-color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4); }
  .core-2 .columns-max .actionButtons .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .columns-max .actionButtons .idea_icon::before {
    content: "\f0eb";
    /*icon lightbulb*/
    font-family: "fontawesome-alloy"; }
  .core-2 .columns-max .actionButtons .challenge_icon::before {
    content: "\f091";
    /*icon trophy*/
    font-family: "fontawesome-alloy"; }
  .core-2 .columns-max .actionButtons ul li .btn_icon {
    background-color: #71C5FF;
    color: #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .core-2 .columns-max .actionButtons ul li .itemMenu:hover .btn_text {
    color: #71c5ff; }
  .core-2 .columns-max .actionButtons #singleActionBtn:hover .btn_text {
    color: #71c5ff; }
  .core-2 .columns-max .actionButtons #singleActionBtn .btn_icon {
    background-color: #71c5ff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #efefef; }
  .core-2 .columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .core-2 .lineDiv .btn-group .dropdown-toggle.btn,
  .core-2 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
    background-color: #fefefe;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); }
  .core-2 .lineDiv .btn-group .dropdown-toggle.btn:hover,
  .core-2 .ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .core-2 .lineDiv .divBtnManager {
    border-top: 1px solid #efefef; }

/*fine core-2*/
/* 1 Correction styles than the Main Theme Stylish */
html.aui body[class] #main-content .need-reports-cittadino-portlet.portlet-boundary,
html.aui body[class] #main-content .need-reports-portlet.portlet-boundary,
html.aui body[class] #main-content .statistiche-portlet.portlet-boundary,
html.aui body[class] #main-content .challenge-explorer-portlet.portlet-boundary,
html.aui body[class] #main-content .idea-explorer-portlet.portlet-boundary,
html.aui body[class] #main-content .gare-preferite-micro-portlet.portlet-boundary,
html.aui body[class] #main-content .idee-cui-collaboro-micro-portlet.portlet-boundary,
html.aui body[class] #main-content .le-mie-idee-micro-portlet.portlet-boundary,
html.aui body[class] #main-content .le-mie-gare-micro-portlet.portlet-boundary,
html.aui body[class] #main-content .idee-preferite-micro-portlet.portlet-boundary {
  box-shadow: none;
  margin: 8px 0;
  padding: 0; }

html.aui body[class] .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
  margin: 0; }

html.aui body[class] .columns-max .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
html.aui body[class] .columns-max .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
  margin: 0;
  padding: 0 10px 3px 0; }

html.aui body[class] .need-reports-cittadino-portlet section.portlet,
html.aui body[class] .need-reports-portlet section.portlet,
html.aui body[class] .statistiche-portlet section.portlet,
html.aui body[class] .challenge-explorer-portlet section.portlet,
html.aui body[class] .idea-explorer-portlet section.portlet,
html.aui body[class] .gare-preferite-micro-portlet section.portlet,
html.aui body[class] .idee-cui-collaboro-micro-portlet section.portlet,
html.aui body[class] .idee-preferite-micro-portlet section.portlet,
html.aui body[class] .le-mie-idee-micro-portlet section.portlet,
html.aui body[class] .le-mie-gare-micro-portlet section.portlet {
  margin-top: 26px; }

html.aui body[class] .need-reports-portlet .portlet-topper,
html.aui body[class] .need-reports-cittadino-portlet .portlet-topper,
html.aui body[class] .statistiche-portlet .portlet-topper,
html.aui body[class] .challenge-explorer-portlet .portlet-topper,
html.aui body[class] .idea-explorer-portlet .portlet-topper,
html.aui body[class] .gare-preferite-micro-portlet .portlet-topper,
html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper,
html.aui body[class] .idee-preferite-micro-portlet .portlet-topper,
html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper,
html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper {
  top: -15px; }

html.aui body[class] .need-reports-portlet .portlet-content,
html.aui body[class] .need-reports-cittadino-portlet .portlet-content,
html.aui body[class] .statistiche-portlet .portlet-content,
html.aui body[class] .challenge-explorer-portlet .portlet-content,
html.aui body[class] .idea-explorer-portlet .portlet-content,
html.aui body[class] .gare-preferite-micro-portlet .portlet-content,
html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-content,
html.aui body[class] .idee-preferite-micro-portlet .portlet-content,
html.aui body[class] .le-mie-idee-micro-portlet .portlet-content,
html.aui body[class] .le-mie-gare-micro-portlet .portlet-content {
  box-shadow: none;
  padding: 0;
  margin-top: 0; }

/* 1 END*/
/* 2 Main Style Microportlet */
.need-reports-cittadino-portlet,
.need-reports-portlet,
.statistiche-portlet,
.challenge-explorer-portlet,
.idea-explorer-portlet,
.gare-preferite-micro-portlet,
.idee-cui-collaboro-micro-portlet,
.idee-preferite-micro-portlet,
.le-mie-idee-micro-portlet,
.le-mie-gare-micro-portlet {
  width: 100%;
  margin: 28px 0;
  /*EXTERNAL ALIGN Horizontal*/
  /*INNNER VERTICAL ALIGN*/
  /* Header Bar */
  /* IMAGE */
  /* HEADER */
  /* CONTENT */
  /* 	.lineDiv a { */
  /* 	  	display: inline; */
  /*     	float: left; */
  /*     } */
  /* *** Button Style *** */
  /* Ujarak */ }
  .need-reports-cittadino-portlet .box-wrap,
  .need-reports-portlet .box-wrap,
  .statistiche-portlet .box-wrap,
  .challenge-explorer-portlet .box-wrap,
  .idea-explorer-portlet .box-wrap,
  .gare-preferite-micro-portlet .box-wrap,
  .idee-cui-collaboro-micro-portlet .box-wrap,
  .idee-preferite-micro-portlet .box-wrap,
  .le-mie-idee-micro-portlet .box-wrap,
  .le-mie-gare-micro-portlet .box-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center; }
  .need-reports-cittadino-portlet .box-wrap-horizontal,
  .need-reports-portlet .box-wrap-horizontal,
  .statistiche-portlet .box-wrap-horizontal,
  .challenge-explorer-portlet .box-wrap-horizontal,
  .idea-explorer-portlet .box-wrap-horizontal,
  .gare-preferite-micro-portlet .box-wrap-horizontal,
  .idee-cui-collaboro-micro-portlet .box-wrap-horizontal,
  .idee-preferite-micro-portlet .box-wrap-horizontal,
  .le-mie-idee-micro-portlet .box-wrap-horizontal,
  .le-mie-gare-micro-portlet .box-wrap-horizontal {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal; }
  .need-reports-cittadino-portlet .box-wrap-vertical,
  .need-reports-portlet .box-wrap-vertical,
  .statistiche-portlet .box-wrap-vertical,
  .challenge-explorer-portlet .box-wrap-vertical,
  .idea-explorer-portlet .box-wrap-vertical,
  .gare-preferite-micro-portlet .box-wrap-vertical,
  .idee-cui-collaboro-micro-portlet .box-wrap-vertical,
  .idee-preferite-micro-portlet .box-wrap-vertical,
  .le-mie-idee-micro-portlet .box-wrap-vertical,
  .le-mie-gare-micro-portlet .box-wrap-vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
  .need-reports-cittadino-portlet .box-1-horizontal,
  .need-reports-portlet .box-1-horizontal,
  .statistiche-portlet .box-1-horizontal,
  .challenge-explorer-portlet .box-1-horizontal,
  .idea-explorer-portlet .box-1-horizontal,
  .gare-preferite-micro-portlet .box-1-horizontal,
  .idee-cui-collaboro-micro-portlet .box-1-horizontal,
  .idee-preferite-micro-portlet .box-1-horizontal,
  .le-mie-idee-micro-portlet .box-1-horizontal,
  .le-mie-gare-micro-portlet .box-1-horizontal {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1; }
  .need-reports-cittadino-portlet .box-2-horizontal,
  .need-reports-portlet .box-2-horizontal,
  .statistiche-portlet .box-2-horizontal,
  .challenge-explorer-portlet .box-2-horizontal,
  .idea-explorer-portlet .box-2-horizontal,
  .gare-preferite-micro-portlet .box-2-horizontal,
  .idee-cui-collaboro-micro-portlet .box-2-horizontal,
  .idee-preferite-micro-portlet .box-2-horizontal,
  .le-mie-idee-micro-portlet .box-2-horizontal,
  .le-mie-gare-micro-portlet .box-2-horizontal {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2; }
  .need-reports-cittadino-portlet .box-1-vertical,
  .need-reports-portlet .box-1-vertical,
  .statistiche-portlet .box-1-vertical,
  .challenge-explorer-portlet .box-1-vertical,
  .idea-explorer-portlet .box-1-vertical,
  .gare-preferite-micro-portlet .box-1-vertical,
  .idee-cui-collaboro-micro-portlet .box-1-vertical,
  .idee-preferite-micro-portlet .box-1-vertical,
  .le-mie-idee-micro-portlet .box-1-vertical,
  .le-mie-gare-micro-portlet .box-1-vertical {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1; }
  .need-reports-cittadino-portlet .box-2-vertical,
  .need-reports-portlet .box-2-vertical,
  .statistiche-portlet .box-2-vertical,
  .challenge-explorer-portlet .box-2-vertical,
  .idea-explorer-portlet .box-2-vertical,
  .gare-preferite-micro-portlet .box-2-vertical,
  .idee-cui-collaboro-micro-portlet .box-2-vertical,
  .idee-preferite-micro-portlet .box-2-vertical,
  .le-mie-idee-micro-portlet .box-2-vertical,
  .le-mie-gare-micro-portlet .box-2-vertical {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    box-flex: 4;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2; }
  .need-reports-cittadino-portlet .box-3-vertical,
  .need-reports-portlet .box-3-vertical,
  .statistiche-portlet .box-3-vertical,
  .challenge-explorer-portlet .box-3-vertical,
  .idea-explorer-portlet .box-3-vertical,
  .gare-preferite-micro-portlet .box-3-vertical,
  .idee-cui-collaboro-micro-portlet .box-3-vertical,
  .idee-preferite-micro-portlet .box-3-vertical,
  .le-mie-idee-micro-portlet .box-3-vertical,
  .le-mie-gare-micro-portlet .box-3-vertical {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3; }
  .need-reports-cittadino-portlet .btn-group,
  .need-reports-portlet .btn-group,
  .statistiche-portlet .btn-group,
  .challenge-explorer-portlet .btn-group,
  .idea-explorer-portlet .btn-group,
  .gare-preferite-micro-portlet .btn-group,
  .idee-cui-collaboro-micro-portlet .btn-group,
  .idee-preferite-micro-portlet .btn-group,
  .le-mie-idee-micro-portlet .btn-group,
  .le-mie-gare-micro-portlet .btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 33px; }
  .need-reports-cittadino-portlet .icon-cog,
  .need-reports-portlet .icon-cog,
  .statistiche-portlet .icon-cog,
  .challenge-explorer-portlet .icon-cog,
  .idea-explorer-portlet .icon-cog,
  .gare-preferite-micro-portlet .icon-cog,
  .idee-cui-collaboro-micro-portlet .icon-cog,
  .idee-preferite-micro-portlet .icon-cog,
  .le-mie-idee-micro-portlet .icon-cog,
  .le-mie-gare-micro-portlet .icon-cog {
    padding: 7px 8px; }
  .need-reports-cittadino-portlet .portlet-title-text,
  .need-reports-portlet .portlet-title-text,
  .statistiche-portlet .portlet-title-text,
  .challenge-explorer-portlet .portlet-title-text,
  .idea-explorer-portlet .portlet-title-text,
  .gare-preferite-micro-portlet .portlet-title-text,
  .idee-cui-collaboro-micro-portlet .portlet-title-text,
  .idee-preferite-micro-portlet .portlet-title-text,
  .le-mie-idee-micro-portlet .portlet-title-text,
  .le-mie-gare-micro-portlet .portlet-title-text {
    /* 	  display: none; */ }
  .need-reports-cittadino-portlet .portlet-title,
  .need-reports-portlet .portlet-title,
  .statistiche-portlet .portlet-title,
  .challenge-explorer-portlet .portlet-title,
  .idea-explorer-portlet .portlet-title,
  .gare-preferite-micro-portlet .portlet-title,
  .idee-cui-collaboro-micro-portlet .portlet-title,
  .idee-preferite-micro-portlet .portlet-title,
  .le-mie-idee-micro-portlet .portlet-title,
  .le-mie-gare-micro-portlet .portlet-title {
    /* 	  display: none; */ }
  .need-reports-cittadino-portlet .microportlet-img,
  .need-reports-portlet .microportlet-img,
  .statistiche-portlet .microportlet-img,
  .challenge-explorer-portlet .microportlet-img,
  .idea-explorer-portlet .microportlet-img,
  .gare-preferite-micro-portlet .microportlet-img,
  .idee-cui-collaboro-micro-portlet .microportlet-img,
  .idee-preferite-micro-portlet .microportlet-img,
  .le-mie-idee-micro-portlet .microportlet-img,
  .le-mie-gare-micro-portlet .microportlet-img {
    /* 	  background-color: transparent; */
    /* 	  background-image: url("../img/microimgs/left-img.jpeg"); */
    /* 	  background-repeat: no-repeat; */
    /* 	  background-size: cover; */
    /* 	  background: #fcba79 url(../imgs/center-img.jpeg) top center no-repeat !important; */ }
  .need-reports-cittadino-portlet .microportlet-img-vertical,
  .need-reports-portlet .microportlet-img-vertical,
  .statistiche-portlet .microportlet-img-vertical,
  .challenge-explorer-portlet .microportlet-img-vertical,
  .idea-explorer-portlet .microportlet-img-vertical,
  .gare-preferite-micro-portlet .microportlet-img-vertical,
  .idee-cui-collaboro-micro-portlet .microportlet-img-vertical,
  .idee-preferite-micro-portlet .microportlet-img-vertical,
  .le-mie-idee-micro-portlet .microportlet-img-vertical,
  .le-mie-gare-micro-portlet .microportlet-img-vertical {
    background-position: 50% 50%;
    height: 10em;
    /* 	  width: 100%; */
    -webkit-border-bottom-left-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    /* 	 	border-radius: 0 !important; */ }
  .need-reports-cittadino-portlet .microportlet-img-horizontal,
  .need-reports-portlet .microportlet-img-horizontal,
  .statistiche-portlet .microportlet-img-horizontal,
  .challenge-explorer-portlet .microportlet-img-horizontal,
  .idea-explorer-portlet .microportlet-img-horizontal,
  .gare-preferite-micro-portlet .microportlet-img-horizontal,
  .idee-cui-collaboro-micro-portlet .microportlet-img-horizontal,
  .idee-preferite-micro-portlet .microportlet-img-horizontal,
  .le-mie-idee-micro-portlet .microportlet-img-horizontal,
  .le-mie-gare-micro-portlet .microportlet-img-horizontal {
    background-position: 10% 50%;
    /* 	  height: 100%; */
    width: 15em;
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important; }
  .need-reports-cittadino-portlet .microportlet-wrapper,
  .need-reports-portlet .microportlet-wrapper,
  .statistiche-portlet .microportlet-wrapper,
  .challenge-explorer-portlet .microportlet-wrapper,
  .idea-explorer-portlet .microportlet-wrapper,
  .gare-preferite-micro-portlet .microportlet-wrapper,
  .idee-cui-collaboro-micro-portlet .microportlet-wrapper,
  .idee-preferite-micro-portlet .microportlet-wrapper,
  .le-mie-idee-micro-portlet .microportlet-wrapper,
  .le-mie-gare-micro-portlet .microportlet-wrapper {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    margin-top: -16px;
    border-radius: 2px;
    width: 100%; }
  .need-reports-cittadino-portlet .microportlet-content,
  .need-reports-portlet .microportlet-content,
  .statistiche-portlet .microportlet-content,
  .challenge-explorer-portlet .microportlet-content,
  .idea-explorer-portlet .microportlet-content,
  .gare-preferite-micro-portlet .microportlet-content,
  .idee-cui-collaboro-micro-portlet .microportlet-content,
  .idee-preferite-micro-portlet .microportlet-content,
  .le-mie-idee-micro-portlet .microportlet-content,
  .le-mie-gare-micro-portlet .microportlet-content {
    width: 100%; }
  .need-reports-cittadino-portlet .micro-header,
  .need-reports-portlet .micro-header,
  .statistiche-portlet .micro-header,
  .challenge-explorer-portlet .micro-header,
  .idea-explorer-portlet .micro-header,
  .gare-preferite-micro-portlet .micro-header,
  .idee-cui-collaboro-micro-portlet .micro-header,
  .idee-preferite-micro-portlet .micro-header,
  .le-mie-idee-micro-portlet .micro-header,
  .le-mie-gare-micro-portlet .micro-header {
    background-color: transparent;
    display: inline-block;
    padding: 10px;
    text-align: left; }
  .need-reports-cittadino-portlet .micro-header-center,
  .need-reports-portlet .micro-header-center,
  .statistiche-portlet .micro-header-center,
  .challenge-explorer-portlet .micro-header-center,
  .idea-explorer-portlet .micro-header-center,
  .gare-preferite-micro-portlet .micro-header-center,
  .idee-cui-collaboro-micro-portlet .micro-header-center,
  .idee-preferite-micro-portlet .micro-header-center,
  .le-mie-idee-micro-portlet .micro-header-center,
  .le-mie-gare-micro-portlet .micro-header-center {
    width: 100%; }
  .need-reports-cittadino-portlet .micro-header-left,
  .need-reports-portlet .micro-header-left,
  .statistiche-portlet .micro-header-left,
  .challenge-explorer-portlet .micro-header-left,
  .idea-explorer-portlet .micro-header-left,
  .gare-preferite-micro-portlet .micro-header-left,
  .idee-cui-collaboro-micro-portlet .micro-header-left,
  .idee-preferite-micro-portlet .micro-header-left,
  .le-mie-idee-micro-portlet .micro-header-left,
  .le-mie-gare-micro-portlet .micro-header-left {
    width: 30em; }
  .need-reports-cittadino-portlet .micro-header h1,
  .need-reports-portlet .micro-header h1,
  .statistiche-portlet .micro-header h1,
  .challenge-explorer-portlet .micro-header h1,
  .idea-explorer-portlet .micro-header h1,
  .gare-preferite-micro-portlet .micro-header h1,
  .idee-cui-collaboro-micro-portlet .micro-header h1,
  .idee-preferite-micro-portlet .micro-header h1,
  .le-mie-idee-micro-portlet .micro-header h1,
  .le-mie-gare-micro-portlet .micro-header h1 {
    font-size: 24px;
    font-weight: 400; }
  .need-reports-cittadino-portlet .microportlet-body,
  .need-reports-portlet .microportlet-body,
  .statistiche-portlet .microportlet-body,
  .challenge-explorer-portlet .microportlet-body,
  .idea-explorer-portlet .microportlet-body,
  .gare-preferite-micro-portlet .microportlet-body,
  .idee-cui-collaboro-micro-portlet .microportlet-body,
  .idee-preferite-micro-portlet .microportlet-body,
  .le-mie-idee-micro-portlet .microportlet-body,
  .le-mie-gare-micro-portlet .microportlet-body {
    width: 100%;
    display: block; }
  .need-reports-cittadino-portlet .micro-section,
  .need-reports-portlet .micro-section,
  .statistiche-portlet .micro-section,
  .challenge-explorer-portlet .micro-section,
  .idea-explorer-portlet .micro-section,
  .gare-preferite-micro-portlet .micro-section,
  .idee-cui-collaboro-micro-portlet .micro-section,
  .idee-preferite-micro-portlet .micro-section,
  .le-mie-idee-micro-portlet .micro-section,
  .le-mie-gare-micro-portlet .micro-section {
    padding: 16px;
    /* 	  width: 100%; */ }
  .need-reports-cittadino-portlet .lineDiv,
  .need-reports-portlet .lineDiv,
  .statistiche-portlet .lineDiv,
  .challenge-explorer-portlet .lineDiv,
  .idea-explorer-portlet .lineDiv,
  .gare-preferite-micro-portlet .lineDiv,
  .idee-cui-collaboro-micro-portlet .lineDiv,
  .idee-preferite-micro-portlet .lineDiv,
  .le-mie-idee-micro-portlet .lineDiv,
  .le-mie-gare-micro-portlet .lineDiv {
    /*border-bottom: 1px solid #efefef;*/
    margin-bottom: 10px; }
  .need-reports-cittadino-portlet .lineDiv a,
  .need-reports-portlet .lineDiv a,
  .statistiche-portlet .lineDiv a,
  .challenge-explorer-portlet .lineDiv a,
  .idea-explorer-portlet .lineDiv a,
  .gare-preferite-micro-portlet .lineDiv a,
  .idee-cui-collaboro-micro-portlet .lineDiv a,
  .idee-preferite-micro-portlet .lineDiv a,
  .le-mie-idee-micro-portlet .lineDiv a,
  .le-mie-gare-micro-portlet .lineDiv a {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 215px; }
  .need-reports-cittadino-portlet .lineDiv a:hover,
  .need-reports-portlet .lineDiv a:hover,
  .statistiche-portlet .lineDiv a:hover,
  .challenge-explorer-portlet .lineDiv a:hover,
  .idea-explorer-portlet .lineDiv a:hover,
  .gare-preferite-micro-portlet .lineDiv a:hover,
  .idee-cui-collaboro-micro-portlet .lineDiv a:hover,
  .idee-preferite-micro-portlet .lineDiv a:hover,
  .le-mie-idee-micro-portlet .lineDiv a:hover,
  .le-mie-gare-micro-portlet .lineDiv a:hover {
    text-decoration: none; }
  .need-reports-cittadino-portlet .lineDiv .secondoPiano.moreInfo a,
  .need-reports-portlet .lineDiv .secondoPiano.moreInfo a,
  .statistiche-portlet .lineDiv .secondoPiano.moreInfo a,
  .challenge-explorer-portlet .lineDiv .secondoPiano.moreInfo a,
  .idea-explorer-portlet .lineDiv .secondoPiano.moreInfo a,
  .gare-preferite-micro-portlet .lineDiv .secondoPiano.moreInfo a,
  .idee-cui-collaboro-micro-portlet .lineDiv .secondoPiano.moreInfo a,
  .idee-preferite-micro-portlet .lineDiv .secondoPiano.moreInfo a,
  .le-mie-idee-micro-portlet .lineDiv .secondoPiano.moreInfo a,
  .le-mie-gare-micro-portlet .lineDiv .secondoPiano.moreInfo a {
    cursor: pointer;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%; }
  .need-reports-cittadino-portlet .lineDiv > hr,
  .need-reports-portlet .lineDiv > hr,
  .statistiche-portlet .lineDiv > hr,
  .challenge-explorer-portlet .lineDiv > hr,
  .idea-explorer-portlet .lineDiv > hr,
  .gare-preferite-micro-portlet .lineDiv > hr,
  .idee-cui-collaboro-micro-portlet .lineDiv > hr,
  .idee-preferite-micro-portlet .lineDiv > hr,
  .le-mie-idee-micro-portlet .lineDiv > hr,
  .le-mie-gare-micro-portlet .lineDiv > hr {
    margin: 5px 0 10px; }
  .need-reports-cittadino-portlet .lineDiv .divFeatures,
  .need-reports-portlet .lineDiv .divFeatures,
  .statistiche-portlet .lineDiv .divFeatures,
  .challenge-explorer-portlet .lineDiv .divFeatures,
  .idea-explorer-portlet .lineDiv .divFeatures,
  .gare-preferite-micro-portlet .lineDiv .divFeatures,
  .idee-cui-collaboro-micro-portlet .lineDiv .divFeatures,
  .idee-preferite-micro-portlet .lineDiv .divFeatures,
  .le-mie-idee-micro-portlet .lineDiv .divFeatures,
  .le-mie-gare-micro-portlet .lineDiv .divFeatures {
    display: inline-block;
    /* 	  	padding: 5px 15px; */ }
  .need-reports-cittadino-portlet .lineDiv .ideeXGare .divFeatures,
  .need-reports-portlet .lineDiv .ideeXGare .divFeatures,
  .statistiche-portlet .lineDiv .ideeXGare .divFeatures,
  .challenge-explorer-portlet .lineDiv .ideeXGare .divFeatures,
  .idea-explorer-portlet .lineDiv .ideeXGare .divFeatures,
  .gare-preferite-micro-portlet .lineDiv .ideeXGare .divFeatures,
  .idee-cui-collaboro-micro-portlet .lineDiv .ideeXGare .divFeatures,
  .idee-preferite-micro-portlet .lineDiv .ideeXGare .divFeatures,
  .le-mie-idee-micro-portlet .lineDiv .ideeXGare .divFeatures,
  .le-mie-gare-micro-portlet .lineDiv .ideeXGare .divFeatures {
    margin-top: 5px;
    width: 100%; }
  .need-reports-cittadino-portlet .lineDiv .divFeatures > p,
  .need-reports-portlet .lineDiv .divFeatures > p,
  .statistiche-portlet .lineDiv .divFeatures > p,
  .challenge-explorer-portlet .lineDiv .divFeatures > p,
  .idea-explorer-portlet .lineDiv .divFeatures > p,
  .gare-preferite-micro-portlet .lineDiv .divFeatures > p,
  .idee-cui-collaboro-micro-portlet .lineDiv .divFeatures > p,
  .idee-preferite-micro-portlet .lineDiv .divFeatures > p,
  .le-mie-idee-micro-portlet .lineDiv .divFeatures > p,
  .le-mie-gare-micro-portlet .lineDiv .divFeatures > p {
    margin-bottom: 0px; }
  .need-reports-cittadino-portlet .micro-footer-center,
  .need-reports-portlet .micro-footer-center,
  .statistiche-portlet .micro-footer-center,
  .challenge-explorer-portlet .micro-footer-center,
  .idea-explorer-portlet .micro-footer-center,
  .gare-preferite-micro-portlet .micro-footer-center,
  .idee-cui-collaboro-micro-portlet .micro-footer-center,
  .idee-preferite-micro-portlet .micro-footer-center,
  .le-mie-idee-micro-portlet .micro-footer-center,
  .le-mie-gare-micro-portlet .micro-footer-center {
    width: 100%; }
  .need-reports-cittadino-portlet .micro-footer-left,
  .need-reports-portlet .micro-footer-left,
  .statistiche-portlet .micro-footer-left,
  .challenge-explorer-portlet .micro-footer-left,
  .idea-explorer-portlet .micro-footer-left,
  .gare-preferite-micro-portlet .micro-footer-left,
  .idee-cui-collaboro-micro-portlet .micro-footer-left,
  .idee-preferite-micro-portlet .micro-footer-left,
  .le-mie-idee-micro-portlet .micro-footer-left,
  .le-mie-gare-micro-portlet .micro-footer-left {
    width: 30em; }
  .need-reports-cittadino-portlet .micro-footer,
  .need-reports-portlet .micro-footer,
  .statistiche-portlet .micro-footer,
  .challenge-explorer-portlet .micro-footer,
  .idea-explorer-portlet .micro-footer,
  .gare-preferite-micro-portlet .micro-footer,
  .idee-cui-collaboro-micro-portlet .micro-footer,
  .idee-preferite-micro-portlet .micro-footer,
  .le-mie-idee-micro-portlet .micro-footer,
  .le-mie-gare-micro-portlet .micro-footer {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    text-align: center; }
  .need-reports-cittadino-portlet .micro-footer-start,
  .need-reports-portlet .micro-footer-start,
  .statistiche-portlet .micro-footer-start,
  .challenge-explorer-portlet .micro-footer-start,
  .idea-explorer-portlet .micro-footer-start,
  .gare-preferite-micro-portlet .micro-footer-start,
  .idee-cui-collaboro-micro-portlet .micro-footer-start,
  .idee-preferite-micro-portlet .micro-footer-start,
  .le-mie-idee-micro-portlet .micro-footer-start,
  .le-mie-gare-micro-portlet .micro-footer-start {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    text-align: center; }
  .need-reports-cittadino-portlet .boldText,
  .need-reports-portlet .boldText,
  .statistiche-portlet .boldText,
  .challenge-explorer-portlet .boldText,
  .idea-explorer-portlet .boldText,
  .gare-preferite-micro-portlet .boldText,
  .idee-cui-collaboro-micro-portlet .boldText,
  .idee-preferite-micro-portlet .boldText,
  .le-mie-idee-micro-portlet .boldText,
  .le-mie-gare-micro-portlet .boldText {
    /*color: #333;*/
    font-weight: bold; }
  .need-reports-cittadino-portlet .sectionTitle,
  .need-reports-portlet .sectionTitle,
  .statistiche-portlet .sectionTitle,
  .challenge-explorer-portlet .sectionTitle,
  .idea-explorer-portlet .sectionTitle,
  .gare-preferite-micro-portlet .sectionTitle,
  .idee-cui-collaboro-micro-portlet .sectionTitle,
  .idee-preferite-micro-portlet .sectionTitle,
  .le-mie-idee-micro-portlet .sectionTitle,
  .le-mie-gare-micro-portlet .sectionTitle {
    /* color: #333;*/
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 20px 0; }
  .need-reports-cittadino-portlet span .sectionTitle,
  .need-reports-portlet span .sectionTitle,
  .statistiche-portlet span .sectionTitle,
  .challenge-explorer-portlet span .sectionTitle,
  .idea-explorer-portlet span .sectionTitle,
  .gare-preferite-micro-portlet span .sectionTitle,
  .idee-cui-collaboro-micro-portlet span .sectionTitle,
  .idee-preferite-micro-portlet span .sectionTitle,
  .le-mie-idee-micro-portlet span .sectionTitle,
  .le-mie-gare-micro-portlet span .sectionTitle {
    /*color: #888;*/
    font-size: 11px;
    line-height: 8px;
    margin-right: 4px; }
  .need-reports-cittadino-portlet .secondoPiano,
  .need-reports-portlet .secondoPiano,
  .statistiche-portlet .secondoPiano,
  .challenge-explorer-portlet .secondoPiano,
  .idea-explorer-portlet .secondoPiano,
  .gare-preferite-micro-portlet .secondoPiano,
  .idee-cui-collaboro-micro-portlet .secondoPiano,
  .idee-preferite-micro-portlet .secondoPiano,
  .le-mie-idee-micro-portlet .secondoPiano,
  .le-mie-gare-micro-portlet .secondoPiano {
    /*color: #888;*/
    font-size: 10px;
    line-height: 12px;
    margin-right: 4px;
    text-align: right; }
  .need-reports-cittadino-portlet .secondoPiano.microlabel,
  .need-reports-portlet .secondoPiano.microlabel,
  .statistiche-portlet .secondoPiano.microlabel,
  .challenge-explorer-portlet .secondoPiano.microlabel,
  .idea-explorer-portlet .secondoPiano.microlabel,
  .gare-preferite-micro-portlet .secondoPiano.microlabel,
  .idee-cui-collaboro-micro-portlet .secondoPiano.microlabel,
  .idee-preferite-micro-portlet .secondoPiano.microlabel,
  .le-mie-idee-micro-portlet .secondoPiano.microlabel,
  .le-mie-gare-micro-portlet .secondoPiano.microlabel {
    display: inline-block;
    min-width: 30px; }
  .need-reports-cittadino-portlet .moreInfo,
  .need-reports-portlet .moreInfo,
  .statistiche-portlet .moreInfo,
  .challenge-explorer-portlet .moreInfo,
  .idea-explorer-portlet .moreInfo,
  .gare-preferite-micro-portlet .moreInfo,
  .idee-cui-collaboro-micro-portlet .moreInfo,
  .idee-preferite-micro-portlet .moreInfo,
  .le-mie-idee-micro-portlet .moreInfo,
  .le-mie-gare-micro-portlet .moreInfo {
    display: inline-block;
    width: 100%; }
  .need-reports-cittadino-portlet .infoText,
  .need-reports-portlet .infoText,
  .statistiche-portlet .infoText,
  .challenge-explorer-portlet .infoText,
  .idea-explorer-portlet .infoText,
  .gare-preferite-micro-portlet .infoText,
  .idee-cui-collaboro-micro-portlet .infoText,
  .idee-preferite-micro-portlet .infoText,
  .le-mie-idee-micro-portlet .infoText,
  .le-mie-gare-micro-portlet .infoText {
    font-style: italic;
    padding: 5px;
    text-align: center; }
  .need-reports-cittadino-portlet .button,
  .need-reports-portlet .button,
  .statistiche-portlet .button,
  .challenge-explorer-portlet .button,
  .idea-explorer-portlet .button,
  .gare-preferite-micro-portlet .button,
  .idee-cui-collaboro-micro-portlet .button,
  .idee-preferite-micro-portlet .button,
  .le-mie-idee-micro-portlet .button,
  .le-mie-gare-micro-portlet .button {
    /* background: #FFFFFF; */
    /* color: #333; */
    float: left;
    min-width: 64px;
    max-width: 115px;
    display: block;
    margin: .5em;
    padding: .5em 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale; }
  .need-reports-cittadino-portlet .button:hover,
  .need-reports-cittadino-portlet .button:active,
  .need-reports-portlet .button:hover,
  .need-reports-portlet .button:active,
  .statistiche-portlet .button:hover,
  .statistiche-portlet .button:active,
  .challenge-explorer-portlet .button:hover,
  .challenge-explorer-portlet .button:active,
  .idea-explorer-portlet .button:hover,
  .idea-explorer-portlet .button:active,
  .gare-preferite-micro-portlet .button:hover,
  .gare-preferite-micro-portlet .button:active,
  .idee-cui-collaboro-micro-portlet .button:hover,
  .idee-cui-collaboro-micro-portlet .button:active,
  .idee-preferite-micro-portlet .button:hover,
  .idee-preferite-micro-portlet .button:active,
  .le-mie-idee-micro-portlet .button:hover,
  .le-mie-idee-micro-portlet .button:active,
  .le-mie-gare-micro-portlet .button:hover,
  .le-mie-gare-micro-portlet .button:active {
    text-decoration: none; }
  .need-reports-cittadino-portlet .button:focus,
  .need-reports-portlet .button:focus,
  .statistiche-portlet .button:focus,
  .challenge-explorer-portlet .button:focus,
  .idea-explorer-portlet .button:focus,
  .gare-preferite-micro-portlet .button:focus,
  .idee-cui-collaboro-micro-portlet .button:focus,
  .idee-preferite-micro-portlet .button:focus,
  .le-mie-idee-micro-portlet .button:focus,
  .le-mie-gare-micro-portlet .button:focus {
    outline: none; }
  .need-reports-cittadino-portlet .button > span,
  .need-reports-portlet .button > span,
  .statistiche-portlet .button > span,
  .challenge-explorer-portlet .button > span,
  .idea-explorer-portlet .button > span,
  .gare-preferite-micro-portlet .button > span,
  .idee-cui-collaboro-micro-portlet .button > span,
  .idee-preferite-micro-portlet .button > span,
  .le-mie-idee-micro-portlet .button > span,
  .le-mie-gare-micro-portlet .button > span {
    vertical-align: middle;
    text-transform: uppercase; }
  .need-reports-cittadino-portlet .button--ujarak,
  .need-reports-portlet .button--ujarak,
  .statistiche-portlet .button--ujarak,
  .challenge-explorer-portlet .button--ujarak,
  .idea-explorer-portlet .button--ujarak,
  .gare-preferite-micro-portlet .button--ujarak,
  .idee-cui-collaboro-micro-portlet .button--ujarak,
  .idee-preferite-micro-portlet .button--ujarak,
  .le-mie-idee-micro-portlet .button--ujarak,
  .le-mie-gare-micro-portlet .button--ujarak {
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
  .need-reports-cittadino-portlet .button--ujarak::before,
  .need-reports-portlet .button--ujarak::before,
  .statistiche-portlet .button--ujarak::before,
  .challenge-explorer-portlet .button--ujarak::before,
  .idea-explorer-portlet .button--ujarak::before,
  .gare-preferite-micro-portlet .button--ujarak::before,
  .idee-cui-collaboro-micro-portlet .button--ujarak::before,
  .idee-preferite-micro-portlet .button--ujarak::before,
  .le-mie-idee-micro-portlet .button--ujarak::before,
  .le-mie-gare-micro-portlet .button--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #B6BD00;*/
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .need-reports-cittadino-portlet .button--ujarak,
  .need-reports-cittadino-portlet .button--ujarak::before,
  .need-reports-portlet .button--ujarak,
  .need-reports-portlet .button--ujarak::before,
  .statistiche-portlet .button--ujarak,
  .statistiche-portlet .button--ujarak::before,
  .challenge-explorer-portlet .button--ujarak,
  .challenge-explorer-portlet .button--ujarak::before,
  .idea-explorer-portlet .button--ujarak,
  .idea-explorer-portlet .button--ujarak::before,
  .gare-preferite-micro-portlet .button--ujarak,
  .gare-preferite-micro-portlet .button--ujarak::before,
  .idee-cui-collaboro-micro-portlet .button--ujarak,
  .idee-cui-collaboro-micro-portlet .button--ujarak::before,
  .idee-preferite-micro-portlet .button--ujarak,
  .idee-preferite-micro-portlet .button--ujarak::before,
  .le-mie-idee-micro-portlet .button--ujarak,
  .le-mie-idee-micro-portlet .button--ujarak::before,
  .le-mie-gare-micro-portlet .button--ujarak,
  .le-mie-gare-micro-portlet .button--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .need-reports-cittadino-portlet .button--ujarak:hover,
  .need-reports-portlet .button--ujarak:hover,
  .statistiche-portlet .button--ujarak:hover,
  .challenge-explorer-portlet .button--ujarak:hover,
  .idea-explorer-portlet .button--ujarak:hover,
  .gare-preferite-micro-portlet .button--ujarak:hover,
  .idee-cui-collaboro-micro-portlet .button--ujarak:hover,
  .idee-preferite-micro-portlet .button--ujarak:hover,
  .le-mie-idee-micro-portlet .button--ujarak:hover,
  .le-mie-gare-micro-portlet .button--ujarak:hover {
    /*color: #fff;*/ }
  .need-reports-cittadino-portlet .button--ujarak:hover::before,
  .need-reports-portlet .button--ujarak:hover::before,
  .statistiche-portlet .button--ujarak:hover::before,
  .challenge-explorer-portlet .button--ujarak:hover::before,
  .idea-explorer-portlet .button--ujarak:hover::before,
  .gare-preferite-micro-portlet .button--ujarak:hover::before,
  .idee-cui-collaboro-micro-portlet .button--ujarak:hover::before,
  .idee-preferite-micro-portlet .button--ujarak:hover::before,
  .le-mie-idee-micro-portlet .button--ujarak:hover::before,
  .le-mie-gare-micro-portlet .button--ujarak:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .need-reports-cittadino-portlet .actionButtons,
  .need-reports-portlet .actionButtons,
  .statistiche-portlet .actionButtons,
  .challenge-explorer-portlet .actionButtons,
  .idea-explorer-portlet .actionButtons,
  .gare-preferite-micro-portlet .actionButtons,
  .idee-cui-collaboro-micro-portlet .actionButtons,
  .idee-preferite-micro-portlet .actionButtons,
  .le-mie-idee-micro-portlet .actionButtons,
  .le-mie-gare-micro-portlet .actionButtons {
    margin: 10px 0 25px;
    text-align: center; }
  .need-reports-cittadino-portlet .actionButtons button,
  .need-reports-portlet .actionButtons button,
  .statistiche-portlet .actionButtons button,
  .challenge-explorer-portlet .actionButtons button,
  .idea-explorer-portlet .actionButtons button,
  .gare-preferite-micro-portlet .actionButtons button,
  .idee-cui-collaboro-micro-portlet .actionButtons button,
  .idee-preferite-micro-portlet .actionButtons button,
  .le-mie-idee-micro-portlet .actionButtons button,
  .le-mie-gare-micro-portlet .actionButtons button {
    /*background-color: #67B2E8;*/
    background-image: none;
    /*border: 1px solid #67b2e8;*/
    border-radius: 50%;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    /*color: white;*/
    font-size: 2em;
    font-family: roboto;
    height: 50px;
    margin: 0 10px;
    text-shadow: none;
    width: 50px; }
  .need-reports-cittadino-portlet .actionButtons button:hover,
  .need-reports-portlet .actionButtons button:hover,
  .statistiche-portlet .actionButtons button:hover,
  .challenge-explorer-portlet .actionButtons button:hover,
  .idea-explorer-portlet .actionButtons button:hover,
  .gare-preferite-micro-portlet .actionButtons button:hover,
  .idee-cui-collaboro-micro-portlet .actionButtons button:hover,
  .idee-preferite-micro-portlet .actionButtons button:hover,
  .le-mie-idee-micro-portlet .actionButtons button:hover,
  .le-mie-gare-micro-portlet .actionButtons button:hover {
    /* background-color: #67B2E8;*/
    /*background-image: none;*/
    /*	    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
    /*	    color: white;*/
    text-shadow: none; }
  .need-reports-cittadino-portlet .actionButtons input.addButton,
  .need-reports-portlet .actionButtons input.addButton,
  .statistiche-portlet .actionButtons input.addButton,
  .challenge-explorer-portlet .actionButtons input.addButton,
  .idea-explorer-portlet .actionButtons input.addButton,
  .gare-preferite-micro-portlet .actionButtons input.addButton,
  .idee-cui-collaboro-micro-portlet .actionButtons input.addButton,
  .idee-preferite-micro-portlet .actionButtons input.addButton,
  .le-mie-idee-micro-portlet .actionButtons input.addButton,
  .le-mie-gare-micro-portlet .actionButtons input.addButton {
    /* background-color: #67B2E8;*/
    /*	    background-image: none;*/
    /*    border: 1px solid #67b2e8;*/
    border-radius: 50%;
    /*	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    /*	    color: white;*/
    font-size: 2em;
    font-family: roboto;
    height: 50px;
    margin: 0 10px;
    text-shadow: none;
    width: 50px;
    transition: all 0.3s ease 0s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); }
  .need-reports-cittadino-portlet .actionButtons input.addButton:focus,
  .need-reports-portlet .actionButtons input.addButton:focus,
  .statistiche-portlet .actionButtons input.addButton:focus,
  .challenge-explorer-portlet .actionButtons input.addButton:focus,
  .idea-explorer-portlet .actionButtons input.addButton:focus,
  .gare-preferite-micro-portlet .actionButtons input.addButton:focus,
  .idee-cui-collaboro-micro-portlet .actionButtons input.addButton:focus,
  .idee-preferite-micro-portlet .actionButtons input.addButton:focus,
  .le-mie-idee-micro-portlet .actionButtons input.addButton:focus,
  .le-mie-gare-micro-portlet .actionButtons input.addButton:focus {
    outline-style: none; }
  .need-reports-cittadino-portlet .actionButtons input.addButton:hover,
  .need-reports-portlet .actionButtons input.addButton:hover,
  .statistiche-portlet .actionButtons input.addButton:hover,
  .challenge-explorer-portlet .actionButtons input.addButton:hover,
  .idea-explorer-portlet .actionButtons input.addButton:hover,
  .gare-preferite-micro-portlet .actionButtons input.addButton:hover,
  .idee-cui-collaboro-micro-portlet .actionButtons input.addButton:hover,
  .idee-preferite-micro-portlet .actionButtons input.addButton:hover,
  .le-mie-idee-micro-portlet .actionButtons input.addButton:hover,
  .le-mie-gare-micro-portlet .actionButtons input.addButton:hover {
    /*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); }
  .need-reports-cittadino-portlet .actionButtons input.addButton.openAddMenu,
  .need-reports-portlet .actionButtons input.addButton.openAddMenu,
  .statistiche-portlet .actionButtons input.addButton.openAddMenu,
  .challenge-explorer-portlet .actionButtons input.addButton.openAddMenu,
  .idea-explorer-portlet .actionButtons input.addButton.openAddMenu,
  .gare-preferite-micro-portlet .actionButtons input.addButton.openAddMenu,
  .idee-cui-collaboro-micro-portlet .actionButtons input.addButton.openAddMenu,
  .idee-preferite-micro-portlet .actionButtons input.addButton.openAddMenu,
  .le-mie-idee-micro-portlet .actionButtons input.addButton.openAddMenu,
  .le-mie-gare-micro-portlet .actionButtons input.addButton.openAddMenu {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); }

/* 2 END */
/* EXPANDED */
.columns-max .ideeXGare {
  /* border-bottom: 1px solid #efefef;*/
  margin-top: 40px;
  padding-bottom: 20px; }

.columns-max #contentMacro {
  margin-top: 55px; }

.columns-max #contentMacro form {
  margin: -55px 0 20px; }

.cardContent {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start; }

.columns-max .lineDiv {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);*/
  display: inline-block;
  margin: 7px 5px;
  min-width: 20%;
  /* 	  max-width: 45%; */
  padding: 3px 6px;
  width: 290px;
  vertical-align: top;
  /* 	  display: -webkit-box; */
  /* 	  display: -moz-box; */
  /* 		display: box; */
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }

.columns-max .lineDiv .divFeatures {
  vertical-align: middle;
  line-height: 30px;
  display: inline-block;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1; }

.columns-max .cruscotto-myIdeaImg {
  display: inline-block;
  height: 100px;
  margin: 10px;
  width: 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1; }

.columns-max .cruscotto-myIdeaImg {
  margin: 10px;
  max-height: 60px;
  max-width: 60px;
  min-height: 60px;
  min-width: 60px;
  vertical-align: top; }

/* 	.columns-max .actionButtons { */
/* 	  left: -1px; */
/* 	  margin: 0 auto; */
/* 	  position: fixed; */
/* 	  right: -1px; */
/* 	  top: 160px; */
/* 	} */
.columns-max .actionButtons {
  left: -1px;
  margin: 0 auto;
  position: fixed;
  right: -1px;
  top: 160px;
  width: 0; }

.columns-max .actionButtons .button {
  max-width: 100%;
  margin: 0 0.5em;
  opacity: 0;
  transition: All 1s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  transform: scale(0.8) translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px); }

/* 	.columns-max .actionButtons > span { */
/* 	  display: inline-block; */
/* 	  height: 60px; */
/* 	  left: 0; */
/* 	  position: fixed; */
/* 	  right: 0; */
/* 	  width: 100%; */
/* 	  z-index: 100; */
/* 	} */
.columns-max .actionButtons > span {
  display: inline-block;
  height: 60px;
  left: 50%;
  position: fixed;
  width: 0px;
  z-index: 100;
  margin-left: -25px;
  width: auto; }

.columns-max .actionButtons ul {
  list-style: outside none none;
  margin: 0 20px;
  width: auto;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  transition: All .5s ease;
  -webkit-transition: All .5s ease;
  -moz-transition: All .5s ease;
  -o-transition: All .5s ease;
  transform: translateY(5px) translateX(-10px);
  -webkit-transform: translateY(5px) translateX(-10px);
  -moz-transform: translateY(5px) translateX(-10px);
  -o-transform: translateY(5px) translateX(-10px);
  -ms-transform: translateY(5px) translateX(-10px); }

.columns-max .actionButtons ul.openAddMenu {
  transform: translateY(60px) translateX(-10px);
  -webkit-transform: translateY(60px) translateX(-10px);
  -moz-transform: translateY(60px) translateX(-10px);
  -o-transform: translateY(60px) translateX(-10px);
  -ms-transform: translateY(60px) translateX(-10px); }

.columns-max .actionButtons ul li {
  margin-left: -40px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1; }

.columns-max .actionButtons ul.openAddMenu li a.button {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px); }

.columns-max .actionButtons .itemMenu {
  /*text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);*/
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  width: auto;
  min-width: 164px; }

.columns-max .actionButtons .itemMenu:hover {
  /*		background-color: #fff;*/
  /*		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);*/ }

.columns-max .actionButtons .itemMenu:hover .btn_icon {
  /*  		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/ }

.columns-max .actionButtons .idea_icon::before {
  content: "\f0eb";
  /*icon lightbulb*/
  font-family: "fontawesome-alloy"; }

.columns-max .actionButtons .challenge_icon::before {
  content: "\f091";
  /*icon trophy*/
  font-family: "fontawesome-alloy"; }

.columns-max .actionButtons ul li .btn_icon {
  /* background-color: #71C5FF;*/
  border-radius: 50%;
  /*	  color: #efefef;*/
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px 0 0;
  width: 40px;
  text-shadow: none;
  /*  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/ }

.columns-max .actionButtons ul li .btn_icon:hover {
  text-shadow: none; }

.columns-max .actionButtons ul li .btn_text {
  opacity: 0;
  display: inline-block;
  line-height: 40px;
  transition: all 1s ease 0s;
  -webkit-transition: All 1s ease 0s;
  -moz-transition: All 1s ease 0s;
  -o-transition: All 1s ease 0s; }

.columns-max .actionButtons ul li .itemMenu:hover .btn_text {
  /* color: #71c5ff;*/
  font-weight: bold;
  opacity: 1;
  text-shadow: -1px 5px 9px rgba(0, 0, 0, 0.6); }

.columns-max .actionButtons #singleActionBtn .btn_text {
  display: inline-block;
  line-height: 50px;
  opacity: 0;
  text-transform: uppercase;
  transition: all 1s ease 0s; }

.columns-max .actionButtons #singleActionBtn:hover .btn_text {
  /*color: #71c5ff;*/
  font-weight: bold;
  line-height: 50px;
  opacity: 1;
  text-shadow: -1px 5px 9px rgba(0, 0, 0, 0.6); }

.columns-max .actionButtons #singleActionBtn .btn_icon {
  /*	  background-color: #71c5ff;*/
  border-radius: 50%;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  /*	  color: #efefef;*/
  display: inline-block;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 0 0;
  text-shadow: none;
  width: 50px; }

.columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
  /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/ }

/*EXPANDED BTN GROUP*/
.lineDiv .btn-group.lfr-icon-menu,
.ideeXGare .lineDiv .btn-group.lfr-icon-menu {
  float: right;
  height: 40px;
  margin: 20px;
  padding: 0;
  width: 40px; }

.lineDiv .btn-group .dropdown-toggle.btn,
.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
  /*  background-color: #cac8c8;*/
  background-image: none;
  border: 0 none;
  border-radius: 100%;
  /*  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);*/
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px; }

.lineDiv .btn-group .dropdown-toggle.btn:hover,
.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
  /*   background-color: #cac8c8;
     background-image: none;
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
     color: white;*/
  text-shadow: none; }

.lineDiv .btn-group .dropdown-toggle img,
.ideeXGare .lineDiv .btn-group .dropdown-toggle img {
  margin: 11px; }

/*EXPANDED BTN MANAGER*/
.lineDiv .divBtnManager {
  /* border-top: 1px solid #efefef;*/
  margin: 0;
  padding-top: 10px;
  text-align: center;
  width: 100%; }

.lineDiv .divBtnManager .form {
  display: inline-block;
  margin: 3px auto 5px; }

.lineDiv .divBtnManager form .btn.btn-primary {
  width: 200px; }

/*FLEX BOX*/
/* .box-horizontal-start-center { */
/* 	display: -webkit-box; */
/* 	display: -moz-box; */
/* 	display: box; */
/* 	-webkit-box-orient: horizontal; */
/* 	-moz-box-orient: horizontal; */
/* 	box-orient: horizontal; */
/* 	-webkit-box-align: start; */
/* 	-moz-box-align: start; */
/* 	box-align: start; */
/* 	-webkit-box-direction: normal; */
/* 	-moz-box-direction: normal; */
/* 	box-direction: normal; */
/* 	-webkit-box-pack: center; */
/* 	-moz-box-pack: center; */
/* 	box-pack: center; */
/* } */
/* .childbox-horizontal-start-center { */
/* 	-webkit-box-flex: 0; */
/* 	-moz-box-flex: 0; */
/* 	box-flex: 0; */
/* 	-webkit-box-ordinal-group: 1; */
/* 	-moz-box-ordinal-group: 1; */
/* 	box-ordinal-group: 1; */
/* } */
/*IMPORTS*/
/* 2 Main Style Microportlet */
.statistiche-portlet {
  /* IMAGE */
  /*Lista Statistiche*/ }
  .statistiche-portlet .microportlet-img {
    background-color: transparent;
    /* 	  background-image: url("@base_url@/css/../img/microimgs/lemieidee.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover; }
  .statistiche-portlet #statsGraph > div {
    text-align: center; }
  .statistiche-portlet div#stats {
    margin-top: 60px; }
  .statistiche-portlet .firstlevel-list {
    margin: 10px; }
  .statistiche-portlet .secondlevel-list {
    list-style: outside none none; }
  .statistiche-portlet .list-value {
    margin: 0 10px; }
  .statistiche-portlet .list-text {
    font-style: italic; }

/* 2 END */
/* 2 Main Style Microportlet */
/* IMAGE */
.idea-explorer-portlet {
  /*	
  	.microportlet-img-vertical {
  		  background-position: 50% 50%;
  		  height: 0em !important;
  
  	}
   	.microportlet-img-horizontal {
  	  background-position: 10% 50%;
  	  width: 0em !important;
  	 
  	}
  	
  */ }
  .idea-explorer-portlet .microportlet-img {
    background-color: transparent;
    /* 	    background-image: none;  */
    background-image: url("@base_url@/css/../img/microimgs/ideasexplorer.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .idea-explorer-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .idea-explorer-portlet .cruscotto-myIdeaImg,
  .idea-explorer-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }
  .idea-explorer-portlet .microportlet-wrapper {
    margin-top: -16px !important; }

/* 2 END */
/* 2 Main Style Microportlet */
.challenge-explorer-portlet {
  /*	
  	.microportlet-img-vertical {
  		  background-position: 50% 50%;
  		  height: 0em !important;
  
  	}
   	.microportlet-img-horizontal {
  	  background-position: 10% 50%;
  	  width: 0em !important;
  	 
  	}
  	
  */ }
  .challenge-explorer-portlet .microportlet-img {
    background-color: transparent;
    /*   background-image: none; */
    background-image: url("@base_url@/css/../img/microimgs/challengesexplorer.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .challenge-explorer-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .challenge-explorer-portlet .cruscotto-myIdeaImg,
  .challenge-explorer-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }
  .challenge-explorer-portlet .microportlet-wrapper {
    margin-top: -16px !important; }

/* 2 END */
/* 2 Main Style Microportlet */
.le-mie-idee-micro-portlet {
  /* IMAGE */
  /*	
  	.microportlet-img-vertical {
  		  background-position: 50% 50%;
  		  height: 0em !important;
  
  	}
   	.microportlet-img-horizontal {
  	  background-position: 10% 50%;
  	  width: 0em !important;
  	 
  	}
  	
  */ }
  .le-mie-idee-micro-portlet .microportlet-img {
    background-color: transparent;
    /* 	  background-image: url("@base_url@/css/../img/microimgs/lemieidee.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover; }
  .le-mie-idee-micro-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .le-mie-idee-micro-portlet .cruscotto-myIdeaImg,
  .le-mie-idee-micro-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }
  .le-mie-idee-micro-portlet .microportlet-wrapper {
    margin-top: -16px !important; }

/* 2 END */
/* 2 Main Style Microportlet */
.le-mie-gare-micro-portlet {
  /*
  	.microportlet-img-vertical {
  		  background-position: 50% 50%;
  		  height: 0em !important;
  
  	}
   	.microportlet-img-horizontal {
  	  background-position: 10% 50%;
  	  width: 0em !important;
  	 
  	}
  	*/ }
  .le-mie-gare-micro-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("@base_url@/css/../img/microimgs/lemiegare-center.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .le-mie-gare-micro-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .le-mie-gare-micro-portlet .cruscotto-myIdeaImg {
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    margin: 5px;
    vertical-align: top; }
  .le-mie-gare-micro-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }
  .le-mie-gare-micro-portlet .microportlet-wrapper {
    margin-top: -16px !important; }

/* 2 END */
/* 2 Main Style Microportlet */
/* IMAGE */
.idee-preferite-micro-portlet .microportlet-img {
  background-color: transparent;
  background-image: url("@base_url@/css/../img/microimgs/ideepreferite.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }
.idee-preferite-micro-portlet .allinea {
  float: left;
  padding-right: 4px; }
.idee-preferite-micro-portlet .cruscotto-myIdeaImg,
.idee-preferite-micro-portlet .columns-max .cruscotto-myIdeaImg {
  max-height: 60px;
  max-width: 60px;
  min-height: 60px;
  min-width: 60px;
  margin: 10px;
  vertical-align: top; }

/* 2 END */
/* 2 Main Style Microportlet */
.idee-cui-collaboro-micro-portlet {
  /* IMAGE */ }
  .idee-cui-collaboro-micro-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("@base_url@/css/../img/microimgs/ideecuicollaboro.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .idee-cui-collaboro-micro-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .idee-cui-collaboro-micro-portlet .cruscotto-myIdeaImg,
  .idee-cui-collaboro-micro-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }

/* 2 END */
/* 2 Main Style Microportlet */
.gare-preferite-micro-portlet {
  /* IMAGE */ }
  .gare-preferite-micro-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("@base_url@/css/../img/microimgs/garepreferite.jpeg");
    background-repeat: no-repeat;
    background-size: cover; }
  .gare-preferite-micro-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .gare-preferite-micro-portlet .cruscotto-myIdeaImg,
  .gare-preferite-micro-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }

/* 2 END */
/* 2 Main Style Microportlet */
.need-reports-cittadino-portlet {
  /* IMAGE */ }
  .need-reports-cittadino-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("@base_url@/css/../img/microimgs/need.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .need-reports-cittadino-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .need-reports-cittadino-portlet .cruscotto-myIdeaImg,
  .need-reports-cittadino-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }

/* 2 END */
/* 2 Main Style Microportlet */
.need-reports-portlet {
  /* IMAGE */ }
  .need-reports-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("@base_url@/css/../img/microimgs/need.jpg");
    background-repeat: no-repeat;
    background-size: cover; }

/* 2 END */

