/* 2 Main Style Microportlet */
.need-reports-cittadino-portlet {
  /* IMAGE */ }
  .need-reports-cittadino-portlet .microportlet-img {
    background-color: transparent;
    background-image: url("../img/microimgs/need.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .need-reports-cittadino-portlet .allinea {
    float: left;
    padding-right: 4px; }
  .need-reports-cittadino-portlet .cruscotto-myIdeaImg,
  .need-reports-cittadino-portlet .columns-max .cruscotto-myIdeaImg {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    margin: 10px;
    vertical-align: top; }

/* 2 END */

