/* Add Button */
.core-2 #requirementsSection.panel .actionButtons {
  position: relative;
  top: 0; }

.core-2 #requirementsSection.panel .actionButtons > span {
  position: relative; }

.core-2 #requirementsSection.panel .actionButtons input.addButton {
  background-color: #67b2e8;
  background-image: none;
  border: 1px solid #67b2e8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white; }

/* Action buttons */
.core-2 .requirementContent .requirementItem .button {
  background: transparent;
  color: #333;
  color: inherit; }

/* Ujarak */
.core-2 .requirementContent .requirementItem .button--ujarak::before {
  background: #B6BD00; }

.core-2 .requirementContent .requirementItem .button--ujarak:hover {
  color: #fff; }

/* Ujarak */
/* fine Action buttons */
.core-2 .requirementContent {
  /* 	  border-top: 2px solid #b6bd00; */
  border-top: 1px solid #eee; }

.core-2 .requirementContent .requirementItem {
  border-bottom: 1px dotted #ddd; }

.core-2 .requirementContent .requirementItem .numRequirement {
  border-right: 2px solid #67b2e8; }

.core-2 .requirementContent .requirementItem .textItem {
  border-top: thin dotted #ddd; }

.core-2 .requirementContent .requirementItem button.deleteTask {
  background-color: #fefefe;
  border: 1px solid #f7323f;
  color: #f7323f; }

.core-2 .requirementContent .requirementItem .icon-remove:before {
  content: "\f00d"; }

.core-2 .requirementContent .requirementItem .icon-user::before {
  content: "\f007"; }

/* ------- Stato task --------*/
.core-2 .statoAssigned {
  color: orange; }

.core-2 .statoEnd {
  color: green; }

/* -------- Legenda --------*/
.core-2 .contentLegend .legend span {
  border: 0px solid #ccc; }

.core-2 .contentLegend .legend .statoAssigned {
  background-color: orange; }

.core-2 .contentLegend .legend .statoEnd {
  background-color: green; }

