/* Add Button */
.core-1 #requirementsSection.panel .actionButtons {
  position: relative;
  top: 0; }

.core-1 #requirementsSection.panel .actionButtons > span {
  position: relative; }

.core-1 #requirementsSection.panel .actionButtons input.addButton {
  background-color: #38ADC7;
  background-image: none;
  border: 1px solid #38ADC7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white; }

/* Action buttons */
.core-1 .requirementContent .requirementItem .button {
  background: transparent;
  color: #333;
  color: inherit; }

/* Ujarak */
.core-1 .requirementContent .requirementItem .button--ujarak::before {
  background: #38ADC7; }

.core-1 .requirementContent .requirementItem .button--ujarak:hover {
  color: #fff; }

/* Ujarak */
/* fine Action buttons */
.core-1 .requirementContent {
  /*	  border-top: 2px solid #38ADC7; */
  border-top: 1px solid #eee; }

.core-1 .requirementContent .requirementItem {
  border-bottom: 1px dotted #ddd; }

.core-1 .requirementContent .requirementItem .numRequirement {
  border-right: 2px solid #38ADC7; }

.core-1 .requirementContent .requirementItem .textItem {
  border-top: thin dotted #ddd; }

.core-1 .requirementContent .requirementItem button.deleteTask {
  background-color: #fefefe;
  border: 1px solid #f7323f;
  color: #f7323f; }

.core-1 .requirementContent .requirementItem .icon-remove:before {
  content: "\f00d"; }

.core-1 .requirementContent .requirementItem .icon-user::before {
  content: "\f007"; }

/* ------- Stato task --------*/
.core-1 .statoAssigned {
  color: orange; }

.core-1 .statoEnd {
  color: green; }

/* -------- Legenda --------*/
.core-1 .contentLegend .legend span {
  border: 0px solid #ccc; }

.core-1 .contentLegend .legend .statoAssigned {
  background-color: orange; }

.core-1 .contentLegend .legend .statoEnd {
  background-color: green; }

/* Add Button */
.core-2 #requirementsSection.panel .actionButtons {
  position: relative;
  top: 0; }

.core-2 #requirementsSection.panel .actionButtons > span {
  position: relative; }

.core-2 #requirementsSection.panel .actionButtons input.addButton {
  background-color: #67b2e8;
  background-image: none;
  border: 1px solid #67b2e8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: white; }

/* Action buttons */
.core-2 .requirementContent .requirementItem .button {
  background: transparent;
  color: #333;
  color: inherit; }

/* Ujarak */
.core-2 .requirementContent .requirementItem .button--ujarak::before {
  background: #B6BD00; }

.core-2 .requirementContent .requirementItem .button--ujarak:hover {
  color: #fff; }

/* Ujarak */
/* fine Action buttons */
.core-2 .requirementContent {
  /* 	  border-top: 2px solid #b6bd00; */
  border-top: 1px solid #eee; }

.core-2 .requirementContent .requirementItem {
  border-bottom: 1px dotted #ddd; }

.core-2 .requirementContent .requirementItem .numRequirement {
  border-right: 2px solid #67b2e8; }

.core-2 .requirementContent .requirementItem .textItem {
  border-top: thin dotted #ddd; }

.core-2 .requirementContent .requirementItem button.deleteTask {
  background-color: #fefefe;
  border: 1px solid #f7323f;
  color: #f7323f; }

.core-2 .requirementContent .requirementItem .icon-remove:before {
  content: "\f00d"; }

.core-2 .requirementContent .requirementItem .icon-user::before {
  content: "\f007"; }

/* ------- Stato task --------*/
.core-2 .statoAssigned {
  color: orange; }

.core-2 .statoEnd {
  color: green; }

/* -------- Legenda --------*/
.core-2 .contentLegend .legend span {
  border: 0px solid #ccc; }

.core-2 .contentLegend .legend .statoAssigned {
  background-color: orange; }

.core-2 .contentLegend .legend .statoEnd {
  background-color: green; }

/* ------- Add Button ------- */
#requirementsSection.panel .actionButtons {
  display: block;
  height: 50px;
  position: relative;
  top: -10px; }

#requirementsSection.panel .actionButtons > span {
  position: relative; }

#requirementsSection.panel .actionButtons input.addButton:hover {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg); }

/* fine Add button*/
/* -------- Legenda --------*/
#requirementsSection .contentLegend {
  float: right; }

#requirementsSection .contentLegend .legend {
  font-size: 10px;
  list-style: outside none none; }

#requirementsSection .contentLegend .legend > li {
  line-height: 15px;
  margin: 3px 0; }

#requirementsSection .contentLegend .legend span {
  border: 0px solid #ccc;
  float: left;
  width: 10px;
  height: 10px;
  margin: 2px; }

#requirementsSection .contentLegend .legend .statoAssigned {
  background-color: orange; }

#requirementsSection .contentLegend .legend .statoEnd {
  background-color: green; }

/* ------- Action buttons ------- */
#requirementsSection .actionButtons {
  min-height: 30px; }

#requirementsSection .reqButton a.btn-floating.right,
#requirementsSection .taskItem a.btn-floating.right {
  margin-bottom: 10px; }

.requirementContent .requirementItem .micro-footer-center {
  width: 100%; }

.requirementContent .requirementItem .micro-footer-left {
  width: 30em; }

.requirementContent .requirementItem .micro-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  /* 	  padding: 1em 0; */
  text-align: center; }

.requirementContent .requirementItem .button {
  background: transparent;
  color: #333;
  float: left;
  min-width: 64px;
  max-width: 115px;
  display: block;
  margin: .5em;
  padding: .5em 1em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.requirementContent .requirementItem .button:hover,
.requirementContent .requirementItem .button:active {
  text-decoration: none; }

.requirementContent .requirementItem .button:focus {
  outline: none; }

.requirementContent .requirementItem .button > span {
  vertical-align: middle;
  text-transform: uppercase; }

.requirementContent {
  /*   border-top: 2px solid #b6bd00; */
  /*   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset; */
  display: block;
  max-height: 350px;
  overflow-y: auto; }

.requirementContent .requirementItem {
  border-bottom: 1px dotted #ddd;
  margin: 20px 0;
  padding: 5px 5px 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around; }

.requirementItemContent {
  margin: 0 0 0 3px;
  flex-grow: 100;
  flex-shrink: 2;
  -moz-flex-grow: 100;
  -moz-flex-shrink: 2;
  -webkit-flex-grow: 100;
  -webkit-flex-shrink: 2; }

.requirementItemContent .row.sectionTitle {
  min-height: 40px; }

.requirementItemNum {
  border-right: 2px solid #67b2e8;
  font-weight: bold;
  margin: 0 3px;
  padding: 0 10px 0 0;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  -moz-align-self: stretch;
  -moz-flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-align-self: stretch;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0; }

.requirementContent .requirementItem .layoutRequirement {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  margin: 5px;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center; }

.requirementContent .requirementItem .box-oriz {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  flex-grow: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  margin: 0px;
  vertical-align: baseline;
  width: 50%; }

.requirementContent .requirementItem .descriptionColumn {
  float: left; }

.requirementContent .requirementItem .tasksColumn {
  float: right; }

.requirementContent .requirementItem .tasksColumn > ul {
  margin: 5px 0 0 5px; }

.requirementContent .requirementItem .numRequirement {
  border-right: 2px solid #67b2e8;
  font-weight: bold;
  margin: 0 3px;
  padding: 0 3px; }

.requirementContent .requirementItem .descriptionRequirement {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  width: 95%; }

.requirementContent .requirementItem .taskItem {
  border: 1px solid #ddd;
  list-style: outside none none;
  margin: 0 0 10px;
  padding: 10px 0 0 15px; }

.requirementContent .requirementItem .ownerTask {
  display: block;
  font-size: 90%;
  font-weight: bold; }

.requirementContent .requirementItem .textItem {
  border-top: thin dotted #ddd;
  display: inline-block;
  width: 85%; }

.requirementContent .requirementItem button.deleteTask {
  background-color: #fefefe;
  border: 1px solid #f7323f;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  color: #f7323f;
  display: inline-block;
  font-family: roboto;
  font-weight: bold;
  height: 22px;
  line-height: 21px;
  margin: -10px 3px;
  padding: 0;
  vertical-align: top;
  width: 22px; }

.requirementContent .requirementItem .icon-remove:before {
  content: "\f00d"; }

.requirementContent .requirementItem .icon-user::before {
  content: "\f007";
  margin-left: -20px;
  padding: 0 5px; }

/* Stato task */
.requirementContent .requirementItem .statoAssigned,
.requirementContent .requirementItem .statoAssigned a {
  color: orange;
  font-weight: bold; }

.requirementContent .requirementItem .statoEnd,
.requirementContent .requirementItem .statoEnd a {
  color: green;
  font-weight: bold; }

/* ------- Add Requirements Popup------- */
@media (max-width: 767px) {
  .requirementContent .requirementItem .layoutRequirement {
    display: inline-block; }

  .requirementContent .requirementItem .box-oriz {
    width: 100%; }

  .requirementContent .requirementItem .descriptionColumn {
    float: none; }

  .requirementContent .requirementItem .tasksColumn {
    float: none;
    margin-top: 30px; }

  .requirementContent .requirementItem .tasksColumn > ul {
    margin: 5px 0 0; }

  .requirementContent .requirementItem .taskItem {
    padding: 10px 5px 0 20px; } }

