/* @import url(requirements-popup-core1.css); */
/* @import url(requirements-popup-core2.css); */
/* ------- Requirement add content*/
.addRequirementContent div.reqTypeTitle {
  border-bottom: 1px solid #ddd;
  margin: 10px 20px; }

.addRequirementContent .reqTypeTitle > b {
  font-weight: bold; }

.addRequirementContent .reqTypeTitle > div {
  margin: 10px; }

.addRequirementContent .reqTypeTitle span {
  display: inline-block;
  font-weight: bold;
  width: 2%; }

.addRequirementContent .reqTypeTitle textarea {
  display: inline-block;
  width: 95%; }

.addRequirementContent textarea.requirementDescription {
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  width: 94%; }

/* ------- Add Button ------- */
.addRequirementContent .mdl-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  min-width: 64px;
  outline: medium none;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
  will-change: box-shadow, transform; }

.addRequirementContent .mdl-button--raised {
  background: rgba(158, 158, 158, 0.2) none repeat scroll 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.addRequirementContent .mdl-button--raised:active {
  background-color: rgba(158, 158, 158, 0.4);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.addRequirementContent .mdl-button--raised.mdl-button--colored:active {
  background-color: #efefef; }

.addRequirementContent .mdl-button--raised:active {
  background-color: rgba(158, 158, 158, 0.4);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.addRequirementContent .mdl-button.mdl-button--colored {
  color: #333; }

.addRequirementContent .mdl-button:active {
  background-color: rgba(158, 158, 158, 0.4); }

.addRequirementContent .mdl-button--raised.mdl-button--colored:hover {
  background-color: #efefef; }

.addRequirementContent .mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: #efefef; }

.addRequirementContent .mdl-button.mdl-button--colored:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12); }

.addRequirementContent .mdl-button--raised:focus:not(:active) {
  background-color: rgba(158, 158, 158, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36); }

.addRequirementContent .mdl-button:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12); }

.addRequirementContent .mdl-button--raised.mdl-button--colored {
  background: #efefef none repeat scroll 0 0;
  color: #333; }

/*specifiche*/
.mdl-button.mdl-button--raised.btn_add_requirement {
  margin: 10px 20px 40px; }

.btnSave.mdl-button.mdl-button--raised.btn_add_requirement {
  background-color: #f8f8f8;
  display: block; }

