/*@import url(font-awesome.css);*/
/* ------- show general view ------- */
.css-class-wrapper-fake .left {
  float: left; }

.css-class-wrapper-fake .right {
  float: right; }

.css-class-wrapper-fake .inline {
  display: inline; }

.css-class-wrapper-fake .block {
  display: block; }

.css-class-wrapper-fake .inline.block {
  display: inline-block; }

.css-class-wrapper-fake #heading {
  text-align: center; }

/* .css-class-wrapper-fake #idea-title{ */
/* 	width: 60%; */
/* 	margin:0 auto; */
/* } */
.css-class-wrapper-fake #author-anchor {
  font-size: 0.9em;
  color: #777; }

.css-class-wrapper-fake #author-anchor:hover {
  text-decoration: underline; }

.css-class-wrapper-fake #sub-heading {
  padding: 5px 0px;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
  border-radius: 0;
  margin: 20px 0px;
  overflow: auto;
  text-align: center; }

.css-class-wrapper-fake .sub-heading-item {
  display: inline-block;
  margin-left: 10px; }

.css-class-wrapper-fake .sub-heading-item:first-child {
  margin-left: 0px; }

.css-class-wrapper-fake #sub-heading i {
  margin: 0px 7px; }

.css-class-wrapper-fake #idea-time {
  /* 	width:10%; */
  text-overflow: ellipsis; }

.css-class-wrapper-fake #categories {
  /* 	width:70%; */
  text-overflow: ellipsis; }

.css-class-wrapper-fake #sub-heading-comment > a {
  color: #333; }

.css-class-wrapper-fake #sub-heading-comment > a:hover {
  text-decoration: underline; }

.css-class-wrapper-fake .panel {
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding-bottom: 30px;
  position: relative; }

section#general.panel {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%; }

.css-class-wrapper-fake .panel:first-of-type {
  /*   padding: 20px; */ }

.css-class-wrapper-fake fieldset.fieldset {
  margin-top: 30px; }

.css-class-wrapper-fake #_lemiegare_WAR_Challenge62potlet_ideasPanel {
  margin-top: 20px; }

.css-class-wrapper-fake #img-div {
  flex-grow: 2;
  -webkit-flex-grow: 2;
  min-width: 250px;
  padding: 10px 0;
  text-align: center;
  width: 25%; }

.css-class-wrapper-fake #descr-div {
  flex-grow: 3;
  -webkit-flex-grow: 3;
  min-width: 250px;
  padding: 10px 20px;
  text-align: justify;
  width: 100%; }

.css-class-wrapper-fake #descr-div > p {
  padding: 0 2%; }

.css-class-wrapper-fake #social-div.rightColumn {
  float: left;
  margin: 0;
  max-width: 20%;
  width: 100%;
  flex-grow: 2;
  -webkit-flex-grow: 2; }

.css-class-wrapper-fake #social-div .social-container {
  width: 100%; }

.css-class-wrapper-fake #social-div .social-container .links {
  margin-bottom: 20px;
  text-align: center; }

.css-class-wrapper-fake #social-div .social-container .links a {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 25px;
  margin: 10px 10px 2px;
  padding: 10px 8px 6px;
  text-decoration: none;
  text-shadow: 0 2px 3px #fff;
  width: 25px; }

.css-class-wrapper-fake #social-div .social-container .links a:hover {
  text-shadow: 0 2px 3px #ccc; }

.css-class-wrapper-fake #social-div .votes {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

.css-class-wrapper-fake #social-div .star-box {
  overflow: auto; }

.css-class-wrapper-fake #social-div .votes h5 {
  /*   margin-bottom: -10px; */
  margin-top: 15px;
  text-decoration: underline; }

.css-class-wrapper-fake #social-div .star-rating {
  padding: 0px !important; }

.css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-vote,
.css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-score {
  float: none;
  margin: 0 0 20px;
  padding: 0; }

.css-class-wrapper-fake #tags {
  border-radius: 0;
  border-top: 1px dotted #888;
  display: block;
  /*   float: right; */
  margin: 20px 0;
  padding: 5px 0;
  text-align: right; }

.css-class-wrapper-fake .actions {
  margin: 20px 0 30px;
  padding: 0;
  width: 100%; }

.css-class-wrapper-fake .actions > button, .actions > a {
  /* 	width:90% !important; */
  /* 	margin:0 auto !important; */ }

.css-class-wrapper-fake .actions .fieldset-legend {
  font-size: 1em;
  margin-bottom: 3px; }

.css-class-wrapper-fake .suggest-idea {
  /*height:60px;*/ }

.css-class-wrapper-fake #second_suggest-idea {
  width: auto;
  padding: 0 20px; }

.css-class-wrapper-fake .dates {
  font-size: 0.9em;
  width: 50%;
  margin-bottom: 10px; }

.css-class-wrapper-fake #action_download {
  padding-left: 0px;
  padding-right: 0px; }

.css-class-wrapper-fake .attach-item {
  padding: 2px 5px;
  margin: 0px 3px;
  text-align: center; }

.css-class-wrapper-fake .aui .nav-tabs > li, .aui .nav-pills > li {
  width: 50%; }

.css-class-wrapper-fake .authors-items {
  padding: 5px;
  /* 	border:1px solid #999; */
  width: 100px;
  height: auto;
  line-height: 100%;
  text-align: center;
  margin: 0px 2px 0px 2px;
  position: relative; }

.css-class-wrapper-fake .andCoworker {
  margin: 0px 2px; }

.css-class-wrapper-fake .link-group {
  font-size: 18px;
  height: auto;
  margin: auto 2px;
  padding: 0 0 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: auto; }

.css-class-wrapper-fake span.user-name {
  margin: 10px 5px;
  text-decoration: none; }

.css-class-wrapper-fake span.isAuthor {
  position: absolute;
  bottom: 0px;
  left: 25px; }

.css-class-wrapper-fake #ideaCommentsPanelContainer {
  margin-top: 20px; }

.css-class-wrapper-fake .lineDiv {
  border: 1px solid #efefef;
  box-shadow: none;
  display: inline-block;
  margin: 5px;
  max-height: 90%;
  min-height: 90%;
  text-align: center;
  width: 250px; }

.css-class-wrapper-fake .lineDiv .divFeatures {
  display: inline-block;
  margin: 0 auto;
  width: 65%; }

.css-class-wrapper-fake .divFeatures > p {
  overflow: hidden;
  text-overflow: ellipsis; }

.css-class-wrapper-fake #tableIdeas {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  max-height: 300px;
  overflow-x: auto;
  padding: 10px 0 30px;
  white-space: nowrap;
  width: 100%; }

/* #avanzamento{height:50px; line-height:50px;} */
/* .node{z-index:100; width:36px; height:50px; text-align:center;} */
/* .edge{ */
/* 	width:10%; */
/* 	height:3px; */
/* 	background-color:#333; */
/* } */
/* Google Map */
.css-class-wrapper-fake #iconLocker {
  padding: 8px 15px; }

.css-class-wrapper-fake #btnLock {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  font-size: 0.9em;
  height: 24px;
  width: auto; }

.css-class-wrapper-fake #btnLock.openLock {
  /*     background-image: url("@base_url@/css/../images/Unlock-icon.png"); */ }

/* Dashboard Statistics*/
.css-class-wrapper-fake .openDashboard {
  cursor: pointer;
  display: block;
  margin: 0 0 20px;
  padding: 10px; }

.loadDashboard {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center; }

/*Sustenabitlity Idea Section*/
.css-class-wrapper-fake .sustainability {
  margin: 20px 0;
  padding: 5px 0; }

.css-class-wrapper-fake .sustainability form .btn {
  display: block;
  margin: 0 auto; }

/* ------- Idea State ------- */
.css-class-wrapper-fake #idea-state {
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 20px;
  width: auto; }

.css-class-wrapper-fake #idea-state .state {
  min-width: 100px;
  width: auto;
  /* 	display: -webkit-box; */
  /* 	display: -moz-box; */
  /* 	display: box; */
  display: inline-block;
  vertical-align: top;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center; }

.css-class-wrapper-fake #idea-state .state div {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1; }

.css-class-wrapper-fake #idea-state .state .ico-state {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 15px 0; }

.css-class-wrapper-fake #idea-state .state.active .ico-state {
  border-bottom: 2px solid #fdc506;
  color: #fdc506;
  /*   display: inline-block; */
  width: 30px; }

.css-class-wrapper-fake #idea-state .state .tip {
  display: none;
  line-height: 30px;
  max-width: 100px;
  text-align: center;
  width: 100%; }

.css-class-wrapper-fake #idea-state .state.active .tip {
  color: #fdc506; }

.css-class-wrapper-fake #idea-state .state:hover .tip {
  display: block; }

/* fine Idea State*/
/* VME modale*/
.css-class-wrapper-fake p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 16px; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content p {
  color: black;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 24px;
  opacity: 0.87; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content:not([layout="row"]) > *:first-child:not(.mdl-subheader) {
  margin-top: 0; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h1,
.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h2,
.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h3,
.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h4,
.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h5,
.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h6 {
  margin-bottom: 18px; }

.css-class-wrapper-fake .mdl-dialog-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999; }

.css-class-wrapper-fake .mdl-dialog-container.is-visible {
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible; }

.css-class-wrapper-fake .mdl-dialog-container {
  visibility: hidden; }

.css-class-wrapper-fake .mdl-dialog-container.is-visible {
  visibility: visible; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog {
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  max-width: 80%;
  min-width: 280px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity 1s ease 1s; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog {
  opacity: 1; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content {
  box-sizing: border-box;
  display: block;
  order: 1;
  /* 	  overflow: auto; */
  padding: 24px 24px 0; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content .form.btnAction {
  text-align: left; }

.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__actions {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  margin-top: 16px;
  min-height: 40px;
  order: 2;
  padding: 6px 16px 6px 0; }

/* ------- Marketplace ------- */
.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: inline !important; }

#headerBar {
  overflow: hidden;
  margin-bottom: 5px; }

#catList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto; }

#currentCat {
  background: #cac8c8;
  border-color: #232222 !important; }

#currentCat a {
  color: #fff !important; }

.catItem {
  display: inline-block;
  margin: 5px;
  border-radius: 2px;
  width: 150px;
  text-align: center; }

.catItem a {
  padding: 0px 5px;
  line-height: 28px !important;
  display: block; }

#main_actions {
  list-style: none;
  margin: 0;
  padding: 0px 0px 2px 0px;
  overflow: auto; }

#main_actions li {
  line-height: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
  float: left;
  border-left: 1px solid #000; }

#main_actions li:first-child {
  border: none; }

#main_actions li a {
  display: block;
  color: #000 !important;
  text-decoration: none;
  padding: 0px 15px; }

#main_actions li a:hover {
  text-decoration: underline; }

.searchForm {
  padding: 0;
  overflow: hidden;
  margin-bottom: 0px !important; }

.searchForm select {
  -moz-appearance: none;
  text-align: left !important;
  text-indent: -1px; }

.control-group-inline {
  display: inline !important; }

.storeList {
  list-style: none;
  padding: 0;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: auto; }

.storeList li.market_item {
  border: 1px solid #ccc;
  float: left;
  margin: 5px 10px;
  background: #FFFFFF;
  width: 20%;
  min-width: 150px;
  max-width: 160px;
  max-height: 245px;
  oveflow: hidden;
  border-radius: 2px;
  transition: background ease-in 0.3s;
  -moz-transition: background ease-in 0.3s;
  -webkit-transition: background ease-in 0.3s;
  -ms-transition: background ease-in 0.3s; }

.storeList li.market_item:hover {
  background: #f8f8f8; }

.link_art {
  color: #000 !important;
  text-decoration: none !important;
  display: block;
  padding: 10px;
  height: calc(100% - 20px);
  outline: none; }

.link_art:hover {
  color: inherit;
  text-decoration: none; }

.cover_art {
  margin: 0 auto;
  margin-bottom: 5px;
  min-height: 144px; }

.li-item {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.5em;
  white-space: nowrap;
  width: 140px; }

.title_art {
  font-size: 1.5em;
  display: block; }

.provider_art {
  font-size: 0.85em;
  color: #999;
  font-style: italic; }

.rating_art {
  text-align: left;
  margin: 0px;
  color: #006;
  padding-left: 4px; }

.fa {
  margin-left: -4px; }

/* ------- General layout Idea ------- */
.css-class-wrapper-fake b {
  font-weight: bold; }

.css-class-wrapper-fake legend {
  border-bottom-width: 3px; }

.core-1 .css-class-wrapper-fake legend {
  border-color: #38ADC7; }

.core-2 .css-class-wrapper-fake legend {
  border-color: #B6BD00; }

.css-class-wrapper-fake legend.fieldset-legend .legend {
  display: block;
  line-height: 25px;
  margin-top: 20px;
  padding: 0 10px; }

/* - Heading - */
.css-class-wrapper-fake div#heading {
  display: block;
  margin: 20px 5px 20px;
  text-align: center;
  width: 100%; }

.css-class-wrapper-fake #idea-title {
  margin: 10px auto;
  width: 100%; }

.css-class-wrapper-fake div#heading .icon-user,
.css-class-wrapper-fake div#heading .icon-group {
  margin: 5px;
  padding: 0;
  /*   vertical-align: middle; */ }

.css-class-wrapper-fake div#heading span.icon-external-link {
  margin: 5px;
  padding: 5px;
  vertical-align: middle; }

/* ------- Genral layout Gara ------- */
.css-class-wrapper-fake #heading > div#divGaraChiusa {
  margin: 10px; }

.css-class-wrapper-fake .boldText.attentionColor {
  color: red; }

.css-class-wrapper-fake #img-div .swipebox {
  display: block; }

.css-class-wrapper-fake .challengeDates {
  display: inline-block;
  margin: 10px 0 0;
  width: 100%; }

.css-class-wrapper-fake section#general #img-div #closing fieldset, section#general #img-div #opening fieldset {
  margin: 0; }

.css-class-wrapper-fake .challengeDates .fieldset-legend {
  font-size: 1em;
  margin-bottom: 3px; }

/* ------- iFrame ------- */
iframe {
  display: block;
  margin: 0 auto;
  border: 0; }

/* ------- Buttons Manage ------- */
.css-class-wrapper-fake .stateButtonsTitle {
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px; }

.css-class-wrapper-fake .divBtnManager {
  /*   border-bottom: 1px solid #ddd; */
  /*   border-top: 1px solid #ddd; */ }

/* ------- Authors Section -------*/
.css-class-wrapper-fake .scrollableParentDiv {
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden; }

.css-class-wrapper-fake .scrollableDiv {
  display: inline-flex;
  display: -webkit-inline-flex;
  width: auto; }

.css-class-wrapper-fake .authors-items span.iconBox {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  padding: 4px 0px;
  width: 28px; }

/* ------- Artefact ------- */
.css-class-wrapper-fake .searchArtefactDiv {
  margin: 0 10px; }

.css-class-wrapper-fake .searchArtefactDiv > input#key {
  width: 50%; }

.css-class-wrapper-fake #resultsArtefactDiv {
  border-top: 1px dotted #ddd;
  margin: 20px 10px;
  padding: 10px; }

.css-class-wrapper-fake #resultsArtefactDiv {
  max-height: 350px;
  overflow: auto; }

.css-class-wrapper-fake #resultsArtefactDiv .collection {
  border: 0; }

.css-class-wrapper-fake .resultArtefact {
  display: block;
  margin-top: 20px; }

.css-class-wrapper-fake .resultArtefact a {
  margin: 0 10px; }

/* ------- Artifact marketplace ------- */
.css-class-wrapper-fake button.btn_close_artifact {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 solid #ccc;
  display: block;
  float: right;
  margin: 3px; }

.css-class-wrapper-fake .storeList li.market_item:hover button.btn_close_artifact {
  background: #ffffff; }

.css-class-wrapper-fake .storeList li.market_item button.btn_close_artifact:hover {
  color: red; }

.css-class-wrapper-fake .title_art {
  font-size: 1em; }

.css-class-wrapper-fake .storeList li.market_item {
  box-shadow: none; }

.css-class-wrapper-fake .storeList li.market_item:hover {
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }

.css-class-wrapper-fake section#associatedArtifactSection div {
  overflow-x: auto;
  width: auto; }

.css-class-wrapper-fake section#associatedArtifactSection .storeList {
  display: flex;
  display: -webkit-flex;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden; }

.css-class-wrapper-fake .resultArtefact {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px dotted #ddd;
  padding: 10px 0; }

/* Chiedere a Luigi a che serve la tabella (vuota) creata da questo elemento !!!!!! */
.css-class-wrapper-fake #associatedArtifactSection .lfr-search-container {
  display: none; }

/*Generic Enablers Section*/
.css-class-wrapper-fake .row.ge-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -webkit-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -moz-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  padding: 0;
  overflow-x: auto; }

.css-class-wrapper-fake .row.ge-list .col.templateGE {
  display: block;
  min-width: 221px; }

.css-class-wrapper-fake .row.ge-list .col.templateGE.selectedGE {
  background-color: #7ec4d1; }

.css-class-wrapper-fake .ge-list .card-panel {
  width: 200px;
  cursor: pointer;
  padding: 0; }

.css-class-wrapper-fake .ge-list .card-panel .card-content {
  padding: 0px;
  border-radius: 0; }

.css-class-wrapper-fake .avatar-container {
  position: relative;
  padding-bottom: 14px; }

.css-class-wrapper-fake .ge-list .genenabler-img {
  width: auto;
  height: 60px;
  background-color: #ccc; }

.css-class-wrapper-fake .ge-list .style-green {
  background-color: #8dec74; }

.css-class-wrapper-fake .ge-list .style-grey {
  background-color: #ababab; }

.css-class-wrapper-fake .ge-list .style-yellow {
  background-color: #fad266; }

.css-class-wrapper-fake .ge-list .genenabler-img img {
  width: auto;
  max-height: 60px;
  margin: 0 auto;
  padding: 10px 0; }

.css-class-wrapper-fake .ge-list .text-container {
  padding: 5px 5px 10px;
  overflow: hidden;
  height: 130px; }

.css-class-wrapper-fake .ge-list .text-container .fullname {
  max-height: 40px;
  min-height: 40px;
  line-height: 20px;
  display: block;
  overflow: hidden; }

.css-class-wrapper-fake .ge-list .text-container .username {
  font-size: 0.7em;
  max-height: 100px;
  overflow: hidden;
  line-height: 20px; }

.css-class-wrapper-fake .ge-list .field-items .efficency-label {
  height: 20px;
  margin: auto 5px; }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A1::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A+.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A2::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A++.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A3::before {
  content: url(@base_url@/css/../img/genericenablers/efficency_A+++.svg); }

.css-class-wrapper-fake .ge-list .taxonomy-container {
  padding: 5px 5px; }

.css-class-wrapper-fake .ge-list .taxonomy-container .field-name-field-rank,
.css-class-wrapper-fake .ge-list .taxonomy-container .field-name-field-api-chapter {
  font-size: 10px;
  padding: 4px;
  margin: 0 0 4px; }

.css-class-wrapper-fake .ge-list .ge_details {
  padding: 5px 5px 15px; }

/* ------- Comments ------- */
.css-class-wrapper-fake #commentiSection .accordion-heading .title-text {
  color: #333;
  font-size: 21px;
  font-weight: bold; }

/* ------- Buttons (material) ------- */
.css-class-wrapper-fake .mdl-button.mdl-button--raised.mdl-button--expanded {
  width: 90%;
  max-width: 350px; }

/* ------- fine Buttons (material) ------- */
/* ------- Other buttons ------- */
/* btn section to Top */
.css-class-wrapper-fake button.btnTop {
  background-color: white;
  border-color: #ddd;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  bottom: 100px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  height: 34px;
  margin: 0;
  min-width: 34px;
  opacity: 0.5;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 32px;
  z-index: 9999; }

.css-class-wrapper-fake button.btnTop:hover {
  opacity: 1; }

.css-class-wrapper-fake .btnTop .icon-circle-arrow-up {
  font-size: 32px; }

.css-class-wrapper-fake #actionButtons .form.btnAction {
  margin: 20px 0;
  width: 100%; }

/* ------- fine Other buttons ------- */
.projects-class-wrapper .inline-block {
  display: inline-block; }

.projects-class-wrapper .pj_vSection {
  width: 30%;
  margin: 10px;
  vertical-align: top; }

.projects-class-wrapper img#bestMockup {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5); }

.projects-class-wrapper .VMEprojectsLists {
  vertical-align: top;
  list-style: circle;
  max-width: 400px;
  margin: 0; }

.projects-class-wrapper .VMEprojectsLists > li {
  overflow: hidden;
  text-overflow: ellipsis; }

@media (max-device-width: 1024px) {
  .panel.projects-class-wrapper div:first-of-type {
    text-align: center; }

  .projects-class-wrapper #p_list {
    display: none; }

  .projects-class-wrapper .pj_vSection {
    width: 50%;
    margin: 0 auto; } }
@media (max-width: 1024px) {
  .css-class-wrapper-fake #idea-state .state .tip {
    display: block; } }
@media (max-width: 979px) {
  section#general.panel {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%; }

  .css-class-wrapper-fake #img-div {
    flex-grow: 2;
    -webkit-flex-grow: 2;
    min-width: 250px;
    padding: 10px 0;
    text-align: center;
    width: 25%; }

  .css-class-wrapper-fake #descr-div {
    flex-grow: 3;
    -webkit-flex-grow: 3;
    -webkit-order: -1;
    order: -1;
    min-width: 250px;
    padding: 10px 20px;
    text-align: justify;
    /* 	  width: 61.7%; */
    width: 100%; }

  .css-class-wrapper-fake #social-div.rightColumn {
    clear: left;
    float: left;
    margin: 0;
    max-width: none;
    width: 100%; }

  .css-class-wrapper-fake #social-div .star-box {
    display: inline-block;
    margin: 5px 20px;
    overflow: auto; }

  .css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-vote,
  .css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-score {
    display: inline-block;
    float: none;
    margin: 0 10px 20px;
    padding: 0; } }
@media (max-width: 767px) {
  .aui h2 {
    font-size: 28.5px; }

  .css-class-wrapper-fake #descr-div {
    order: -1;
    -webkit-order: -1; } }
@media (max-width: 480px) {
  .aui h2 {
    font-size: 24.5px; }

  .css-class-wrapper-fake #idea-state {
    width: auto; }

  .css-class-wrapper-fake #idea-state .state {
    min-width: 70px;
    width: auto; }

  .css-class-wrapper-fake #idea-state .state .ico-state {
    font-size: 20px; }

  .css-class-wrapper-fake #idea-state .state .tip {
    display: block;
    font-size: 10px;
    width: 100%; }

  .css-class-wrapper-fake button.btnTop {
    bottom: 55px; } }
/*mantenere quest'ultimo alla fine*/

