@media (max-width: 1024px) {
  .css-class-wrapper-fake #idea-state .state .tip {
    display: block; } }
@media (max-width: 979px) {
  section#general.panel {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%; }

  .css-class-wrapper-fake #img-div {
    flex-grow: 2;
    -webkit-flex-grow: 2;
    min-width: 250px;
    padding: 10px 0;
    text-align: center;
    width: 25%; }

  .css-class-wrapper-fake #descr-div {
    flex-grow: 3;
    -webkit-flex-grow: 3;
    -webkit-order: -1;
    order: -1;
    min-width: 250px;
    padding: 10px 20px;
    text-align: justify;
    /* 	  width: 61.7%; */
    width: 100%; }

  .css-class-wrapper-fake #social-div.rightColumn {
    clear: left;
    float: left;
    margin: 0;
    max-width: none;
    width: 100%; }

  .css-class-wrapper-fake #social-div .star-box {
    display: inline-block;
    margin: 5px 20px;
    overflow: auto; }

  .css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-vote,
  .css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-score {
    display: inline-block;
    float: none;
    margin: 0 10px 20px;
    padding: 0; } }
@media (max-width: 767px) {
  .aui h2 {
    font-size: 28.5px; }

  .css-class-wrapper-fake #descr-div {
    order: -1;
    -webkit-order: -1; } }
@media (max-width: 480px) {
  .aui h2 {
    font-size: 24.5px; }

  .css-class-wrapper-fake #idea-state {
    width: auto; }

  .css-class-wrapper-fake #idea-state .state {
    min-width: 70px;
    width: auto; }

  .css-class-wrapper-fake #idea-state .state .ico-state {
    font-size: 20px; }

  .css-class-wrapper-fake #idea-state .state .tip {
    display: block;
    font-size: 10px;
    width: 100%; }

  .css-class-wrapper-fake button.btnTop {
    bottom: 55px; } }

