/* ------- show general view ------- */
.css-class-wrapper-fake .left {
  float: left; }

.css-class-wrapper-fake .right {
  float: right; }

.css-class-wrapper-fake .inline {
  display: inline; }

.css-class-wrapper-fake .block {
  display: block; }

.css-class-wrapper-fake .inline.block {
  display: inline-block; }

.css-class-wrapper-fake #heading {
  text-align: center; }

/* .css-class-wrapper-fake #idea-title{ */
/* 	width: 60%; */
/* 	margin:0 auto; */
/* } */
.css-class-wrapper-fake #author-anchor {
  font-size: 0.9em;
  color: #777; }

.css-class-wrapper-fake #author-anchor:hover {
  text-decoration: underline; }

.css-class-wrapper-fake #sub-heading {
  padding: 5px 0px;
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
  border-radius: 0;
  margin: 20px 0px;
  overflow: auto;
  text-align: center; }

.css-class-wrapper-fake .sub-heading-item {
  display: inline-block;
  margin-left: 10px; }

.css-class-wrapper-fake .sub-heading-item:first-child {
  margin-left: 0px; }

.css-class-wrapper-fake #sub-heading i {
  margin: 0px 7px; }

.css-class-wrapper-fake #idea-time {
  /* 	width:10%; */
  text-overflow: ellipsis; }

.css-class-wrapper-fake #categories {
  /* 	width:70%; */
  text-overflow: ellipsis; }

.css-class-wrapper-fake #sub-heading-comment > a {
  color: #333; }

.css-class-wrapper-fake #sub-heading-comment > a:hover {
  text-decoration: underline; }

.css-class-wrapper-fake .panel {
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding-bottom: 30px;
  position: relative; }

section#general.panel {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%; }

.css-class-wrapper-fake .panel:first-of-type {
  /*   padding: 20px; */ }

.css-class-wrapper-fake fieldset.fieldset {
  margin-top: 30px; }

.css-class-wrapper-fake #_lemiegare_WAR_Challenge62potlet_ideasPanel {
  margin-top: 20px; }

.css-class-wrapper-fake #img-div {
  flex-grow: 2;
  -webkit-flex-grow: 2;
  min-width: 250px;
  padding: 10px 0;
  text-align: center;
  width: 25%; }

.css-class-wrapper-fake #descr-div {
  flex-grow: 3;
  -webkit-flex-grow: 3;
  min-width: 250px;
  padding: 10px 20px;
  text-align: justify;
  width: 100%; }

.css-class-wrapper-fake #descr-div > p {
  padding: 0 2%; }

.css-class-wrapper-fake #social-div.rightColumn {
  float: left;
  margin: 0;
  max-width: 20%;
  width: 100%;
  flex-grow: 2;
  -webkit-flex-grow: 2; }

.css-class-wrapper-fake #social-div .social-container {
  width: 100%; }

.css-class-wrapper-fake #social-div .social-container .links {
  margin-bottom: 20px;
  text-align: center; }

.css-class-wrapper-fake #social-div .social-container .links a {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 25px;
  margin: 10px 10px 2px;
  padding: 10px 8px 6px;
  text-decoration: none;
  text-shadow: 0 2px 3px #fff;
  width: 25px; }

.css-class-wrapper-fake #social-div .social-container .links a:hover {
  text-shadow: 0 2px 3px #ccc; }

.css-class-wrapper-fake #social-div .votes {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

.css-class-wrapper-fake #social-div .star-box {
  overflow: auto; }

.css-class-wrapper-fake #social-div .votes h5 {
  /*   margin-bottom: -10px; */
  margin-top: 15px;
  text-decoration: underline; }

.css-class-wrapper-fake #social-div .star-rating {
  padding: 0px !important; }

.css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-vote,
.css-class-wrapper-fake #social-div.rightColumn .taglib-ratings.stars .liferay-rating-score {
  float: none;
  margin: 0 0 20px;
  padding: 0; }

.css-class-wrapper-fake #tags {
  border-radius: 0;
  border-top: 1px dotted #888;
  display: block;
  /*   float: right; */
  margin: 20px 0;
  padding: 5px 0;
  text-align: right; }

.css-class-wrapper-fake .actions {
  margin: 20px 0 30px;
  padding: 0;
  width: 100%; }

.css-class-wrapper-fake .actions > button, .actions > a {
  /* 	width:90% !important; */
  /* 	margin:0 auto !important; */ }

.css-class-wrapper-fake .actions .fieldset-legend {
  font-size: 1em;
  margin-bottom: 3px; }

.css-class-wrapper-fake .suggest-idea {
  /*height:60px;*/ }

.css-class-wrapper-fake #second_suggest-idea {
  width: auto;
  padding: 0 20px; }

.css-class-wrapper-fake .dates {
  font-size: 0.9em;
  width: 50%;
  margin-bottom: 10px; }

.css-class-wrapper-fake #action_download {
  padding-left: 0px;
  padding-right: 0px; }

.css-class-wrapper-fake .attach-item {
  padding: 2px 5px;
  margin: 0px 3px;
  text-align: center; }

.css-class-wrapper-fake .aui .nav-tabs > li, .aui .nav-pills > li {
  width: 50%; }

.css-class-wrapper-fake .authors-items {
  padding: 5px;
  /* 	border:1px solid #999; */
  width: 100px;
  height: auto;
  line-height: 100%;
  text-align: center;
  margin: 0px 2px 0px 2px;
  position: relative; }

.css-class-wrapper-fake .andCoworker {
  margin: 0px 2px; }

.css-class-wrapper-fake .link-group {
  font-size: 18px;
  height: auto;
  margin: auto 2px;
  padding: 0 0 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: auto; }

.css-class-wrapper-fake span.user-name {
  margin: 10px 5px;
  text-decoration: none; }

.css-class-wrapper-fake span.isAuthor {
  position: absolute;
  bottom: 0px;
  left: 25px; }

.css-class-wrapper-fake #ideaCommentsPanelContainer {
  margin-top: 20px; }

.css-class-wrapper-fake .lineDiv {
  border: 1px solid #efefef;
  box-shadow: none;
  display: inline-block;
  margin: 5px;
  max-height: 90%;
  min-height: 90%;
  text-align: center;
  width: 250px; }

.css-class-wrapper-fake .lineDiv .divFeatures {
  display: inline-block;
  margin: 0 auto;
  width: 65%; }

.css-class-wrapper-fake .divFeatures > p {
  overflow: hidden;
  text-overflow: ellipsis; }

.css-class-wrapper-fake #tableIdeas {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  max-height: 300px;
  overflow-x: auto;
  padding: 10px 0 30px;
  white-space: nowrap;
  width: 100%; }

/* #avanzamento{height:50px; line-height:50px;} */
/* .node{z-index:100; width:36px; height:50px; text-align:center;} */
/* .edge{ */
/* 	width:10%; */
/* 	height:3px; */
/* 	background-color:#333; */
/* } */
/* Google Map */
.css-class-wrapper-fake #iconLocker {
  padding: 8px 15px; }

.css-class-wrapper-fake #btnLock {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  font-size: 0.9em;
  height: 24px;
  width: auto; }

.css-class-wrapper-fake #btnLock.openLock {
  /*     background-image: url("../images/Unlock-icon.png"); */ }

/* Dashboard Statistics*/
.css-class-wrapper-fake .openDashboard {
  cursor: pointer;
  display: block;
  margin: 0 0 20px;
  padding: 10px; }

.loadDashboard {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center; }

/*Sustenabitlity Idea Section*/
.css-class-wrapper-fake .sustainability {
  margin: 20px 0;
  padding: 5px 0; }

.css-class-wrapper-fake .sustainability form .btn {
  display: block;
  margin: 0 auto; }

