/* ------- General layout Idea ------- */
.css-class-wrapper-fake b {
  font-weight: bold; }

.css-class-wrapper-fake legend {
  border-bottom-width: 3px; }

.core-1 .css-class-wrapper-fake legend {
  border-color: #38ADC7; }

.core-2 .css-class-wrapper-fake legend {
  border-color: #B6BD00; }

.css-class-wrapper-fake legend.fieldset-legend .legend {
  display: block;
  line-height: 25px;
  margin-top: 20px;
  padding: 0 10px; }

/* - Heading - */
.css-class-wrapper-fake div#heading {
  display: block;
  margin: 20px 5px 20px;
  text-align: center;
  width: 100%; }

.css-class-wrapper-fake #idea-title {
  margin: 10px auto;
  width: 100%; }

.css-class-wrapper-fake div#heading .icon-user,
.css-class-wrapper-fake div#heading .icon-group {
  margin: 5px;
  padding: 0;
  /*   vertical-align: middle; */ }

.css-class-wrapper-fake div#heading span.icon-external-link {
  margin: 5px;
  padding: 5px;
  vertical-align: middle; }

/* ------- Genral layout Gara ------- */
.css-class-wrapper-fake #heading > div#divGaraChiusa {
  margin: 10px; }

.css-class-wrapper-fake .boldText.attentionColor {
  color: red; }

.css-class-wrapper-fake #img-div .swipebox {
  display: block; }

.css-class-wrapper-fake .challengeDates {
  display: inline-block;
  margin: 10px 0 0;
  width: 100%; }

.css-class-wrapper-fake section#general #img-div #closing fieldset, section#general #img-div #opening fieldset {
  margin: 0; }

.css-class-wrapper-fake .challengeDates .fieldset-legend {
  font-size: 1em;
  margin-bottom: 3px; }

/* ------- iFrame ------- */
iframe {
  display: block;
  margin: 0 auto;
  border: 0; }

/* ------- Buttons Manage ------- */
.css-class-wrapper-fake .stateButtonsTitle {
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px; }

.css-class-wrapper-fake .divBtnManager {
  /*   border-bottom: 1px solid #ddd; */
  /*   border-top: 1px solid #ddd; */ }

/* ------- Authors Section -------*/
.css-class-wrapper-fake .scrollableParentDiv {
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden; }

.css-class-wrapper-fake .scrollableDiv {
  display: inline-flex;
  display: -webkit-inline-flex;
  width: auto; }

.css-class-wrapper-fake .authors-items span.iconBox {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  padding: 4px 0px;
  width: 28px; }

/* ------- Artefact ------- */
.css-class-wrapper-fake .searchArtefactDiv {
  margin: 0 10px; }

.css-class-wrapper-fake .searchArtefactDiv > input#key {
  width: 50%; }

.css-class-wrapper-fake #resultsArtefactDiv {
  border-top: 1px dotted #ddd;
  margin: 20px 10px;
  padding: 10px; }

.css-class-wrapper-fake #resultsArtefactDiv {
  max-height: 350px;
  overflow: auto; }

.css-class-wrapper-fake #resultsArtefactDiv .collection {
  border: 0; }

.css-class-wrapper-fake .resultArtefact {
  display: block;
  margin-top: 20px; }

.css-class-wrapper-fake .resultArtefact a {
  margin: 0 10px; }

/* ------- Artifact marketplace ------- */
.css-class-wrapper-fake button.btn_close_artifact {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 solid #ccc;
  display: block;
  float: right;
  margin: 3px; }

.css-class-wrapper-fake .storeList li.market_item:hover button.btn_close_artifact {
  background: #ffffff; }

.css-class-wrapper-fake .storeList li.market_item button.btn_close_artifact:hover {
  color: red; }

.css-class-wrapper-fake .title_art {
  font-size: 1em; }

.css-class-wrapper-fake .storeList li.market_item {
  box-shadow: none; }

.css-class-wrapper-fake .storeList li.market_item:hover {
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }

.css-class-wrapper-fake section#associatedArtifactSection div {
  overflow-x: auto;
  width: auto; }

.css-class-wrapper-fake section#associatedArtifactSection .storeList {
  display: flex;
  display: -webkit-flex;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden; }

.css-class-wrapper-fake .resultArtefact {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px dotted #ddd;
  padding: 10px 0; }

/* Chiedere a Luigi a che serve la tabella (vuota) creata da questo elemento !!!!!! */
.css-class-wrapper-fake #associatedArtifactSection .lfr-search-container {
  display: none; }

/*Generic Enablers Section*/
.css-class-wrapper-fake .row.ge-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -webkit-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  -moz-shadow: -7px 0 7px -8px inset, 7px 0 7px -8px inset;
  padding: 0;
  overflow-x: auto; }

.css-class-wrapper-fake .row.ge-list .col.templateGE {
  display: block;
  min-width: 221px; }

.css-class-wrapper-fake .row.ge-list .col.templateGE.selectedGE {
  background-color: #7ec4d1; }

.css-class-wrapper-fake .ge-list .card-panel {
  width: 200px;
  cursor: pointer;
  padding: 0; }

.css-class-wrapper-fake .ge-list .card-panel .card-content {
  padding: 0px;
  border-radius: 0; }

.css-class-wrapper-fake .avatar-container {
  position: relative;
  padding-bottom: 14px; }

.css-class-wrapper-fake .ge-list .genenabler-img {
  width: auto;
  height: 60px;
  background-color: #ccc; }

.css-class-wrapper-fake .ge-list .style-green {
  background-color: #8dec74; }

.css-class-wrapper-fake .ge-list .style-grey {
  background-color: #ababab; }

.css-class-wrapper-fake .ge-list .style-yellow {
  background-color: #fad266; }

.css-class-wrapper-fake .ge-list .genenabler-img img {
  width: auto;
  max-height: 60px;
  margin: 0 auto;
  padding: 10px 0; }

.css-class-wrapper-fake .ge-list .text-container {
  padding: 5px 5px 10px;
  overflow: hidden;
  height: 130px; }

.css-class-wrapper-fake .ge-list .text-container .fullname {
  max-height: 40px;
  min-height: 40px;
  line-height: 20px;
  display: block;
  overflow: hidden; }

.css-class-wrapper-fake .ge-list .text-container .username {
  font-size: 0.7em;
  max-height: 100px;
  overflow: hidden;
  line-height: 20px; }

.css-class-wrapper-fake .ge-list .field-items .efficency-label {
  height: 20px;
  margin: auto 5px; }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A::before {
  content: url(../img/genericenablers/efficency_A.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A1::before {
  content: url(../img/genericenablers/efficency_A+.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A2::before {
  content: url(../img/genericenablers/efficency_A++.svg); }

.css-class-wrapper-fake .ge-list .field-items .efficency-label.efficency-label-A3::before {
  content: url(../img/genericenablers/efficency_A+++.svg); }

.css-class-wrapper-fake .ge-list .taxonomy-container {
  padding: 5px 5px; }

.css-class-wrapper-fake .ge-list .taxonomy-container .field-name-field-rank,
.css-class-wrapper-fake .ge-list .taxonomy-container .field-name-field-api-chapter {
  font-size: 10px;
  padding: 4px;
  margin: 0 0 4px; }

.css-class-wrapper-fake .ge-list .ge_details {
  padding: 5px 5px 15px; }

/* ------- Comments ------- */
.css-class-wrapper-fake #commentiSection .accordion-heading .title-text {
  color: #333;
  font-size: 21px;
  font-weight: bold; }

/* ------- Buttons (material) ------- */
.css-class-wrapper-fake .mdl-button.mdl-button--raised.mdl-button--expanded {
  width: 90%;
  max-width: 350px; }

/* ------- fine Buttons (material) ------- */
/* ------- Other buttons ------- */
/* btn section to Top */
.css-class-wrapper-fake button.btnTop {
  background-color: white;
  border-color: #ddd;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  bottom: 100px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  height: 34px;
  margin: 0;
  min-width: 34px;
  opacity: 0.5;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 32px;
  z-index: 9999; }

.css-class-wrapper-fake button.btnTop:hover {
  opacity: 1; }

.css-class-wrapper-fake .btnTop .icon-circle-arrow-up {
  font-size: 32px; }

.css-class-wrapper-fake #actionButtons .form.btnAction {
  margin: 20px 0;
  width: 100%; }

/* ------- fine Other buttons ------- */

