/* 2 Main Style Microportlet */
.statistiche-portlet {
  /* IMAGE */
  /*Lista Statistiche*/ }
  .statistiche-portlet .microportlet-img {
    background-color: transparent;
    /* 	  background-image: url("../img/microimgs/lemieidee.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover; }
  .statistiche-portlet #statsGraph > div {
    text-align: center; }
  .statistiche-portlet div#stats {
    margin-top: 60px; }
  .statistiche-portlet .firstlevel-list {
    margin: 10px; }
  .statistiche-portlet .secondlevel-list {
    list-style: outside none none; }
  .statistiche-portlet .list-value {
    margin: 0 10px; }
  .statistiche-portlet .list-text {
    font-style: italic; }

/* 2 END */

