/* ---------- All tasks toggle ---------- */
.tasks-portlet {
  /* ---------- Controls ---------- */
  /* ---------- Filter ---------- */
  /* ---------- Priority ---------- */
  /* ---------- Progress ---------- */
  /* ---------- Result style ---------- */
  /* ---------- Table style ---------- */
  /* ---------- Tags ---------- */ }
  .tasks-portlet .taglib-search-iterator-page-iterator-bottom {
    padding: 0; }
    .tasks-portlet .taglib-search-iterator-page-iterator-bottom .delta-selector, .tasks-portlet .taglib-search-iterator-page-iterator-bottom .search-results {
      display: none; }
    .tasks-portlet .taglib-search-iterator-page-iterator-bottom .search-pages {
      padding-top: 5px; }
  .tasks-portlet .tasks-options {
    height: 1em;
    margin-top: 5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
    .tasks-portlet .tasks-options table {
      float: right; }
    .tasks-portlet .tasks-options td {
      padding-left: 5px; }
  .tasks-portlet .control-wrapper {
    border: 1px solid #C8C9CA;
    margin: 0.5em 0;
    padding: 6px; }
    .tasks-portlet .control-wrapper a {
      background: no-repeat 0% 50%;
      padding: 1px 10px 1px 20px; }
    .tasks-portlet .control-wrapper .add-task {
      background-image: url(@theme_image_path@/common/add.png); }
    .tasks-portlet .control-wrapper .filter-tasks {
      background-image: url(@theme_image_path@/common/tag.png);
      float: right;
      padding-right: 0; }
    .tasks-portlet .control-wrapper .permission-tasks {
      background-image: url(@theme_image_path@/common/permissions.png); }
  .tasks-portlet .filter-wrapper {
    background: #DFF4FF;
    border: 1px solid #A7CEDF;
    margin: 0 0 1em;
    position: relative; }
    .tasks-portlet .filter-wrapper:after {
      border: 10px solid;
      border-color: transparent transparent #A7CEDF;
      content: "";
      position: absolute;
      right: 10px;
      top: -20px; }
    .tasks-portlet .filter-wrapper h3 {
      background: #A7CEDF;
      font-size: 11px;
      margin: 0;
      padding: 2px 5px; }
  .tasks-portlet .filter-container {
    padding: 0.2em 0.5em; }
  .tasks-portlet .filter-control-container {
    padding-top: 0;
    text-align: right; }
  .tasks-portlet .asset-tag-filter .asset-tag {
    background: url(../images/unselected.png) no-repeat 0% 50%;
    margin-right: 0.5em;
    padding-left: 16px; }
    .tasks-portlet .asset-tag-filter .asset-tag.selected {
      background-image: url(../images/selected.png);
      font-weight: bold; }
  .tasks-portlet .group-filter select {
    min-width: 175px; }
  .tasks-portlet .tasks-title {
    padding: 1px 0 1px 20px; }
  .tasks-portlet .progress-wrapper {
    background: #FFF;
    border: 1px solid #CCC;
    font-size: 11px;
    position: relative; }
  .tasks-portlet .new-progress, .tasks-portlet .progress {
    background: #E8EFF4; }
  .tasks-portlet .progress {
    height: 100%; }
  .tasks-portlet .progress-wrapper, .tasks-portlet .progress-wrapper div {
    height: 15px;
    width: 100px; }
  .tasks-portlet .progress-wrapper .new-progress {
    width: 0%;
    z-index: 9; }
  .tasks-portlet .due-date, .tasks-portlet .progress-indicator, .tasks-portlet .progress-selector, .tasks-portlet .progress-wrapper .new-progress {
    left: 0;
    position: absolute;
    top: 0; }
  .tasks-portlet .due-date, .tasks-portlet .progress-indicator {
    text-align: center; }
  .tasks-portlet .past-due {
    color: red; }
  .tasks-portlet .due-date {
    z-index: 10; }
  .tasks-portlet .progress-indicator {
    z-index: 11; }
  .tasks-portlet .progress-selector {
    background: url(@theme_image_path@/spacer.png);
    z-index: 12; }
    .tasks-portlet .progress-selector a {
      display: block;
      float: left;
      height: 100%;
      width: 20%; }
  .tasks-portlet .result-data {
    color: #777; }
    .tasks-portlet .result-data span {
      margin-right: 1em;
      white-space: nowrap; }
  .tasks-portlet .list-wrapper .col-2 {
    width: 105px; }
  .tasks-portlet .list-wrapper .col-3 {
    width: 16px; }
  .tasks-portlet .tags-wrapper {
    position: relative;
    width: 16px; }
    .tasks-portlet .tags-wrapper .icon {
      background: url(@theme_image_path@/common/tag.png) no-repeat;
      height: 16px;
      width: 16px; }
  .tasks-portlet .tags {
    background: #E5F6FF;
    border: 1px solid #B5D7E5;
    max-width: 350px;
    min-width: 150px;
    padding: 0 4px;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 20; }

/* ---------- Dialog ---------- */
.tasks-dialog {
  font-size: 11px;
  /* Comments */ }
  .tasks-dialog .lfr-table .lfr-label {
    font-weight: bold;
    vertical-align: top; }
  .tasks-dialog .input-task-description {
    min-width: 350px; }
  .tasks-dialog .task-data-container {
    color: #777;
    margin-bottom: 1em; }
    .tasks-dialog .task-data-container .task-data {
      border-right: 1px solid #777;
      display: inline;
      margin-right: 0.5em;
      padding: 1px 0.5em 1px 20px; }
    .tasks-dialog .task-data-container .reporter {
      background: url(@theme_image_path@/common/add_user.png) no-repeat 0 50%; }
    .tasks-dialog .task-data-container .assignee {
      background: url(@theme_image_path@/common/assign.png) no-repeat 0 50%; }
    .tasks-dialog .task-data-container .modified-date {
      background: url(@theme_image_path@/common/calendar.png) no-repeat 0 50%;
      border-right-width: 0; }
  .tasks-dialog .layout {
    margin-bottom: 1em; }
  .tasks-dialog .task-data-table .task-data {
    display: block;
    padding: 1px 0 1px 20px; }
  .tasks-dialog .fieldset .due-date-label {
    margin-top: 10px; }
  .tasks-dialog .fieldset .due-date-toggle {
    margin: 0 0 10px;
    padding-left: 2px; }
  .tasks-dialog .task-action {
    background: #EEE;
    border-top: 1px solid #BFBFBF;
    margin: 1em 0;
    overflow: hidden;
    padding: 0.5em; }
    .tasks-dialog .task-action .button-submit {
      margin-right: 3px; }
    .tasks-dialog .task-action .button, .tasks-dialog .task-action .task-action-button, .tasks-dialog .task-action .task-action-spacer {
      float: left; }
  .tasks-dialog .task-action-spacer {
    border-left: 1px solid #BFBFBF;
    margin-left: 0.5em;
    padding-left: 0.5em; }
  .tasks-dialog .task-action-right {
    float: right; }
  .tasks-dialog .comment-form {
    height: 50px;
    margin-bottom: 0.5em;
    width: 400px; }
  .tasks-dialog .comment-wrapper {
    margin-bottom: 1em; }
  .tasks-dialog .edit-notice {
    font-style: italic;
    margin-right: 2px;
    padding: 0 2px; }
  .tasks-dialog .comment-info {
    color: #777; }
    .tasks-dialog .comment-info span {
      margin-right: 0.5em; }

.upcoming-tasks-portlet .tasks-entries-container ul, .upcoming-tasks-portlet .tasks-entries-container li {
  list-style: none;
  margin: 0;
  padding: 0; }
.upcoming-tasks-portlet .tasks-entries-container .tasks-title a {
  display: block;
  padding: 1px 0 1px 20px; }

.tasks-portlet .task-data-table .high, .tasks-portlet .tasks-title.high, .upcoming-tasks-portlet .tasks-entries-container .high a {
  background: url(../images/priority_high.png) no-repeat 0 50%; }

.tasks-portlet .task-data-table .normal, .tasks-portlet .tasks-title.normal, .upcoming-tasks-portlet .tasks-entries-container .normal a {
  background: url(../images/priority_normal.png) no-repeat 0 50%; }

.tasks-portlet .task-data-table .low, .tasks-portlet .tasks-title.low, .upcoming-tasks-portlet .tasks-entries-container .low a {
  background: url(../images/priority_low.png) no-repeat 0 50%; }

.tasks-portlet .task-data-table .due-date, .upcoming-tasks-portlet .tasks-entries-container .due-date a {
  background: url(@theme_image_path@/common/date.png) no-repeat 0 50%; }

.ie6 .tasks-portlet .tags {
  width: 250px; }

/* ---------- Extras ---------- */
.tasks-portlet .control-wrapper, .tasks-portlet .filter-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* -------- ROB -------- */
.taglib-header .header-title {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  white-space: normal; }

#toggleDueDate {
  display: inline-block;
  float: right; }

#toggleDueDate i {
  font-weight: bold; }

