<%@page import="com.liferay.portal.kernel.util.Validator"%>
<!-- FIRST SECTION -->

<!-- SLIDE homeOIA -->
<div class="hide-on-med-and-down centerBackgroundDesktop">

	 <div class="row layoutLarge">   
	   <div class="col m12 center ActionsBtns">

	<!-- 	Need -->
	
			<% if (needEnabled){ %>
				<a class="btn" href="<%=urlNeedsExplorerPage%>"  data-constrainwidth="false"><liferay-ui:message key="ims.needs" /></a>
			<%}%>
	
	 <%-- 
	 <% if (!isEnte){ %>
	   		<a class='dropdown-button btn' href='#' data-activates='dropdownChallenge' data-constrainwidth="false">Need</a>
	   		<ul id='dropdownChallenge' class='dropdown-content'>
	
				<!--    Create a nedd -->
				<% if ( Validator.isNull(utenteCorrente)) {	%>
				<li>
					<a class="btnNext_left" data-tipo="challenge" href="<%=urlcreateChallengePage%>" ><i class="material-icons left">edit</i><liferay-ui:message key="create"/></a>
				</li>
				<%}%>
				<!-- 	View Needs -->
				<li>
					<a class="waves-effect waves-light" href="<%=urlNeedsExplorerPage%>" data-tipo="need"><i class="material-icons left">visibility</i><liferay-ui:message key="ims.view-all-f"/></a>
				</li>
			</ul>
	<%} %> 
	--%>

	<!-- 	Challenge -->	   
	   		<a class='btn' href="<%=urlChallengesExplorerPage%>" data-activates='dropdownChallenge' data-constrainwidth="false"><liferay-ui:message key="ims.challenges" /></a> 
<!-- 	   		<ul id='dropdownChallenge' class='dropdown-content dropdownChallenge'> -->
    			
<!-- 				   Create an initiative -->
<%-- 				<% if (isEnte){ %> --%>
<!-- 				<li> -->
<%-- 					<a class="" data-tipo="challenge" href="<%=urlcreateChallengePage%>" ><i class="material-icons left">edit</i><liferay-ui:message key="ims.create-an-initiative" /></a> --%>
<!-- 				</li> -->
<%-- 				<%} %> --%>
<!-- 					View the initiative -->
<!-- 				<li> -->
<%-- 					<a class="" href="<%=urlChallengesExplorerPage%>"  ><i class="material-icons left">visibility</i><liferay-ui:message key="ims.view-initiatives" /></a> --%>
<!-- 				</li> -->
<!-- 			</ul> -->
			
	<!-- 	Idea -->
			
			<a class="btn" href="<%=urlIdeasExplorerPage%>" data-activates='dropdownIdea'	data-constrainwidth="false"><liferay-ui:message key="ims.ideas" /></a>
<!-- 			<ul id='dropdownIdea' class='dropdown-content dropdownIdea'> -->
<%-- 			<% if (!isEnte && Validator.isNotNull(utenteCorrente) && ( 
// 								(needEnabled && (areThereOpenChallenge || areThereNeedByPilot)) ||
// 								(!needEnabled && areThereOpenChallenge) ||
// 								(!areThereOpenChallenge && reducedLifecycle)		
					)   ){ %> --%>
<!-- 				Create an Idea -->
<!--     			<li> -->
<!-- 					<a 	class="btnNext_right"  data-tipo="idea"><i class="material-icons left">edit</i><liferay-ui:message key="ims.create-an-idea" /></a>  -->
<!-- 				</li> -->
<%-- 			<%} %>	 --%>
<!-- 				View Ideas -->
<%-- 				<% if (publicIdeasEnabled || (!publicIdeasEnabled && Validator.isNotNull(utenteCorrente))){%> --%>
<!-- 				<li>	 -->
<%-- 					<a class="waves-effect waves-light" href="<%=urlIdeasExplorerPage%>" ><i class="material-icons left">visibility</i><liferay-ui:message key="ims.view-ideas" /></a>  --%>
<!-- 				</li> -->
<%-- 				<%}%> --%>
				
<!-- 			</ul> -->
			
			
	<!-- 	Go to FundingBox -->
			<% if (fundingBoxEnabled){ %>
				<a class="waves-effect waves-light btn core-color color-2" href="<%=fundingBoxAddress%>" target="_blank"><i class="material-icons left">launch</i><liferay-ui:message key="ims.go-to-fundingbox" /></a>
			<%}%>
	   </div>
	   <div class="row hide">&nbsp;<br></div>
	   <div class="row">&nbsp;<br></div>
	</div>
	
	<div class="row rowImages">
		<div class="col m4 leftHalf halfSection animated fadeIn" id="part1">
			<h4><liferay-ui:message key="ims.reduced-first-phase" />...</h4>
			<img class="sectionImg" src="<%=request.getContextPath()%>/img/homeOIA/sections/idea_evolutions_v3-01.png">
	    </div>
	    <div class="col m4 centerHalf halfSection animated fadeIn" id="part2">
			<h4>...<liferay-ui:message key="ims.reduced-second-phase" />...</h4>
			<img class="sectionImg" src="<%=request.getContextPath()%>/img/homeOIA/sections/idea_evolutions_v3-02.png">
	    </div>
	    <div class="col m4 rightHalf halfSection animated fadeIn" id="part3">
			<h4>...<liferay-ui:message key="ims.reduced-third-phase" />!</h4>
			<img class="sectionImg" src="<%=request.getContextPath()%>/img/homeOIA/sections/idea_evolutions_v3-03.png">
	    </div>
	 </div>
</div>

<!-- Tablet Device Version -->
<div class="hide-on-large-only hide-on-small-only centerBackgroundTablet">

	<div class="row layoutMedium">
	
	</div>
	<div class="row">
		<div class="col s12 halfSection" id="partTablet">
			<div class="rowe">
				<div class="col s4"><span class="flow-text"><liferay-ui:message key="ims.reduced-first-phase" />...</span></div>
				<div class="col s4  center-align"><span class="flow-text">...<liferay-ui:message key="ims.reduced-second-phase" />...</span></div>  
				<div class="col s4"><span class="flow-text">...<liferay-ui:message key="ims.reduced-third-phase" />!</span></div>
			</div>
			<img class="middleImage" src="<%=request.getContextPath()%>/img/homeOIA/sections/idea_evolutions_v3_tablet.png" />
	    </div>	
	</div>

</div>

<!-- Mobile Device Version -->
<div class="row hide-on-med-and-up centerBackgroundMobile">

			   
		<div class="col s12 halfSection" id="partMobile">
			<!-- No delete please!
			<div class="row">
				<div class="col s12 left-align"><span class="flow-text"><liferay-ui:message key="ims.reduced-first-phase" />...</span></div>
				<div class="col s12 center-align"><span class="flow-text">...<liferay-ui:message key="ims.reduced-second-phase" />...</span></div>  
				<div class="col s12 right-align"><span class="flow-text">...<liferay-ui:message key="ims.reduced-third-phase" />!</span></div>
			</div>
			 -->
			<img class="responsive-img smallImage" src="<%=request.getContextPath()%>/img/homeOIA/sections/idea_evolutions_v3_mobile.png" />

	    </div>	
	    
    	<div class="fixed-action-btn vertical click-to-toggle">
		    <a class="btn-floating btn core-color color-1">
		      <i class="material-icons">lightbulb_outline</i>
		    </a>
		    <ul class="btn-floating-text">
<!--    	Create an initiative -->
			<% if (isEnte){ %>		
		      <li><a class="btn-floating btn-floating-text core-color color-1" href="<%=urlcreateChallengePage%>"><liferay-ui:message key="ims.create-an-initiative" /><i class="material-icons right">edit</i></a></li>
		    <%} %>
<!-- 		View the initiative -->			      			    
		      <li><a class="btn-floating btn-floating-text core-color color-1" href="<%=urlChallengesExplorerPage%>"><liferay-ui:message key="ims.view-initiatives" /><i class="material-icons right">visibility</i></a></li>



				<% if (!isEnte && Validator.isNotNull(utenteCorrente) && (
								(needEnabled && (areThereOpenChallenge || areThereNeedByPilot)) ||
								(!needEnabled && areThereOpenChallenge) ||
								(!areThereOpenChallenge && reducedLifecycle)		
					)   ){ %>

<!-- 		Create an Idea -->
		      <li><a class="btn-floating btn-floating-text core-color color-1  btnNext_right" data-tipo="idea"><liferay-ui:message key="ims.create-an-idea" /><i class="material-icons right">edit</i></a></li>
		    <%} %>  

<!-- 		View your Ideas -->
			<% if (publicIdeasEnabled ||
					(!publicIdeasEnabled && Validator.isNotNull(utenteCorrente))
				){
			%>			      
		      <li><a class="btn-floating btn-floating-text core-color color-1" href="<%=urlIdeasExplorerPage%>"><liferay-ui:message key="ims.view-your-ideas" /><i class="material-icons right">visibility</i></a></li>
		    <%}%>  
		      
		      
		    <% if (fundingBoxEnabled){ %>
		      <li><a class="btn-floating btn-floating-text core-color color-2" href="<%=fundingBoxAddress%>" target="_blank"><liferay-ui:message key="ims.go-to-fundingbox" /><i class="material-icons right">launch</i></a></li>
		    <%}%>
		    </ul>
		 </div>
</div>

<!-- JavaScript file that provides information about the device that is accessing your page -->
<script type="text/javascript" src="//wurfl.io/wurfl.js"></script>

<script>

	$(document).ready(function() {
		
		/* verificare bene la differenza tra Serbo latino e cirillico*/
		var wl_lang = '<%= themeDisplay.getLocale() %>';
		var class_lang = 'flow_'+wl_lang;
		$('.halfSection#part3').addClass(class_lang);
		
		
		// Listen for orientation/reize changes
		$(window).on('resize', function(e) {
			this.location.href = this.location.href; //this method run also on Firefox
		});

		
		/* Manage Lock Screen on rotate display in Landscape mode for mobile smartphone*/
			var isSmartphone = /iphone|android|blackberry|windows phone|webos/i.test(navigator.userAgent.toLowerCase());
			if (WURFL.is_mobile === true && WURFL.form_factor === "Smartphone" && isSmartphone) {
			    // target SmartPhoneDevices
			    if (window.matchMedia("(orientation: landscape)").matches) {
			    	Materialize.toast('You are using a '+WURFL.form_factor, 2000);
	  				Materialize.toast('It is recommended to use a Portrait orientation!', 3000, '',function(){LockScreen();});
				}
			}else{
// 				Materialize.toast('Other', 1000);
			}
			
		//Clone the collapsible left buttons from the mobile div into the desktop div
		if(($( window ).width() <= "992") && ($( window ).width() > "600")){
			console.log("med "+$(window).width())
	 		$('.ActionsBtns').appendTo('.layoutMedium');
	 		
		}else{
			console.log("large "+$(window).width())
			$('.ActionsBtns').appendTo('.layoutLarge');
			
		}
	
			
	});

	/* Append a Lock Screen on rotate display in Landscape mode*/ 
	function LockScreen(){
		$("html body>div.materialize").append("<div class='locker'><h4 class='locker_text'>Please rotate your phone to Portrait mode.</h4></div>");
	}
 
    $( window ).load(function() {

		//Posiziona Floating Button
		var slidewidth = $(".fp-slides").width();
		var ccsTranslate = "translate3d(-"+slidewidth+"px, 0px, 0px)";
		$(".fixed-action-btn").css("transform", ccsTranslate);
		
		//Ridimensiona l'img in home in wide or potrait mode per mobile e tablet
	    $('#partMobile, #partTablet').find('img').each(function() {
	        var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
	        $(this).addClass(imgClass);
	    })
    });

</script>