<%@page import="it.eng.rspa.ideas.utils.MyConstants"%>
<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>
<%@page import="java.text.DateFormat"%>
<%@page	import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSChallengeServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.Challenges"%>
<%@page import="com.ibm.icu.text.DecimalFormat"%>
<%@page import="com.liferay.portlet.messageboards.service.MBMessageLocalServiceUtil"%>
<%@page import="com.liferay.portal.kernel.dao.orm.PropertyFactoryUtil"%>
<%@page import="com.liferay.portal.kernel.dao.orm.RestrictionsFactoryUtil"%>
<%@page import="com.liferay.portal.kernel.util.PortalClassLoaderUtil"%>
<%@page import="com.liferay.portal.kernel.dao.orm.DynamicQuery"%>
<%@page import="com.liferay.portal.kernel.dao.orm.DynamicQueryFactoryUtil"%>
<%@page import="com.liferay.portlet.messageboards.model.MBMessage"%>
<%@page import="java.util.Locale" %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>




<%-- include jquery by theme --%>
<script src="<%=request.getContextPath()%>/js/D3/d3.v3.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".content").show();
  //toggle the componenet with class msg_body
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".content").slideToggle(500);
  });
});
</script>

<portlet:defineObjects />



<%
User currentUser = PortalUtil.getUser(request); 
boolean isReducedLifecycle = IdeaManagementSystemProperties.getEnabledProperty("reducedLifecycle");
boolean isNeedEnabled = IdeaManagementSystemProperties.getEnabledProperty("needEnabled");
String urlHomeIms = IdeaManagementSystemProperties.getUrlHomeIMS();
%>
	
	<div id="stats">
	

	
	<%
	User challengeUserStats = PortalUtil.getUser(request); 
	List<CLSChallenge> challengesStats = CLSChallengeLocalServiceUtil.getChallengesByUserId(challengeUserStats.getPrimaryKey());
	Iterator<CLSChallenge> challengesStatsIt = challengesStats.iterator();
	int totalIdeas = 0;
	while(challengesStatsIt.hasNext()){
		CLSChallenge challenge = challengesStatsIt.next();
		List<CLSIdea> ideas = CLSIdeaLocalServiceUtil.getIdeasByChallengeId(challenge.getChallengeId());
		totalIdeas = totalIdeas + ideas.size();
	}
	
	int monitoringIdeas = 0;
	int implementationIdeas = 0;
	int refinementIdeas = 0;
	int selectedIdeas = 0;
	int evaluationIdeas = 0;
	int selectionIdeas = 0;
	int rejectedIdeas = 0;
	int completedIdeas = 0;


	
	double totChallengeScore = 0;
	double totChallengeComments = 0;
	double totChallengeRated = 0;
	
	for (CLSChallenge chl : challengesStats) {
		List<CLSIdea> ideas = CLSIdeaLocalServiceUtil.getIdeasByChallengeId(chl.getChallengeId());
		for (CLSIdea idea : ideas) {
						
			
			if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_MONITORING))) {
				monitoringIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_IMPLEMENTATION))) {
				implementationIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_REFINEMENT))) {
				refinementIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_SELECTED))) {
				selectedIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_EVALUATION))) {
				evaluationIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_ELABORATION))) {
				selectionIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_REJECT))) {
				rejectedIdeas++;
			} else if ((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_COMPLETED))) {
				completedIdeas++;
			}
			
			
		}
		
		
		List<RatingsEntry> lstRE = RatingsEntryLocalServiceUtil.getEntries(CLSChallenge.class.getName(), chl.getPrimaryKey());
		for(RatingsEntry RE:lstRE) {
			totChallengeScore += RE.getScore();
			
			if (RE.getScore() > 0)
				totChallengeRated++;
			
		}
		
		//ottengo i commenti
		DynamicQuery mbMessageQuery = DynamicQueryFactoryUtil.forClass(MBMessage.class, PortalClassLoaderUtil.getClassLoader());
		//AssetEntry entryIdea = AssetEntryLocalServiceUtil.getEntry(CLSChallenge.class.getName(), Long.valueOf(chl.getPrimaryKey()));
		mbMessageQuery.add(RestrictionsFactoryUtil.eq("classNameId", Long.valueOf(PortalUtil.getClassNameId(CLSChallenge.class.getName()))));
		mbMessageQuery.add(PropertyFactoryUtil.forName("parentMessageId").ne(Long.valueOf(0)));
		mbMessageQuery.add(PropertyFactoryUtil.forName("classNameId").eq(Long.valueOf(PortalUtil.getClassNameId(CLSChallenge.class.getName()))));
		mbMessageQuery.add(PropertyFactoryUtil.forName("classPK").eq(Long.valueOf(chl.getPrimaryKey())));
		mbMessageQuery.add(PropertyFactoryUtil.forName("categoryId").eq(Long.valueOf(-1)));
		List comments = MBMessageLocalServiceUtil.dynamicQuery(mbMessageQuery);
		totChallengeComments += comments.size();
	}
	
	int totalActiveIdeas = monitoringIdeas + implementationIdeas + refinementIdeas + selectedIdeas+ evaluationIdeas+ selectionIdeas;
	
	
	double averageChallengeScore = 0;
	double averageIdeaComments = 0;
	double averageideas = 0;
	
	if(challengesStats.size() > 0 ){
		if (totChallengeRated>0)
			averageChallengeScore = (double)totChallengeScore / (double)totChallengeRated;
		else
			averageChallengeScore=0;
		
		averageIdeaComments = (double)totChallengeComments / (double)challengesStats.size();
		averageideas = (double)totalIdeas / (double)challengesStats.size();
	}
	
	DecimalFormat decimalFIdeaStats = new DecimalFormat("#.##");
	
	%>
	
	
		<div class="section row " >
	  		<div class="col s12 m12 l6">
				<ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.total-of-my-challenges"/> <span class="badge"><%=challengesStats.size() %></span></li>
			    </ul>
			    
			    <ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.total-ideas-proposed-for-my-challenges"/><span class="badge"><%=totalIdeas %></span></li>
			    </ul>
			</div>
			
			<div class="col s12 m12 l6">
				
			    <ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.average-challenges-vote"/><span class="badge"><%=decimalFIdeaStats.format(averageChallengeScore) %></span></li>
			    </ul>
				<ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.average-ideas-number"/> <span class="badge"><%=decimalFIdeaStats.format(averageideas)%></span></li>
			    </ul>
			</div>
	
			
		</div>
			
	<%
	if(totalIdeas==0){
	
	%>	
		<p class='infoText bottomSpace'><liferay-ui:message key="ims.no-data"></liferay-ui:message></p>
	<%	
	}
	%>
	<%
	if(totalIdeas>0){
	%>
	
		<div id="piechart_3d" style="width: 100%; height: 100%; margin: 0 auto;"></div>
	
	<%
	}
	%>
	</div>
	
	
	
	<script type="text/javascript">
	
		var colori=[];  
		
		if($(".core-2").length > 0) {
			colori = ['#67B2E8', '#B6BD00', '#F7323F', '#CAC8C8'];
		}else{
			colori = ['#EFC929', '#5090C1', '#233E51', '#CAC8C8'];
		}
	
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	 	
	      
	      function drawChart() {
	    	  var data = google.visualization.arrayToDataTable([
	           ['Ideas', 'States '],
	    	   ['<liferay-ui:message key="ims.processing"/>', <%=selectionIdeas%>], 
	    	<%if (!isReducedLifecycle){ %>
	    	   ['<liferay-ui:message key="ims.evaluation"/>', <%=evaluationIdeas%>], 
	    	   ['<liferay-ui:message key="ims.selected"/>', <%=selectedIdeas%>], 
	    	<%} %>   
	    	   ['<liferay-ui:message key="ims.refinement"/>', <%=refinementIdeas%>], 
	    	<%if (!isReducedLifecycle){ %>	   
	    	   ['<liferay-ui:message key="ims.implementation"/>', <%=implementationIdeas%>], 
	    	   ['<liferay-ui:message key="ims.monitoring"/>', <%=monitoringIdeas%>],
	           ['<liferay-ui:message key="ims.rejected"/>', <%=rejectedIdeas%>]
	    	<%}else{ %>     			
		   	   ['<liferay-ui:message key="ims.completed"/>', <%=completedIdeas%>]
			<%} %>
	    	     ]);
	
	    	if($(window).width() > 992){ pos="labeled"; num="1";}
	    	else if($(window).width() > 600 && $(window).width() <= 992){ pos="left"; num="1"; }
	    	else if($(window).width() <= 600){ pos="top"; num="5";};
	    	
	    	
	        var options = {
	        	'chartArea':{width:'70%', height:'50%'},
		        'legend':{alignment:'center', position: pos, maxLines: num},
	          	'title': '<liferay-ui:message key="ims.ideas"/>',
	          	'is3D': true,
	          	'sliceVisibilityThreshold':0,
	          	'slices': {0: {color: colori[0]}, 1: {color: colori[1]}, 2: {color: colori[2]}, 3: {color: colori[3]}}
	        };
	
	        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
	        chart.clearChart();
	        chart.draw(data, options);
	      }

    </script>
	
			
